<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>显示地图</title>
    <style type="text/css">
        html, body{ height:100%; margin:0; padding:0;}
        #mapDiv{ width:500px; height:400px; background-color:#EFF5FF;}
    </style>
</head>
<body>
    <div id="mapDiv"></div>
</body>
<script type="text/javascript">
  var arr = [1,2,3,4,6,8];
  console.log(JSON.stringify(arr));
  console.log(arr);
</script>
</html>
