<{include file='./public/header' /}>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">车队</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form id="searchform" class="layui-form 
              layui-col-md12 x-so" >
            <input type="text" name="car_name"  value="<{$searchcar ? $searchcar : '';}>"  placeholder="请输入车队名字" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach" "><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
     <button class="layui-btn" onclick="x_admin_show('添加车队','<{:url('admin/AddressBook/carman_add')}>',700,450)"><i class="layui-icon"></i>添加</button>
    
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>车队名</th>
            <th>姓名</th>
            <th>职位</th>
            <th>电话</th>
            <th>手机</th>
            <th>QQ/微信</th>
            <th>传真</th>
            <th>所属港口</th>
            <th>所属城市</th>
            <th>操作</th></tr>
        </thead>
    <tbody >

      <{volist name="list" id="vo" }>
         <tr >
            <td>
             <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='<{$vo.id}>'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td class="tdata"><{$vo.id}></td>
            <td><{$vo.company}></td>
            <td><{$vo.name}></td>
            <td><{$vo.position}></td>
             <td><{$vo.tel}></td>
            <td><{$vo.phone}></td>
            <td><{$vo.qq}></td>
            <td><{$vo.fax}></td>
            <td><{$vo.port_name}></td>
            <td><{$vo.city}></td>
            <td class="td-manage">
              <a title="删除" onclick="member_del(this,'<{$vo.id}>') " href="javascript:;">
                <i class="layui-icon">&#xe640;</i> 
              </a>
            </td>
          </tr>
        <{/volist}>          
        </tbody> 
      </table>
      <div class="page">
        <div>
           <{$page}>
        </div>
      </div>

    </div>
      <div>
          <div>
    <script>
           /*执行搜索车队或者港口*/
           
//    function search(){
//         $.ajax({
//                type:'get',
//                url:"<{:url('admin/CarMan/man_list')}>",     
//                data: $("#searchform").serialize(),
//              //  data:{"success":true,"id":"1"} ,
//                dataType:"json",
//                async:false,
//                success:function(data){
//                  if(data.status==1){
//                    return 1;
//                  }else{
//                      return 0 ;
//                 }
//                         
//               },   error: function(XMLHttpRequest, textStatus, errorThrown){
//                    console.log(XMLHttpRequest.status);
//                    console.log(XMLHttpRequest.readyState);
//                    console.log(textStatus);
//                },
//
//        });
//        return 1;
    }
        
        
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });
     
  
      /*用户-删除*/
    function member_del(obj,did){
        layer.confirm('确认要删除吗？',function(index){
            //转成数组形式
            var dataA=new Array()
            dataA[0]=did ;
            var dataArray={id:dataA}
            toajax(dataArray);
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
         });
      }

   function delAll (argument) {
        var data = tableCheck.getData();
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            var dataArray={id:data};
            toajax(dataArray);
             layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }


       function toajax (dataArray){
            $.ajax({
                type:'POST',
                url:"<{:url('admin/CarMan/man_del')}>",    
                data:dataArray,
                dataType:"json",
                success:function(data){
                    if(data>0){
                     layer.msg('删除成功', {icon: 1});
                     $(".layui-form-checked").not('.header').parents('tr').remove();
                    }else{
                        return 0 ;
                  }
                }
            })
        }
    </script>
 
  </body>

</html>