<{include file='./public/header'/}>
  
  <body>
    <div class="x-body">
      <table class="layui-table">
        <thead>
          <tr>
            <th>职务</th>
            <th>姓名</th>
            <th>电话</th>
            <th>座机</th>
            <th>微信/QQ</th>
            <th>传真</th></tr>
        </thead>
    <tbody >
            <?php 
            foreach ($data as  $value) {
                echo '<tr><td class="tdata">'.$value['position'].'</td>';
                echo '<td class="tdata">'.$value['name'].'</td>';
                echo '<td class="tdata">'.$value['phone'].'</td>';
                echo '<td class="tdata">'.$value['tel'].'</td>';
                echo '<td class="tdata">'.$value['qq'].'</td>';
                echo '<td class="tdata">'.$value['fax'].'</td></tr>';
               }
            ?>
        </tbody> 
      </table>
    </div>

 
  </body>

</html>