<{include file='./public/header' /}>
<style>
    .layui-table td, .layui-table th{
        padding:4.5px 7px;
       
    }
</style>
<body>
<blockquote class="layui-elem-quote layui-text">
 实时船期
</blockquote>
              
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>船期录入</legend>
</fieldset>
 
<form class="layui-form"  id="cargoPlanForm">
<table class="layui-table">
  <colgroup>
    <col width="150">
     <col width="150">
     <col width="150">
     <col width="150">
     <col width="150">
     <col width="150">
     <col width="150">
     <col width="150">
  </colgroup>
  <thead>
    <tr>
      <th>船名</th>
      <th>航线/航次</th>
      <th>装货港</th>
      <th>实际装船时间</th>
      <th>离港时间</th>
      <th>卸货港</th>
       <th>到港时间</th>
       <th>卸船时间</th>
    </tr> 
  </thead>
  <tbody>
    <{for start="0" end="$num"}> 
    <tr>
      <td><input type="text" name="boatName[]" required  lay-verify="required" placeholder="请输入船名" autocomplete="off" class="layui-input"/></td>
      <td><div class="layui-input-inline ">
            <input   type="text" name="routes[]" required lay-verify="required" placeholder="请输入航线" autocomplete="off" class="layui-input"/>
            <input   type="text" name="voyage[]" required lay-verify="required" placeholder="请输入航次" autocomplete="off" class="layui-input"/>
          </div></td>
          <td><input type="hidden" name="loadPortCodeArr[]" value="<{portCodeArr[$i]}>" autocomplete="off" class="layui-input"/>
              <input type="text" name="loadPort[]"  readOnly="true" required  lay-verify="required" placeholder="请输入装货港口名" value="<{$portArr[$i]}>" autocomplete="off" class="layui-input"/></td>
       <td><div class="layui-input-inline">
            <input class="layui-input time" name="shipment_time[]"  placeholder="yyyy-MM-dd HH:mm:ss" type="text">
        </div></td>
        <td><div class="layui-input-inline"> 
            <input class="layui-input time" name="dispatch_time[]" placeholder="yyyy-MM-dd HH:mm:ss" type="text">
        </div</td>
         <td><input type="hidden" name="departurePort[]" value="<{portCodeArr[$i+1]}>" autocomplete="off" class="layui-input"/>
             <input type="text" name="departurePort[]" readOnly="true" required  lay-verify="required" placeholder="请输入卸货港口名" value="<{$portArr[$i+1]}>" autocomplete="off" class="layui-input"/></td>
         <td><div class="layui-input-inline">
            <input class="layui-input time" name="arrival_time[]" placeholder="yyyy-MM-dd HH:mm:ss" type="text">
        </div</td>
        <td><div class="layui-input-inline">
            <input class="layui-input time" name="discharge_time[]" placeholder="yyyy-MM-dd HH:mm:ss" type="text">
        </div</td>
    </tr>
    <{/for}>
  </tbody>
</table>
  <div class="layui-form-item">
    <div class="layui-input-block">
        <button type="button" class="layui-btn" id="login" >立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>

</form>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //同时绑定多个
  lay('.time').each(function(){
    laydate.render({
        elem: this
      ,type: 'datetime'
      ,trigger: 'click'
    });
  });
 
});

$(function(){
        $("#login").on('click',function (event) {
        $.ajax({
          type: 'post',
          url: "<{:url('admin/Order/toCargoPlan')}>",
          data: $("#cargoPlanForm").serialize(),
          dataType: "json",
          success: function (data) {
            if (data.status == 1) {
                alert("提交成功");
                parent.location.reload()
            } else {
              alert(data.msg+"提交失败");
            }
          }
        })
      })
  })

</script>
</body>
</html>