<{include file='./public/header' /}>

    <body>
        <link rel="stylesheet" href="__STATIC__/css/route_add.css">
        <form class="layui-form" action="">
            <div class="route layui-row">
                <div class="layui-col-xs3">
                    <!-- 航程 -->
                    <div class="layui-form-item">
                        <div style="margin-bottom: 10px;margin-top: 20px;">选择航线：</div>
                        <div class="layui-col-xs6">
                            <select name="quiz1" disabled="disabled">
                                <option value="">请选择航程</option>
                                <option value="中转一程" selected="">中转一程</option>
                            </select>
                        </div>
                        <div class="layui-col-xs6">
                            <select name="quiz2">
                                <option value="">请选择船公司</option>
                                <option value="1" selected="">船公司一</option>
                                <option value="2">船公司二</option>
                                <option value="3">船公司三</option>
                                <option value="4">船公司四</option>
                                <option value="5">船公司五</option>
                                <option value="6">船公司六</option>
                                <option value="7">船公司七</option>
                                <option value="8">船公司八</option>
                            </select>
                        </div>
                    </div>
                    <!-- 开船时间 -->
                    <div class="layui-form-item">
                        <div style="margin-bottom: 10px;margin-top: 20px;">实际开船时间：</div>
                        <div class="layui-col-xs12">
                            <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <!-- 截单时间 -->
                    <div class="layui-form-item">
                        <div style="margin-bottom: 10px;margin-top: 20px;">预计开船时间：</div>
                        <div class="layui-col-xs12">
                            <input type="text" name="date1" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <!-- 船名 -->
                    <div class="layui-form-item">
                        <div style="margin-bottom: 10px;margin-top: 20px;">船名：</div>
                        <div class="layui-col-xs12">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入船名" class="layui-input">
                        </div>
                    </div>
                    <!-- 航线港口 -->
                    <div class="layui-form-item">
                        <div style="margin-bottom: 10px;margin-top: 20px;">港口航线：</div>
                        <div class=" gang layui-col-xs5">
                            <select name="quiz1">
                                <option value="">请选择航程</option>
                                <option value="中转二程" selected="">黄埔港</option>
                            </select>
                        </div>
                        <div class="layui-col-xs2" style="line-height: 40px;text-align: center">—</div>
                        <div class="gang layui-col-xs5">
                            <select name="quiz1">
                                <option value="">请选择航程</option>
                                <option value="中转二程" selected="">黄埔港</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div style="height: 437px;width: 0px;float: left; margin:0 12%;border-left:1px solid #000;"></div>
                    <div class="layui-col-xs6">
                        <!-- 航程 -->
                        <div class="layui-form-item">
                            <div style="margin-bottom: 10px;margin-top: 20px;">选择航线：</div>
                            <div class="layui-col-xs6">
                                <select name="quiz1" disabled="disabled">
                                    <option value="">请选择航程</option>
                                    <option value="大船直航" selected="">大船直航</option>
                                </select>
                            </div>
                            <div class="layui-col-xs6">
                                <select name="quiz2">
                                    <option value="">请选择船公司</option>
                                    <option value="1" selected="">船公司一</option>
                                    <option value="2">船公司二</option>
                                    <option value="3">船公司三</option>
                                    <option value="4">船公司四</option>
                                    <option value="5">船公司五</option>
                                    <option value="6">船公司六</option>
                                    <option value="7">船公司七</option>
                                    <option value="8">船公司八</option>
                                </select>
                            </div>
                        </div>
                        <!-- 开船时间 -->
                        <div class="layui-form-item">
                            <div style="margin-bottom: 10px;margin-top: 20px;">实际开船时间：</div>
                            <div class="layui-col-xs12">
                                <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <!-- 截单时间 -->
                        <div class="layui-form-item">
                            <div style="margin-bottom: 10px;margin-top: 20px;">预计开船时间：</div>
                            <div class="layui-col-xs12">
                                <input type="text" name="date1" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <!-- 船名 -->
                        <div class="layui-form-item">
                            <div style="margin-bottom: 10px;margin-top: 20px;">船名：</div>
                            <div class="layui-col-xs12">
                                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入船名" class="layui-input">
                            </div>
                        </div>
                        <!-- 航线港口 -->
                        <div class="layui-form-item">
                            <div style="margin-bottom: 10px;margin-top: 20px;">港口航线：</div>
                            <div class=" gang layui-col-xs5">
                                <select name="quiz1">
                                    <option value="">请选择航程</option>
                                    <option value="中转二程" selected="">黄埔港</option>
                                </select>
                            </div>
                            <div class="layui-col-xs2" style="line-height: 40px;text-align: center">—</div>
                            <div class="gang layui-col-xs5">
                                <select name="quiz1">
                                    <option value="">请选择航程</option>
                                    <option value="中转二程" selected="">黄埔港</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div style="height: 437px;width: 0px;float: right;margin:0 12%;border-left:1px solid #000;"></div>
                </div>
                <div class="layui-col-xs3">
                    <!-- 航程 -->
                    <div class="layui-form-item">
                        <div style="margin-bottom: 10px;margin-top: 20px;">选择航线：</div>
                        <div class="layui-col-xs6">
                            <select name="quiz1" disabled="disabled">
                                <option value="">请选择航程</option>
                                <option value="中转二程" selected="">中转二程</option>
                            </select>
                        </div>
                        <div class="layui-col-xs6">
                            <select name="quiz2">
                                <option value="">请选择船公司</option>
                                <option value="1" selected="">船公司一</option>
                                <option value="2">船公司二</option>
                                <option value="3">船公司三</option>
                                <option value="4">船公司四</option>
                                <option value="5">船公司五</option>
                                <option value="6">船公司六</option>
                                <option value="7">船公司七</option>
                                <option value="8">船公司八</option>
                            </select>
                        </div>
                    </div>
                    <!-- 开船时间 -->
                    <div class="layui-form-item">
                        <div style="margin-bottom: 10px;margin-top: 20px;">实际开船时间：</div>
                        <div class="layui-col-xs12">
                            <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <!-- 截单时间 -->
                    <div class="layui-form-item">
                        <div style="margin-bottom: 10px;margin-top: 20px;">预计开船时间：</div>
                        <div class="layui-col-xs12">
                            <input type="text" name="date1" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <!-- 船名 -->
                    <div class="layui-form-item">
                        <div style="margin-bottom: 10px;margin-top: 20px;">船名：</div>
                        <div class="layui-col-xs12">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入船名" class="layui-input">
                        </div>
                    </div>
                    <!-- 航线港口 -->
                    <div class="layui-form-item">
                        <div style="margin-bottom: 10px;margin-top: 20px;">港口航线：</div>
                        <div class=" gang layui-col-xs5">
                            <select name="quiz1">
                                <option value="">请选择港口</option>
                                <option value="中转二程" selected="">天津港</option>
                            </select>
                        </div>
                        <div class="layui-col-xs2" style="line-height: 40px;text-align: center">—</div>
                        <div class="gang layui-col-xs5">
                            <select name="quiz1">
                                <option value="">请选择航程</option>
                                <option value="中转二程" selected="">黄埔港</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- 按钮 -->
                <div class="layui-form-item">
                    <div class="layui-input-block an">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">保存</button>
                        <button class="layui-btn cancel">下一步</button>
                    </div>
                </div>

            </div>

        </form>

        <script type="text/javascript">
            //取消模态框
            $('.cancel').click(function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });

            layui.use(['form', 'layedit', 'laydate'], function () {
                var form = layui.form
                    , layer = layui.layer
                    , layedit = layui.layedit
                    , laydate = layui.laydate;

                //日期
                laydate.render({
                    elem: '#date'
                });
                laydate.render({
                    elem: '#date1'
                });
            });
        </script>

    </body>

    </html>