<{include file='./public/header' /}>
    <link rel="stylesheet" href="__STATIC__/../index/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/css/order_list.css">
    <div class="x-nav">
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-right: 20px;float:right" href="javascript:location.replace(location.href);"
            title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i>
        </a>
    </div>
    <!-- 搜索表单 -->
    <form class="layui-form" id="cont">
        <!-- 搜索内容 -->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline">
                    <input type="text" name="order_num" placeholder="订单号" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" name="track_num" placeholder="运单号" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-input-inline">
                    <a class="layui-btn cha">搜索</a>
                </div>
            </div>
        </div>



        <!-- 筛选内容 -->
        <div class="layui-row sou">
            <label class="layui-form-label"></label>
            <input type="checkbox" name="status" value="booking_note" lay-skin="primary" lay-filter="port" title="待订舱" checked="">
            <input type="checkbox" name="status" value="send_car" lay-skin="primary" lay-filter="port" title="待派车" checked="">
            <input type="checkbox" name="status" value="loading" lay-skin="primary" lay-filter="port" title="待装货" checked="">
            <input type="checkbox" name="status" value="up_container_code" lay-skin="primary" lay-filter="port" title="待报柜号" checked="">
            <input type="checkbox" name="status" value="load_ship" lay-skin="primary" lay-filter="port" title="待配船" checked="">
            <input type="checkbox" name="status" value="sea_waybill" lay-skin="primary" lay-filter="port" title="上传水运单" checked="">
            <input type="checkbox" name="status" value="unloading" lay-skin="primary" lay-filter="port" title="待送货" checked="">
        </div>

        <table class="layui-hide" id="test1" lay-filter="test1"></table>
    </form>

    <!-- 待订舱 -->
    <form class="layui-form" id="dc">
        <div class="layui-form-item">
            <label class="layui-form-label">运单号</label>
            <div class="layui-input-block">
                    <input type="text" name="track_num" lay-verify="title" autocomplete="off" placeholder="请输入运单号" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">订舱单</label>
            <div class="layui-input-block">
                    <a class="layui-btn" id="scdc">上传</a>
            </div>
        </div>

        <!-- 订舱单 -->

        <div class="layui-form-item">
            <div class="layui-input-block dingcang">
                <a class="layui-btn layui-btn-primary" id="scdc1">确定</a>
            </div>
        </div>
    </form>

    <div class="syd">
        <button type="button" class="layui-btn" id="scsyd">
            <i class="layui-icon">&#xe67c;</i>上传水运单
  
        </button>
    </div>

    <!-- 待派车，待送货 -->
    <form class="layui-form" id="car">
        <div class="yunding">
            <!-- 订单号 -->
            <input type="text" name="order_num">
            <!-- 运单号 -->
            <input type="text" name="track_num">
        </div>
        <div class="layui-col-xs12 xinx">
            <!-- <div class="layui-col-xs4">
                <div class="layui-form-item">
                    <label class="layui-form-label">联系人</label>
                    <div class="layui-input-block">
                        <input type="text" name="contact_name" lay-verify="title" autocomplete="off" placeholder="请输入联系人" class="layui-input">
                    </div>
                </div>
            </div> -->

            <!-- <div class="layui-col-xs6">
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号码</label>
                    <div class="layui-input-block">
                        <input type="text" name="contact_phone" lay-verify="title" autocomplete="off" placeholder="请输入手机号码" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs6">
                <div class="layui-form-item">
                    <label class="layui-form-label">派车时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="car_time" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <p>
            <br/>
            <br/>
            <br/>
            <br/>
        </p> -->

        <div id="chedui">
            <div class="hang">
                <div class="layui-form-item">
                    <label class="layui-form-label">车队名</label>
                    <div class="layui-input-block">
                        <input type="text" name="car_name" lay-verify="title" autocomplete="off" placeholder="请输入车队名" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">车牌号</label>
                    <div class="layui-input-block">
                        <input type="text" name="car_code" lay-verify="title" autocomplete="off" placeholder="请输入车牌号" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">司机姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="driver_name" lay-verify="title" autocomplete="off" placeholder="请输入司机姓名" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">身份证</label>
                    <div class="layui-input-block">
                        <input type="text" name="identity_card" lay-verify="title" autocomplete="off" placeholder="请输入身份证" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">柜号</label>
                    <div class="layui-input-block">
                        <input type="text" name="container_code" lay-verify="title" autocomplete="off" placeholder="请输入柜号" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">封条号</label>
                    <div class="layui-input-block">
                        <input type="text" name="seal" lay-verify="title" autocomplete="off" placeholder="请输入封条号" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>

    <!-- 待装货 -->
    <form class="layui-form" id="container">
        <div class="layui-col-xs12 ming">
            <div class="layui-col-xs3">
                司机
            </div>
            <div class="layui-col-xs3">
                柜号
            </div>
            <div class="layui-col-xs3">
                封条号
            </div>
            <div class="layui-col-xs3">
                时间
            </div>
        </div>
        <div class="dzh">

        </div>
    </form>

    <!-- 待报柜号 -->
    <form class="layui-form" id="dbgh">
        <div class="layui-col-xs12 ming">
            <div class="layui-col-xs6">
                柜号
            </div>
            <div class="layui-col-xs6">
                    封条号
            </div>
        </div>
        <div class="dzh">

        </div>
    </form>

    <!-- 待配船-->
    <form class="layui-form" id="dai_post">
        <div class="yunding">
            <!-- 订单号 -->
            <input type="text" name="order_num">
            <!-- 运单号 -->
            <input type="text" name="track_num">
        </div>

        <div class="dai">
            <div class="xian">
                <div class="layui-col-xs12 ming">
                    <div class="layui-col-xs5">
                        黄骅港
                    </div>
                    <div class="layui-col-xs2">
                        船名
                    </div>
            
                    <div class="layui-col-xs5">
                        清远港
                    </div>
                </div>
            
                <div class="dzh">
                    <div class="layui-col-xs12 gfth">
                        <div class="layui-col-xs3 lu">
                            <input type="hidden" name="port_code" value="'+arr[i].port_id+'" class="layui-input">
                        </div>
                        <div class="layui-col-xs5 inpt">
                            <input type="text" name="arrival_time" lay-verify="date" placeholder="到港时间" autocomplete="off" class="layui-input test-item">
                            <div class="he">-</div>
                            <input type="text" name="dispatch_time" lay-verify="date" placeholder="离港时间" autocomplete="off" class="layui-input test-item">
                        </div>
                        <div class="layui-col-xs2 ps">
                            <input type="text" name="ship_name" value="" lay-verify="title" autocomplete="off" placeholder="船名" class="layui-input">
                        </div>
                        <div class="layui-col-xs5 inpt">
                            <input type="text" name="arrival_time" lay-verify="date" placeholder="到港时间" autocomplete="off" class="layui-input test-item">
                            <div class="he">-</div>
                            <input type="text" name="dispatch_time" lay-verify="date" placeholder="离港时间" autocomplete="off" class="layui-input test-item">
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="xian">
                <div class="layui-col-xs12 ming">
                    <div class="layui-col-xs5">
                        黄骅港
                    </div>
                    <div class="layui-col-xs2">
                        船名
                    </div>
            
                    <div class="layui-col-xs5">
                        清远港
                    </div>
                </div>
            
                <div class="dzh">
                    <div class="layui-col-xs12 gfth">
                        <div class="layui-col-xs3 lu">
                            <input type="hidden" name="port_code" value="'+arr[i].port_id+'" class="layui-input">
                        </div>
                        <div class="layui-col-xs5 inpt">
                            <input type="text" name="arrival_time" lay-verify="date" placeholder="到港时间" autocomplete="off" class="layui-input test-item">
                            <div class="he">-</div>
                            <input type="text" name="dispatch_time" lay-verify="date" placeholder="离港时间" autocomplete="off" class="layui-input test-item">
                        </div>
                        <div class="layui-col-xs2 ps">
                            <input type="text" name="ship_name" value="" lay-verify="title" autocomplete="off" placeholder="船名" class="layui-input">
                        </div>
                        <div class="layui-col-xs5 inpt">
                            <input type="text" name="arrival_time" lay-verify="date" placeholder="到港时间" autocomplete="off" class="layui-input test-item">
                            <div class="he">-</div>
                            <input type="text" name="dispatch_time" lay-verify="date" placeholder="离港时间" autocomplete="off" class="layui-input test-item">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </form>

    <script type="text/html" id="toolbarDemo1">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    </div>
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="confirm"  title="">确认</a>
        <a class="layui-btn layui-btn-xs" lay-event="fk"  title="">申请放柜</a>
    </script>

    <!-- <script src="__STATIC__/js/jquery-3.2.1.min.js"></script>  -->
    <script src="__STATIC__/../index/layui/layui.js"></script>


    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        var url = "<{:url('admin/orderPort/waybill_upload')}>";
        layui.use(['jquery', 'layer', 'table', 'laydate', 'form', 'upload'], function () {
        var layer = layui.layer
            , table = layui.table
            , form = layui.form
            , $ = layui.jquery
            , upload = layui.upload
            , laydate = layui.laydate;
        var order_num;//运单号

        // 上传订舱单
        upload.render({
            elem: '#scdc' //绑定元素
            ,url: "<{:url('admin/Order/waybill_upload?type=book_note')}>" //上传接口
            ,accept: 'file' //普通文件
            ,auto:false
            ,bindAction:'#scdc1'
            ,before: function(obj){
                this.data ={order_num:order_num,track_num:$('input[name="track_num"]').val()};
            }
            ,done: function(res){
            //上传完毕回调
            if (res.status) {
                layui.layer.msg('提交成功', { icon: 1, time: 500 }, function () {
                    layer.close(index);
                });
            } else {
                layui.layer.msg('提交失败', { icon: 2, time: 1000 });
            }
            }
            ,error: function(){
            //请求异常回调
            }
        });

        // 上传水运单
        upload.render({
            elem: '#scsyd' //绑定元素
            ,url: "<{:url('admin/Order/waybill_upload?type=sea_waybill')}>" //上传接口
            ,accept: 'file' //普通文件
            ,before: function(obj){
                this.data ={order_num:order_num};
            }
            ,done: function(res){
            //上传完毕回调
            if (res.status) {
                layui.layer.msg('提交成功', { icon: 1, time: 500 }, function () {
                    layer.close(index);
                });
            } else {
                layui.layer.msg('提交失败', { icon: 2, time: 1000 });
            }
            }
            ,error: function(){
            //请求异常回调
            }
        });

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });
        laydate.render({
            elem: '#date2'
        });
        laydate.render({
            elem: '#date3'
        });
        laydate.render({
            elem: '#date4'
        });
        lay('.test-item').each(function(){
        laydate.render({
            elem: this
            ,trigger: 'click'
        });
        }); 
        //加载表格
        var biao = table.render({
            elem: '#test1'
            , url: "<{:url('admin/order/order_data')}>"
            , toolbar: '#toolbarDemo1'
            , method:'post'
            , title: '用户数据表'
            , width: '99%'
            , cols: [[
                { type: 'checkbox', fixed: 'left' }
                , { field: 'id', title: 'ID', unresize: true, width: 60 }
                , {
                    field: 'order_num', title: '订单号', width: 200, templet: function (res) {
                        return '<a href="<{:url("admin/OrderProcess/order_details")}>?order_num=' + res.order_num + '"  target="_blank">' + res.order_num + '</a>'
                    }
                }
                , { field: 'track_num', title: '订舱单号', width: 150 }
                , { field: 'ctime', title: '提交时间', sort: true, width: 200 }

                , { field: 'company', title: '船公司', width: 100 }
                , { field: 'boat', title: '船名/航次', width: 150,  templet: function (res) {
                        return '<div class="">' + res.boat_name + '/' + res.boat_code + '</div>'
                    }
                }
                , {
                    field: 'port_name', title: '起运港-目的港', width: 130, templet: function (res) {
                        return '<div class="">' + res.s_port_name + '-' + res.e_port_name + '</div>'
                    }
                }
                , { field: 'cargo', title: '货名', width: 100 }
                , { field: 'sales_name', title: '业务员', width: 100 }
                , { field: 'cutoff_date', title: '截单时间', sort: true, width: 150 }
                , { field: 'shipping_date', title: '船期', width: 100 }
                , { field: 'sea_limitation', title: '海上时效', width: 100 }
                , {
                    field: 'container', title: '箱型*柜量', width: 100, templet: function (res) {
                        return '<div class="">' + res.container_size + '*' + res.container_sum + '</div>'
                    }
                }
                , { field: 'status', title: '状态', width: 100 }
                , { field: 'container_buckle', title: '处理天数', width: 100 }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
            ]]
            , page: true
            , done: function (res, curr, count) {//数据调用之后
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                // console.log(res);
                //得到当前页码
                // console.log(curr); 
                //得到数据总量
                // console.log(count);  
                // let arry = res.data;
                // for (let i in arry) {
                //   $('a[lay-event="edit"]').eq(i).attr('title','465464&#10;');
                //   let shu = arry[i].extra_info.split(',');
                //   let ju = $('a[lay-event="edit"]').eq(i);
                //   for (let j = 0; j<shu.length-1;j++) {
                //     ju.attr('title',shu[j]+'&#10;')
                //   }
                // }
            }
        });

        //搜索
        $('.cha').click(function () {
            let arry = [];
            let search={};
            $('#cont input[type="text"]').each(function(){
                search[$(this).attr('name')]=$(this).val();
            })
            $('#cont .sou input[type="checkbox"]').each(function(){
                if($(this)[0].checked){
                    arry.push($(this).val());
                }
            })
            biao.reload({
                where: {
                    search:search,
                    status: arry
                },
                page: { curr: 1 }
            })
        });

        //监听行工具事件
        table.on('tool()', function (obj) {
            var data = obj.data;
            for (let i = 0; i < $('.yunding').length; i++) {
                $('.yunding').eq(i).find('input').eq(0).val(data.order_num);
                $('.yunding').eq(i).find('input').eq(1).val(data.track_num); 
            }
            if (obj.event === 'confirm') {//点击备注
            //    data.status = '待配船'
                // console.log(data.order_num, data.container_sum, data.status);
                if (data.status == '待订舱') {
                    order_num = data.order_num;
                    layer.open({
                        type:1
                        ,title: '待订舱,订单号：'+data.order_num+'  运单号：'+data.track_num
                        , shadeClose: true
                        , content: $('#dc')
                    });
                } else if (data.status == '待派车') {
                    let shu = $('#chedui .hang')[0].outerHTML;
                    $('#chedui').html('')
                    
                    $.get("<{:url('admin/order/LoadData')}>",{order_num:data.order_num},function(res){
                        for (let i = 0; i < res.length; i++) {                        
                            $('#chedui').append(`<div class="hang">
                        <div class="layui-form-item">
                            <label class="layui-form-label">车队名</label>
                            <div class="layui-input-block">
                                <input type="text" name="car_name" lay-verify="title" autocomplete="off" placeholder="请输入车队名" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">车牌号</label>
                            <div class="layui-input-block">
                                <input type="text" name="car_code" lay-verify="title" autocomplete="off" placeholder="请输入车牌号" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">司机姓名</label>
                            <div class="layui-input-block">
                                <input type="text" name="driver_name" lay-verify="title" autocomplete="off" placeholder="请输入司机姓名" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">身份证</label>
                            <div class="layui-input-block">
                                <input type="text" name="identity_card" lay-verify="title" autocomplete="off" placeholder="请输入身份证" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">柜号</label>
                            <div class="layui-input-block">
                                <input type="text" name="container_code" value="${res[i].container_code}" lay-verify="title" autocomplete="off" placeholder="请输入柜号" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">封条号</label>
                            <div class="layui-input-block">
                                <input type="text" name="seal" value="${res[i].seal}" lay-verify="title" autocomplete="off" placeholder="请输入封条号" class="layui-input">
                            </div>
                        </div>
                    </div>`);
                    }
                    })
                    layer.open({
                        type: 1
                        , title: '待派车,订单号：'+data.order_num+'  运单号：'+data.track_num
                        , content: $('#car')
                        , area: ['800px', '450px']
                        , shadeClose: true
                        , btn: ['确认']
                        , yes: function (index) {
                        let car_data = fun_arr($('#chedui .hang'));
                        let contact = fun_obj($('.xinx input'));                                                          
                            $.ajax({
                                type:"post",
                                url:"<{:url('admin/Order/send_car?type=load')}>",   //数据传输的控制器方法
                                data:{car_data:car_data,contact:contact,order_num:data.order_num,track_num:data.track_num},//这里data传递过去的是序列化以后的字符串
                                success:function(res){
                                    if (res.status) {
                                        layui.layer.msg('提交成功', { icon: 1, time: 500 }, function () {
                                            layer.close(layer.index);
                                        });
                                    } else {
                                        layui.layer.msg('提交失败', { icon: 2, time: 1000 });
                                    }
                                }
                            });
                        }
                    });
                } else if (data.status == '待装货') {
                    $('#container .dzh').html('');
                    //获取柜号封条号
                    $.get("<{:url('admin/order/LoadData')}>",{order_num:data.order_num},function(res){
                        for (let i = 0; i < res.length; i++) {
                            $('#container .dzh').append('<div class="layui-col-xs12 gfth"><div class="layui-col-xs3">'+
                            '<input type="hidden" name="id" value="'+res[i].id+'" class="layui-input">'+
                            '<input type="text" name="driver_name" value="'+res[i].driver_name+'" lay-verify="title" autocomplete="off" placeholder="司机姓名" class="layui-input" readonly>'+
                            '</div><div class="layui-col-xs3">'+
                            '<input type="text" name="container_code" value="'+res[i].container_code+'" lay-verify="title" autocomplete="off" placeholder="请输入柜号" class="layui-input in" readonly>'+
                            '</div><div class="layui-col-xs3">'+
                            '<input type="text" name="seal" value="'+res[i].seal+'" lay-verify="title" autocomplete="off" placeholder="请输入封条号" class="layui-input in" readonly>'+
                            '</div><div class="layui-col-xs3">'+
                            '<input type="date" name="work_time"  lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">'+
                            '</div></div>'); 
                        }
                        
                    });                          
                    
                    layer.open({
                        type: 1
                        , title: '待装货,订单号：'+data.order_num+'  运单号：'+data.track_num
                        , content: $('#container')
                        , area: ['800px', '300px']
                        , shadeClose: true
                        , btn: ['修改','确认']
                        , yes: function (index) {
                            fun_in($('#container .dzh .in'));
                            layui.layer.msg('可以修改柜号-封条号', { icon: 6, time: 1500 });
                        }
                        ,btn2:function(index){
                            let list = fun_arr($('#container .dzh .gfth'));                       
                            $.ajax({
                                type:"post",
                                url:"<{:url('admin/Order/addLoadTime')}>",   //数据传输的控制器方法
                                data:{list:list,order_num:data.order_num,track_num:data.track_num},//这里data传递过去的是序列化以后的字符串
                                success:function(res){
                                    if (res.status) {
                                        layui.layer.msg('提交成功', { icon: 1, time: 500 }, function () {
                                            layer.close(layer.index);
                                        });
                                    } else {
                                        layui.layer.msg('提交失败', { icon: 2, time: 1000 });
                                    }
                                }
                            });  
                            return false;
                        }
                    });
                } else if (data.status == '待报柜号') {
                    $('#dbgh .dzh').html('');
                    let cb = function(res){
                        let st = res;
                        for (let i = 0; i < data.container_sum; i++) {
                            $('#dbgh .dzh').append('<div class="layui-col-xs12 gfth"><div class="layui-col-xs6">'+
                            '<input type="hidden" name="id" value="'+st[i].id+'" class="layui-input in">'+
                            '<input type="text" name="container_code" value="'+st[i].container_code+'" lay-verify="title" autocomplete="off" placeholder="请输入柜号" class="layui-input in" readonly>'+
                            '</div><div class="layui-col-xs6">'+
                            '<input type="text" name="seal" value="'+st[i].seal+'" lay-verify="title" autocomplete="off" placeholder="请输入封条号" class="layui-input in" readonly>'+
                            '</div></div>');
                        }
                    }
                    fun_kf(data.order_num,cb);                    

                    layer.open({
                        type: 1
                        , title: '待报柜号,订单号：'+data.order_num+'  运单号：'+data.track_num
                        , shadeClose: true
                        , content: $('#dbgh')
                        , area: ['700px', '300px']
                        , btn: ['修改','确认']
                        , yes: function (index) {
                            fun_in($('#dbgh .dzh .in'));
                            layui.layer.msg('可以修改柜号-封条号', { icon: 6, time: 1500 });
                        }
                        ,btn2:function(index){
                            let list = fun_arr($('#dbgh .dzh .gfth')); 
                            $.ajax({
                                type:"post",
                                url:"<{:url('admin/Order/report_container')}>",   //数据传输的控制器方法
                                data:{list:list,order_num:data.order_num,track_num:data.track_num},//这里data传递过去的是序列化以后的字符串
                                success:function(res){
                                    if (res.status) {
                                        layui.layer.msg('提交成功', { icon: 1, time: 500 }, function () {
                                            layer.close(layer.index);
                                        });
                                    } else {
                                        layui.layer.msg('提交失败', { icon: 2, time: 1000 });
                                    }
                                }
                            });
                        }
                    });
                } else if (data.status == '待配船') {
                    $.get("<{:url('admin/order/cargo_plan_data')}>",{order_num:data.order_num},function(res){         
                    $('#dai_post .dai').html('');
                    //获取到之前录入的信息把null修改                                        
                    for (let i in res) {
                        let obj = res[i];                                                
                        Object.keys(obj).forEach((k)=>{
                            if (!obj[k]) {
                                res[i][k] = '';
                            };
                        });              
                    }

                    for (let i = 0; i < res.length-1; i++) {
                        if (i == 0) {
                            $('#dai_post .dai').append('<div class="xian"><div class="layui-col-xs12 ming">'+
                            '<div class="layui-col-xs5">'+res[i].port_name+'</div><div class="layui-col-xs2">'+
                            '船名</div><div class="layui-col-xs5">'+res[i+1].port_name+'</div></div>'+
                            '<div class="dzh"><div class="layui-col-xs12 gfth"><div class="layui-col-xs3 lu">'+
                            '<input type="hidden" name="port_code" value="'+res[i].port_code+'" class="layui-input in">'+
                            '</div><div class="layui-col-xs5 inpt">'+
                            '<input type="text" name="arrival_time" value="'+res[i].arrival_time+'" lay-verify="date" placeholder="到港时间" autocomplete="off" class="layui-input test-item in">'+
                            '<div class="he">-</div>'+
                            '<input type="text" name="dispatch_time" value="'+res[i].dispatch_time+'" lay-verify="date" placeholder="离港时间" autocomplete="off" class="layui-input test-item in">'+
                            '</div><div class="layui-col-xs2 ps">'+
                            '<input type="text" name="ship_name" value="'+res[i].ship_name+'" lay-verify="title" autocomplete="off" placeholder="船名" class="layui-input in">'+
                            '</div><div class="layui-col-xs5 inpt">'+
                            '<input type="text" name="arrival_time" value="'+res[i+1].arrival_time+'" lay-verify="date" placeholder="到港时间" autocomplete="off" class="layui-input test-item" ac ="d'+i+'">'+
                            '<div class="he">-</div>'+
                            '<input type="text" name="dispatch_time" value="'+res[i+1].dispatch_time+'" lay-verify="date" placeholder="离港时间" autocomplete="off" class="layui-input test-item" ac="l'+i+'">'+
                            '</div></div></div></div>');
                        }else if(i == res.length-2){
                            $('#dai_post .dai').append('<div class="xian"><div class="layui-col-xs12 ming">'+
                            '<div class="layui-col-xs5">'+res[i].port_name+'</div><div class="layui-col-xs2">'+
                            '船名</div><div class="layui-col-xs5">'+res[i+1].port_name+'</div></div>'+
                            '<div class="dzh"><div class="layui-col-xs12 gfth"><div class="layui-col-xs3 lu">'+
                            '<input type="hidden" name="port_code" value="'+res[i].port_code+'" class="layui-input in"><input type="hidden" name="port_code" value="'+res[i+1].port_code+'" class="layui-input ip">'+
                            '<input type="hidden" name="ship_name" value="" class="layui-input ip"></div><div class="layui-col-xs5 inpt">'+
                            '<input type="text" name="arrival_time" value="'+res[i].arrival_time+'" lay-verify="date" placeholder="到港时间" autocomplete="off" class="layui-input test-item in" ac="d'+[i-1]+'">'+
                            '<div class="he">-</div>'+
                            '<input type="text" name="dispatch_time" value="'+res[i].dispatch_time+'" lay-verify="date" placeholder="离港时间" autocomplete="off" class="layui-input test-item in" ac="l'+[i-1]+'">'+
                            '</div><div class="layui-col-xs2 ps">'+
                            '<input type="text" name="ship_name" value="'+res[i].ship_name+'" lay-verify="title" autocomplete="off" placeholder="船名" class="layui-input in">'+
                            '</div><div class="layui-col-xs5 inpt">'+
                            '<input type="text" name="arrival_time" value="'+res[i+1].arrival_time+'" lay-verify="date" placeholder="到港时间" autocomplete="off" class="layui-input test-item ip">'+
                            '<div class="he">-</div>'+
                            '<input type="text" name="dispatch_time" value="'+res[i+1].dispatch_time+'" lay-verify="date" placeholder="卸港时间" autocomplete="off" class="layui-input test-item ip">'+
                            '</div></div></div></div>');
                        }else{
                            $('#dai_post .dai').append('<div class="xian"><div class="layui-col-xs12 ming">'+
                            '<div class="layui-col-xs5">'+res[i].port_name+'</div><div class="layui-col-xs2">'+
                            '船名</div><div class="layui-col-xs5">'+res[i+1].port_name+'</div></div>'+
                            '<div class="dzh"><div class="layui-col-xs12 gfth"><div class="layui-col-xs3 lu">'+
                            '<input type="hidden" name="port_code" value="'+res[i].port_code+'" class="layui-input in">'+
                            '</div><div class="layui-col-xs5 inpt">'+
                            '<input type="text" name="arrival_time" value="'+res[i].arrival_time+'" lay-verify="date" placeholder="到港时间" autocomplete="off" class="layui-input test-item in" ac="d'+[i-1]+'">'+
                            '<div class="he">-</div>'+
                            '<input type="text" name="dispatch_time" value="'+res[i].dispatch_time+'" lay-verify="date" placeholder="离港时间" autocomplete="off" class="layui-input test-item in" ac="l'+[i-1]+'">'+
                            '</div><div class="layui-col-xs2 ps">'+
                            '<input type="text" name="ship_name" value="'+res[i].ship_name+'" lay-verify="title" autocomplete="off" placeholder="船名" class="layui-input in">'+
                            '</div><div class="layui-col-xs5 inpt">'+
                            '<input type="text" name="arrival_time" value="'+res[i+1].arrival_time+'" lay-verify="date" placeholder="到港时间" autocomplete="off" class="layui-input test-item" ac="d'+i+'">'+
                            '<div class="he">-</div>'+
                            '<input type="text" name="dispatch_time" value="'+res[i+1].dispatch_time+'" lay-verify="date" placeholder="离港时间" autocomplete="off" class="layui-input test-item" ac="l'+i+'">'+
                            '</div></div></div></div>');
                        }
                    }
                    
                    
                    //获取当前待配船的input
                    let inp1 = $('#dai_post .dai .xian input');
                    //当input有值改成只读
                    inp1.each(function(){
                        if ($(this).val()) {
                            $(this).css('border','0');
                            $(this).attr('readonly','readonly');
                            $(this).removeClass('test-item');
                        }
                    })
                    sj();
                    });
                    
                    layer.open({
                        type: 1
                        , title: '待配船,订单号：'+data.order_num+'  运单号：'+data.track_num
                        , shadeClose: true
                        , area: ['800px', '400px']
                        , btn: ['修改','确认']
                        , content: $('#dai_post')
                        , yes: function(index){
                            let inp1 = $('#dai_post .dai .xian input');
                            //点击修改的时候改变样式
                            inp1.each(function(){
                                $(this).css('border','1px solid #e6e6e6');
                                $(this).removeAttr('readonly','readonly');
                                if ($(this).attr('lay-verify') == 'date') {
                                    $(this).addClass('test-item');
                                }
                            })
                            sj();
                        }
                        , btn2: function (index) {
                            let list = fun_inp($('#dai_post .dzh .gfth')); 
                            let obj = {};//最后一次到港时间  
                            let boot = true;//判断是否可以提交                  
                            $('#dai_post .dzh .gfth .ip').each(function(index,item){
                                obj[$(item).attr('name')] = $(item).val(); 
                            });
                            list.push(obj);
                            
                            for (let i in list) {
                                if (list[i].dispatch_time) {
                                    if (!list[i].arrival_time) {
                                        boot = false;
                                        layui.layer.msg('请输入起始时间', { icon: 2, time: 2000 });
                                        break;
                                    }
                                    if (!list[i].ship_name) {
                                        boot = false;
                                        layui.layer.msg('离港请务必把船名填上', { icon: 2, time: 2000 });
                                        break;
                                    }
                                }
                            }
                                                        
                            if (boot) {
                                $.ajax({
                                type:"post",
                                url:"<{:url('admin/Order/cargo_plan')}>",   //数据传输的控制器方法
                                data:{list:list,order_num:data.order_num,track_num:data.track_num},//这里data传递过去的是序列化以后的字符串
                                success:function(res){
                                    if (res.status) {
                                        let a = layer.index;
                                        layui.layer.msg('提交成功', { icon: 1, time: 500 }, function () {
                                            layer.close(a);
                                        });
                                    } else {
                                        layui.layer.msg('提交失败', { icon: 2, time: 1000 });
                                    }
                                }
                            });
                            }
                            return false;
                        }
                    });
                } else if (data.status == '上传水运单') {
                    order_num = data.order_num;
                    layer.open({
                        type: 1
                        , title: '上传水运单'
                        , content: $('.syd')
                        , shadeClose: true
                        , area: ['200px', '110px']
                    });
                }else if (data.status == '待送货') {
                    if (data.container_buckle == 'unlock') {
                    
                    $('#chedui').html('')
                    $.get("<{:url('admin/order/LoadData')}>",{order_num:data.order_num},function(res){
                        for (let i = 0; i < res.length; i++) {                        
                            $('#chedui').append(`<div class="hang">
                        <div class="layui-form-item">
                            <label class="layui-form-label">车队名</label>
                            <div class="layui-input-block">
                                <input type="text" name="car_name" lay-verify="title" autocomplete="off" placeholder="请输入车队名" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">车牌号</label>
                            <div class="layui-input-block">
                                <input type="text" name="car_code" lay-verify="title" autocomplete="off" placeholder="请输入车牌号" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">司机姓名</label>
                            <div class="layui-input-block">
                                <input type="text" name="driver_name" lay-verify="title" autocomplete="off" placeholder="请输入司机姓名" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">身份证</label>
                            <div class="layui-input-block">
                                <input type="text" name="identity_card" lay-verify="title" autocomplete="off" placeholder="请输入身份证" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">柜号</label>
                            <div class="layui-input-block">
                                <input type="text" name="container_code" value="${res[i].container_code}" lay-verify="title" autocomplete="off" placeholder="请输入柜号" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">封条号</label>
                            <div class="layui-input-block">
                                <input type="text" name="seal" value="${res[i].seal}" lay-verify="title" autocomplete="off" placeholder="请输入封条号" class="layui-input">
                            </div>
                        </div>
                    </div>`);
                    }
                    })
                    layer.open({
                        type: 1
                        , title: '待派车,订单号：'+data.order_num+'  运单号：'+data.track_num
                        , content: $('#car')
                        , area: ['800px', '450px']
                        , shadeClose: true
                        , btn: ['确认']
                        , yes: function (index) {
                        let car_data = fun_arr($('#chedui .hang'));
                        let contact = fun_obj($('.xinx input'));                                                          
                            $.ajax({
                                type:"post",
                                url:"<{:url('admin/Order/send_car?type=send')}>",   //数据传输的控制器方法
                                data:{car_data:car_data,contact:contact,order_num:data.order_num,track_num:data.track_num},//这里data传递过去的是序列化以后的字符串
                                success:function(res){
                                    if (res.status) {
                                        layui.layer.msg('提交成功', { icon: 1, time: 500 }, function () {
                                            layer.close(layer.index
                                            );
                                        });
                                    } else {
                                        layui.layer.msg('提交失败', { icon: 2, time: 1000 });
                                    }
                                }
                            });
                        }
                    });
                        
                    }else{
                        layui.layer.msg('柜未通过审核', { icon: 2, time: 2000 });
                    }
                }
            } else if (obj.event === 'fk') {//单击申请放柜
                layer.confirm('是否申请放柜', {icon: 3, title:'提示'}, function(index){
                    $.get("<{:url('admin/Order/apply_cargo')}>",{order_num:data.order_num},function(res){
                        if (res.status) {
                            layui.layer.msg('提交成功', { icon: 1, time: 500 }, function () {
                                layer.close(layer.index);
                            });
                        } else {
                            layui.layer.msg('提交失败', { icon: 2, time: 1000 });
                        }
                    })                      
                });
            } else if (obj.event === 'yun') {//单击运单号

            }
        });

        //选中的数据
        $('button').click(function () {
            var checkStatus = table.checkStatus('test1');
            console.log(checkStatus);
        });

        //将form转换成数组
        function fun_arr(it){
            let car_data = [];
            for (let i = 0; i < it.length; i++) {
                let obj = {};
                it.eq(i).find('input').each(function(index,item){
                    obj[$(item).attr('name')] = $(item).val();                          
                })
                car_data.push(obj);
            }
            return car_data;
        }

        //将form转换成数组
        function fun_inp(it){
            let car_data = [];
            for (let i = 0; i < it.length; i++) {
                let obj = {};
                it.eq(i).find('.in').each(function(index,item){
                    obj[$(item).attr('name')] = $(item).val();                          
                })
                car_data.push(obj);
            }
            return car_data;
        }
        

        //将form转换成对象
        function fun_obj(it){
            let contact = {};
            it.each(function(i){
                contact[$(this).attr('name')]=$(this).val();
            })
            return contact;
        }
        

        //查询柜号封条号
        function fun_kf(ordersum,cb){
            $.ajax({
                type:"get",
                url:"<{:url('admin/order/LoadData')}>",   //数据传输的控制器方法
                data:{order_num:ordersum},//这里data传递过去的是序列化以后的字符串
                async: false,
                success:function(res){
                    cb&&cb(res);
                }
            });
        }

        //加载JS时间插件
        function sj() {
            lay('.test-item').each(function () {
                laydate.render({
                    elem: this
                    , trigger: 'click'
                    , done: function (value) {
                        let str = $(this.elem).attr('ac');
                        if (str) {
                            $('#dai_post .dai .xian input[ac="' + str + '"]').val(value);
                        }
                    }
                });
            });
        }
        
        //单机修改柜号封条号
        function fun_in(it){
            it.attr("readOnly",false);
        }
        
        $('.cha').click();
    });
    </script>
