<{include file='./public/header' /}>

    <body>
        <link rel="stylesheet" href="__STATIC__/css/route_add.css">
        <form class="layui-form" action="" id="waybillNum_form" >
        <input type="hidden" name='order_num' value="<{$order_num}>">
        <input type="hidden" name='container_sum' value="<{$container_sum}>">
        <input type="hidden" name='track_num' value="<{$track_num}>">
            <div class="route layui-row">
                <!-- 运单号 -->
                <div class="layui-form-item">
                    <label class="layui-form-label">运单号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="waybillNum" lay-verify="title" autocomplete="off" placeholder="请输入运单号" class="layui-input">
                    </div>
                </div>

                <!-- 按钮 -->
                <div class="layui-form-item">
                    <div class="layui-input-block an">
                       <button type="button" class="layui-btn" onclick ='toajax()'>保存</button>
                    </div>
                </div>
            </div>

        </form>

        <script type="text/javascript">
//            $('.cancel').click(function () {
//                var index = parent.layer.getFrameIndex(window.name);
//                parent.layer.close(index);
//            });
//            layui.use(['form', 'layedit', 'laydate'], function () {
//                var form = layui.form
//                    , layer = layui.layer
//                    , layedit = layui.layedit
//                    , laydate = layui.laydate;
//
//                //日期
//                laydate.render({
//                    elem: '#date'
//                });
//                laydate.render({
//                    elem: '#date1'
//                });
//
//            });
            
            
    function toajax() {
        $.ajax({
          type: 'post',
          url: "<{:url('admin/Order/waybillNum')}>",
          data: $("#waybillNum_form").serialize(),
          dataType: "json",
          success: function (data) {
            if (data.status == 1) {
                // alert("提交成功");
                layui.layer.msg('提交成功', {icon: 1,time: 1000});
                parent.location.reload()
            } else {
            //   alert(data.msg+"提交失败");
              layui.layer.msg(data.msg+"提交失败", {icon: 2,time: 1000});
            }
          }
        })
      }
            
        </script>

    </body>

    </html>