<{include file='./public/header'/}>
  
<body>
    <div class="x-body">
        <form class="layui-form" id="shipeditform">
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>船公司名缩写
                </label>
                <div class="layui-input-inline">
                    <input type="text" id ="ship_short_name"  name="ship_short_name" class="layui-input" value="">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>船公司名全称
                </label>
                <div class="layui-input-inline">
                    <input type="text"  name="ship_name" class="layui-input" value="">
                </div>
            </div>
            
            <div class="layui-form-item" id ="search_port">
            </div> 
            <div class="layui-form-item">
                <label  class="layui-form-label">
                </label>
                <input type="button" value="确 认" class="layui-btn"  onclick="toajax()"> 
            </div>
        </form>
    </div>

 <script>
     
       var url ="<{:url('admin/port/ship_toadd')}>";
        function toajax (){
                var loading = layer.load(1);
                $.ajax({
                    type:'POST',
                    url:url,
                    data:$("#shipeditform").serialize(),
                    dataType:"json",
                    success:function(data){
                        if(data.status>0){
                            post_adduser = false;
                            layer.close(loading);
                            layer.msg("添加成功", { icon: 6, time: 1000 }, function () {
                            // 获得frame索引
                            parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                        }else{
                            post_adduser = false;
                            layer.close(loading);
                            layer.msg("添加失败", { icon: 5 });
                            }
                            },
                        error: function () {
                                post_adduser = false; //AJAX失败也需要将标志标记为可提交状态
                                layer.close(loading);
                                layer.msg("添加失败", { icon: 5 });
                            }
                });
                return false;//只此一句
            }           
         
 </script>

</body>
</html>

