<{include file='./public/header'/}>
  
  <body>
    <div class="x-body">
      <table class="layui-table">
        <thead>
            <tr><th class="layui-bg-green"><?php echo $list['0']['port_name']; ?>aa</th>
                <th class="layui-bg-blue"><?php echo $list['0']['ship_short_name']; ?>aa</th>
            </tr>
            <tr>
            <th>职务</th>
            <th>姓名</th>
            <th>座机</th>
            <th>手机</th>
            <th>微信/QQ</th>
            <th>传真</th></tr>
        </thead>
    <tbody >
            <?php 
            foreach ($list as  $value) {
                echo '<tr><td class="tdata">'.$value['position'].'</td>';
                echo '<td class="tdata">'.$value['name'].'</td>';
                echo '<td class="tdata">'.$value['sn_tel'].'</td>';
                echo '<td class="tdata">'.$value['sn_mobile'].'</td>';
                echo '<td class="tdata">'.$value['sn_qq'].'</td>';
                echo '<td class="tdata">'.$value['sn_fax'].'</td></tr>';
               }
            ?>
        </tbody> 
      </table>
    </div>
  </body>
</html>
