<{include file='./public/header'/}>
  
  <body>
    <div class="x-body">
      <table class="layui-table">
   <?php 
        for($i=0;$i<count($list);$i++){
           if($i>0 && $i<(count($list)-1)){
             if( $list[$i+1]['shipport_id'] ==$list[$i]['shipport_id']){
            
                echo "<thead><th  align='center' class='layui-bg-red'>".$list[$i]['port_name']."</th>";
                echo '<tr>
                <th>职务</th>
                <th>姓名</th>
                <th>电话</th>
                <th>座机</th>
                <th>微信/QQ</th>
                <th>负责路线</th></tr>
            </thead>';
             }else{echo'<th></th>';}
			 }else{
                echo '<thead>';
                echo "<th  align='center' class='layui-bg-red'>".$list[$i]['port_name']."</th>";
                echo '<tr>
                <th>职务</th>
                <th>姓名</th>
                <th>电话</th>
                <th>座机</th>
                <th>微信/QQ</th>
                <th>负责路线</th></tr>
            </thead>';
             } 
               
                echo '<tbody ><tr>';
                echo '<th>'.$list[$i]['position'].'</th>';
                echo '<th>'.$list[$i]['name'].'</th>';
                echo '<th>'.$list[$i]['sn_mobile'].'</th>';
                echo '<th>'.$list[$i]['sn_tel'].'</th>';
                echo '<th>'.$list[$i]['sn_qq'].'</th>';
                echo '<th>'.$list[$i]['duty_line'].'</th></tr>';
                echo '</tbody>';
        }
            ?>
    </div>

 
  </body>

</html>