<{include file='./public/head' /}>
  <body>
      <link rel="stylesheet" href="__STATIC__/css/container.css">
    <div class="banner"></div>
    <div class="sale">
      <div class=" sale_top">
        <div class="hh1">
          <h1><strong>集装箱出售 / </strong>Container sale</h1>
          <div class="heng"></div>
        </div>
      </div>
      <div class="layui-row">
        <ul id="ghuo">
          <li>全新干货集装箱</li>
          <li>全新干货集装箱</li>
          <li>全新干货集装箱</li>
          <li>全新干货集装箱</li>
          <li>全新干货集装箱</li>
        </ul>

        <ul class="jzxcs">
          <li>
            <div class="tu">图片</div>
            <div class="qx">
              <v>全新干货集装箱</v>
              <span>￥229/个</span>
            </div>
          </li>
          <li>
            <div class="tu">图片</div>
            <div class="qx">
              <v>全新干货集装箱</v>
              <span>￥229/个</span>
            </div>
          </li>
          <li>
            <div class="tu">图片</div>
            <div class="qx">
              <v>全新干货集装箱</v>
              <span>￥229/个</span>
            </div>
          </li>
          <li>
            <div class="tu">图片</div>
            <div class="qx">
              <v>全新干货集装箱</v>
              <span>￥229/个</span>
            </div>
          </li>
          <li>
            <div class="tu">图片</div>
            <div class="qx">
              <v>全新干货集装箱</v>
              <span>￥229/个</span>
            </div>
          </li>
          <li>
            <div class="tu">图片</div>
            <div class="qx">
              <v>全新干货集装箱</v>
              <span>￥229/个</span>
            </div>
          </li>
          <li>
            <div class="tu">图片</div>
            <div class="qx">
              <v>全新干货集装箱</v>
              <span>￥229/个</span>
            </div>
          </li>
          <li>
            <div class="tu">图片</div>
            <div class="qx">
              <v>全新干货集装箱</v>
              <span>￥229/个</span>
            </div>
          </li>
          <li>
            <div class="tu">图片</div>
            <div class="qx">
              <v>全新干货集装箱</v>
              <span>￥229/个</span>
            </div>
          </li>
        </ul>
        <ul class="jzxcs">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
        </ul>
        <ul class="jzxcs">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
        </ul>
        <ul class="jzxcs">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
        </ul>
        <ul class="jzxcs">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
        </ul>
      </div>
    </div>

    <script type="text/javascript">
      $('#ghuo li').eq(0).addClass('ys');
      $('.jzxcs').eq(0).show();
      $('#ghuo li').click(function(event) {
        $(this).addClass('ys').siblings().removeClass('ys');
        $('.jzxcs').eq($(this).index()).show().siblings('.jzxcs').hide();
      });
    </script>
  </body>
</html>
