<{include file='./public/head' /}>
<body class="layui-layout-body">
      <link rel="stylesheet" href="__STATIC__/css/personal.css">
    <!-- 头部区域（可配合layui已有的水平导航） -->
<!-- <div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">layui 后台布局</div>
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="#">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="#">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
  </div>
  </div> -->

  <div class="layui-side layui-bg">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item"><a href="personal/steward.html" target="myFrame">物流管家</a></li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">订单中心</a>
          <dl class="layui-nav-child">
            <dd><a href="personal/all_order.html" target="myFrame">所有订单</a></dd>
            <dd><a href="personal/invalid.html" target="myFrame">作废订单</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;" target="myFrame">账单中心</a>
          <dl class="layui-nav-child">
            <dd><a href="personal/a_order.html" target="myFrame">生成账单</a></dd>
            <dd><a href="personal/form_order.html" target="myFrame">账单报表</a></dd>
          </dl>
        </li>

        <li class="layui-nav-item">
          <a href="javascript:;">企业中心</a>
          <dl class="layui-nav-child">
            <dd><a href="personal/info.html" target="myFrame">个人信息</a></dd>
            <dd><a href="personal/company.html" target="myFrame">公司信息</a></dd>
            <dd><a href="personal/common_info.html" target="myFrame">常用信息</a></dd>
            <!-- <dd><a href="personal/contract_info.html" target="myFrame">我的合同</a></dd> -->
          </dl>
        </li>
      </ul>
    </div>
  </div>

  <div class="layui-body body_nei">
    <!-- 内容主体区域 -->
    <iframe src="personal/steward.html" width="100%" height="0" name="myFrame" frameborder="0" scrolling="auto" id="mainiframe" ></iframe>
  </div>

  <!-- 底部固定区域 -->
  <!-- <div class="layui-footer" style="z-index:999">
    © layui.com - 底部固定区域
  </div> -->


<script>
function changeFrameHeight(){
        var ifm= document.getElementById("mainiframe");
        ifm.height=document.documentElement.clientHeight-220;
    }
    window.onresize=function(){ changeFrameHeight();}
    $(function(){changeFrameHeight();});

//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;

});
</script>
</body>
</html>
