<{include file='./public/top'/}>
    <link rel="stylesheet" href="__STATIC__/css/xadmin.css">
    <link rel="stylesheet" href="__STATIC__/css/personal_info.css">
    <script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
    <!-- 顶部开始 -->

    <div class="container">
        <!-- <div class="logo"><a href="./index.html">X-admin v2.0</a></div> -->
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <!-- <ul class="layui-nav left fast-add" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">+新增</a>
            <dl class="layui-nav-child">
              <dd><a onclick="x_admin_show('资讯','http://www.baidu.com')"><i class="iconfont">&#xe6a2;</i>资讯</a></dd>
              <dd><a onclick="x_admin_show('图片','http://www.baidu.com')"><i class="iconfont">&#xe6a8;</i>图片</a></dd>
               <dd><a onclick="x_admin_show('用户','http://www.baidu.com')"><i class="iconfont">&#xe6b8;</i>用户</a></dd>
            </dl>
          </li>
        </ul> -->
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;"><{$Think.session.name}></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="<{:url('login/login')}>">切换帐号</a></dd>
              <dd><a href="<{:url('login/logout')}>">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="/">前台首页</a></li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
     <div class="left-nav">
        <div id="side-nav">
            <!-- <ul id="nav">
                <li>
                    <a _href="<{:url('personal/steward')}>">
                        <i class="layui-icon">&#xe667;</i>
                        <cite>物流管家</cite>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe723;</i>
                        <cite>订单中心</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="<{:url('personal/all_order')}>">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>所有订单</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="<{:url('personal/place_order')}>">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>港到港订单</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="<{:url('personal/invalid')}>">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>废弃订单</cite>
                            </a>
                        </li>
                    </ul>
                </li>
               
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe705;</i>
                        <cite>账单中心</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="<{:url('personal/a_order')}>">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>生成账单</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="<{:url('personal/form_order')}>">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>账单报表</cite>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe726;</i>
                        <cite>企业中心</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="<{:url('personal/info')}>">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>个人信息</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="<{:url('personal/company')}>">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>公司信息</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="<{:url('personal/common_info')}>">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>常用信息</cite>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul> -->


            <ul id="nav">
                <li class="lan">
                    <a _href="<{:url('personal/place_order_port')}>">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>港到港订单</cite>
                    </a>
                </li>
                <li class="lan">
                    <a _href="<{:url('personal/place_order')}>">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>门到门订单</cite>
                    </a>
                </li>
                <li>
                    <a _href="<{:url('personal/port_bill')}>">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>我的账单</cite>
                    </a>
                </li>
                <li>
                        <a _href="<{:url('personal/info')}>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>完善信息</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="<{:url('personal/pwd_edit')}>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>修改密码</cite>
                        </a>
                    </li>
                <!-- <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>个人信息</cite>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="<{:url('personal/info')}>">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>完善信息</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="<{:url('personal/pwd_edit')}>">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>修改密码</cite>
                            </a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <script>
        window.onload = function func() {
            $(document).click(function () { return true; });
        }
    </script>
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li>订单中心</li>
          </ul>
          <div class="layui-tab-content" style="padding: 10px 0 0 10px;">
            <div class="layui-tab-item layui-show">
                <iframe src="<{:url('personal/place_order_port')}>" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2017 x-admin v2.3 All Rights Reserved</div>  
    </div>
    <!-- 底部结束 -->
    <script>
        $('#top ul li').eq(1).addClass('hang').siblings('li').removeClass('hang');
        $('#nav li').hover(
            function(){
                $(this).css('background-color','#2e8de5');
            },
            function(){
                $(this).css('background-color','');
            }
        )
        $('#nav li').click(function(){
            $(this).addClass('lan').siblings('li').removeClass('lan');
        })
    </script>