.x-nav{
    .an{
        float: right;
        line-height: 30px;
        height: 30px;
        margin-top: 3px;
        margin-right: 5px;
    }
}
.bumen{
    border-right: 1px solid #000;
}
.layui-input-inline{
    margin: 5px;
}

.tij{
   text-align: right; 
}
.zi{
    padding: 5px 0 0 10px;
    .xian{
        border: 0;
    }
}