<{include file='./public/header'/}>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input type="text" name="username"  placeholder="收货联系人" autocomplete="off" class="layui-input">
          <input type="text" name="username"  placeholder="装货公司名全称" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn layui-btn-normal" onclick="passAll()"><i class="layui-icon"></i>批量通过</button>
        <span class="x-right" style="line-height:40px">总共有<{$count}>条记录</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>订单号</th>
            <th>客户账号</th>
            <th>客户姓名</th>
            <th>航线</th>
            <th>货名</th>
            <th>船名/航次</th>
            <th>下单时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody >
          <{volist name="list" id="vo"}>  
          <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='<{$vo.id}>'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td class="tdata"><{$vo.order_num}></td>
            <td><{$vo.member_code}></td>
            <td><{$vo.name}></td>
            <td><{$vo.s_port_name}>-<{$vo.e_port_name}></td>
            <td><{$vo.cargo}></td>
            <td><{$vo.ship_short_name}>--<{$vo.boat_name}>/<{$vo.boat_code}></td>
            <td><{$vo.ctime}></td>
            <td class="td-manage">
                <!-- <a title="确认"  onclick="member_pass(this,'<{$vo.id}>')" href="javascript:;"> -->
                <a href="javascript:;">
                    <i class="layui-icon">&#xe63c;</i>
                </a>
            </td>
          </tr>
          <{/volist}>
        </tbody>
      </table>
      <div class="page">
        <div>
              <{$page}>
        </div>
      </div>

    </div>
    <script>     
    //查看
    $('.td-manage a').click(function(){
      var order_num = $(this).parent().siblings('.tdata').html();
      layer.open({
        type: 2, 
        content: "<{:url('admin/OrderPort/audit_page')}>?order_num="+order_num, //这里content是一个iframe,
        title :'详情信息',
        offset: 't',
        area :['80%','100%'],
        shadeClose :true
      });
    })
    /* 订单确认*/    
    function member_pass(obj,did){
        layer.confirm('确认通过吗？',function(index){
            //转成数组形式
            var dataA=new Array()
            dataA[0]=did ;
            var dataArray={id:dataA}
            var url = "<{:url('admin/orderPort/order_audit_pass')}>";
            toajax(dataArray,url);
            $(obj).parents("tr").remove();
            layer.msg('已通过!',{icon:1,time:1000});
         });
    }
    
     function passAll (argument) {
        var data = tableCheck.getData();
        layer.confirm('确认通过吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            var dataArray={id:data};
           var url = "<{:url('admin/orderPort/order_audit_pass')}>";
            toajax(dataArray,url);
            toajax(dataArray,url);
            layer.msg('已通过', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }


      /*用户-删除*/
    function member_del(obj,did){
        layer.confirm('确认要删除吗？',function(index){
            //转成数组形式
            var dataA=new Array()
            dataA[0]=did ;
            var dataArray={id:dataA}
            var url = "<{:url('admin/orderPort/order_audit_del')}>"
            toajax(dataArray,url);
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
         });
      }

   function delAll (argument) {
        var data = tableCheck.getData();
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            var dataArray={id:data};
           var url = "<{:url('admin/orderPort/order_audit_del')}>";
            toajax(dataArray,url);
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }


       function toajax (dataArray,url){
            $.ajax({
                type:'POST',
                url:url,    
                data:dataArray,
                dataType:"json",
                success:function(data){
                    if(data.status==1){
                      return 1;
                    }else{
                        return 0 ;
                  }
                }
            })
        }
    </script>
 
  </body>

</html>