<link rel="stylesheet" href="__STATIC__/../index/layui/css/layui.css">
<link rel="stylesheet" href="__STATIC__/css/port_list.css">
<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-right: 20px;float:right" href="javascript:location.replace(location.href);"
      title="刷新">
      <i class="layui-icon" style="line-height:30px">ဂ</i>
    </a>
</div>

  <form class="layui-form" id="cont">
    <!-- 搜索内容 -->
    <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label"></label>
          <div class="layui-input-inline">
            <input type="text" name="company" placeholder="客户单位" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
              <input type="text" name="order_num" placeholder="订单号"  autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" name="track_num" placeholder="运单号"  autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <div class="layui-input-inline">
                <a class="layui-btn cha">搜索</a>
            </div>
        </div>
    </div>

    <!-- 筛选内容 -->
    <div class="layui-row xuan">
        <label class="layui-form-label"></label>
        <!-- 付款方式 -->
        <div class="fangfa">
            <div class="port_left">
              <strong>付款方式</strong>
            </div>
            <div class="port_rig">
            <div class="cbox"><input type="checkbox" name="installment" value="installment" lay-skin="primary" title="到港付" checked=""></div>
            <div class="cbox"><input type="checkbox" name="cash" value="cash" lay-skin="primary" title="在线付" checked=""></div>
            <div class="cbox"><input type="checkbox" name="month" value="month" lay-skin="primary" title="月结" checked=""></div>
          </div>
        </div>
        <!-- 订单进度 -->
        <div class="fangfa">
            <div class="port_left">
              <strong>订单进度</strong>
            </div>
            <div class="port_rig">
            <div class="cbox"><input type="checkbox" name="book_note" value="book_note" lay-skin="primary" title="订舱单"></div>
            <div class="cbox"><input type="checkbox" name="container_code" value="container_code" lay-skin="primary" title="提交柜号"></div>
            <div class="cbox"><input type="checkbox" name="book_note" value="book_note" lay-skin="primary" title="水运单"></div>
          </div>
        </div>
        <!-- 收款状态 -->
        <div class="fangfa">
            <div class="port_left">
              <strong>收款状态</strong>
            </div>
            <div class="port_rig">
            <div class="cbox"><input type="checkbox" name="no_money"  value="no_money" lay-skin="primary" title="未收款" checked=""></div>
            <div class="cbox"><input type="checkbox" name="have_money"  value="have_money" lay-skin="primary" title="已收款"></div>
            <div class="cbox"></div>
          </div>
        </div>
        <!-- 订单状态 -->
        <div class="fangfa">
            <div class="port_left">
              <strong>订单状态</strong>
            </div>
            <div class="port_rig">
            <div class="cbox"><input type="radio" name="completion"  value="undone" title="未完成" checked=""></div>
            <div class="cbox"><input type="radio" name="completion"  value="done"  title="已完成"></div>
            <div class="cbox"></div>
          </div>
        </div>
        <!-- 扣柜状态 -->
        <div class="fangfa">
            <div class="port_left">
              <strong>扣柜状态</strong>
            </div>
            <div class="port_rig">
            <div class="cbox"><input type="radio" lay-filter="container_buckle" name="container_buckle" value="apply" title="审核中" checked=""></div>
            <div class="cbox"><input type="radio" lay-filter="container_buckle" name="container_buckle" value="lock" title="扣货"></div>
            <div class="cbox"><input type="radio" lay-filter="container_buckle" name="container_buckle" value="unlock" title="已放货"></div>
          </div>
        </div>
    </div>

    <!-- <div class="layui-form-item">
      <label class="layui-form-label"></label>
      <div class="layui-input-block">
          <input type="checkbox" name="order_all" value="order_all"lay-skin="primary" title="所有订单" checked="">
          <input type="checkbox" name="cash" value="cash" lay-skin="primary" title="在线付">
          <input type="checkbox" name="month" value="month" lay-skin="primary" title="月结">
          <input type="checkbox" name="book_note" value="book_note" lay-skin="primary" title="上传订舱/运单">
          <input type="checkbox" name="container_code" value="container_code" lay-skin="primary" title="客户提交柜号">
          <input type="checkbox" name="money_status"  value="money_status" lay-skin="primary" title="未收款">
          <input type="checkbox" name="sea_waybill"  value="sea_waybill" lay-skin="primary" title="上传水运单">
          <input type="checkbox" name="completion"  value="completion" lay-skin="primary" title="已经完成订单">
      </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-inline">
        <input type="radio" lay-filter="container_buckle" name="container_buckle" value="apply" title="审核中" checked="">
        <input type="radio" lay-filter="container_buckle" name="container_buckle" value="lock" title="扣货">
        <input type="radio" lay-filter="container_buckle" name="container_buckle" value="unlock" title="已放货">
        </div>
    </div>     -->
    <table class="layui-hide" id="test1" lay-filter="test1"></table>
  </form>



   <!-- 添加备注窗口 -->
   <div id="bz">
      <div class="beizhu"></div>
      <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入备注信息" class="layui-input">
  </div>
  
<script type="text/html" id="toolbarDemo1">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
  </div>
</script> 

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">备注</a>
</script>

<!-- <script src="__STATIC__/js/jquery-3.2.1.min.js"></script>  -->
<script src="__STATIC__/../index/layui/layui.js"></script>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>

layui.use(['jquery', 'layer','table','laydate','form'], function(){ 
  var layer = layui.layer
  ,table = layui.table
  ,form = layui.form
  ,$ = layui.jquery
  ,laydate = layui.laydate;

  var container_buckle = 'apply';//货物状态
  form.on('radio(container_buckle)', function(data){
    container_buckle = data.value;
    $('.cha').click();
  });
  
  var biao = table.render({
    elem: '#test1'
    ,url: "<{:url('admin/orderPort/portlist_data')}>"
    ,toolbar: '#toolbarDemo1'
    ,title: '用户数据表'
    ,width:'99%'
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field:'id', title:'ID', unresize: true,width:60}
      ,{field:'name', title:'订单号' ,width:150}
      ,{field:'ctime', title:'提交时间' ,width:150}
      ,{field:'member_code', title:'客户账号',sort: true ,width:200}
      ,{field:'company', title:'客户单位', width:200}
      ,{field:'track_num', title:'运单号' ,width:100}
      ,{field:'container_sum', title:'柜量' ,width:100}
       ,{field:'container_size', title:'柜型' ,width:100}
      ,{field:'ship_short_name', title:'船公司',width:100}
      ,{field:'boat_name', title:'船名', sort: true,width:200}
       ,{field:'boat_code', title:'航次', sort: true,width:200}
     ,{field:'s_port', title:'起运港', sort: true,width:200}
       ,{field:'e_port', title:'目的港', sort: true,width:200}
      ,{field:'quoted_price', title:'总运费',width:100}
      ,{field:'book_note', title:'订舱单',width:100}
      ,{field:'container_status', title:'补料',width:200}
      ,{field:'sea_waybill', title:'水运单',width:200}
      ,{field:'container_buckle', title:'货物状态',width:200}
      ,{field:'money_status', title:'付款状态',width:200}
      ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:80}
    ]]
    ,page: true
    , done: function(res, curr, count){//数据调用之后
    //如果是异步请求数据方式，res即为你接口返回的信息。
    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
    // console.log(res);
    //得到当前页码
    // console.log(curr); 
    
    //得到数据总量
    // console.log(count);
  }
  });

//搜索
$('.cha').click(function(){
  let data = $('#cont').serializeArray();//表单数据
  console.log(data);


  let company = $("input[name='company']").val();//用户名
  let order_num = $("input[name='order_num']").val();//订单号
  let track_num = $("input[name='track_num']").val();//订单号
  
  biao.reload({
    where:{
      company:company,
      order_num:order_num,
      track_num:track_num,
      container_buckle:container_buckle,
    },
    page:{curr:1}
  })
});

//监听行工具事件
table.on('tool()', function(obj){
    var data = obj.data;
    if(obj.event === 'edit'){
      layer.open({
        type:1
        ,title: '添加备注'
        ,content: $('#bz')
        ,shadeClose :true
        ,btn:['确认']
        ,yes:function(index){
          let beizhu = $('#bz input').val();
          $.get(url,{data:beizhu},function(data){
            if(data.status){
                layer.close(index);
                alert('添加成功');
            }else{
                alert('申请失败');
            }
          })
        }
      });   
    } 
  });

  //选中的数据
  $('button').click(function(){
    var checkStatus = table.checkStatus('test1');
  })

});



</script>
