<{include file='./public/header' /}>

    <body>
        <link rel="stylesheet" href="__STATIC__/../index/css/lrdd.css">
        <link rel="stylesheet" href="__STATIC__/../index/css/xiala.css">
        <link rel="stylesheet" href="__STATIC__/../index/css/all_order.css">
        <style>
            .layui-input-block {
                line-height: 35px;
            }

            .layui-input-block a {
                color: #2e8de5;
            }

            .shi {
                background-color: red !important;
            }
        </style>
        <form class="" id='order_data_form'>
            <div class="xxtx">
                <!-- 动态一 -->
                <div class="xxtx_dd er">
                    <div class="xx">
                        <strong>动态一</strong>
                    </div>
                    <div class="dd_nei bian">
                        <div class="layui-col-xs3">
                            <div class="layui-form-item">
                                <label class="layui-form-label">运单号：</label>
                                <div class="layui-input-block">
                                    <input name="track_num" lay-verify="title" autocomplete="off" placeholder="请输入运单号" class="layui-input" type="text" value="<{$list.track_num}>">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs9">
                            <div class="layui-form-item">
                                <label class="layui-form-label">订舱单</label>
                                <div class="layui-input-block">
                                    <?php  
                                    if(!$list['book_note']){
                                        echo'<span>订舱单未上传</span><a class="dcd" href="#">上传</a>';}
                                    else{
                                        $url= url('admin/OrderPort/downs',['order_num'=>$list['order_num'],'type'=>'book_note']);
                                        $str ='<a href="'.$url.'">下载</a>';
                                        echo '<span>订舱单已上传</span>'.$str;
                                        }
                                    ?>               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 动态二 -->
                <div class="xxtx_dd er">
                    <div class="xx">
                        <strong>动态二</strong>
                    </div>
                    <div class="dd_nei bian">
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">柜型：</label>
                                <div class="layui-input-block">
                                    <input name="container_size" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" type="text" value="<{$list.container_size}>"
                                        disabled>
                                </div>
                            </div>
                        </div>

                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">货名：</label>
                                <div class="layui-input-block">
                                    <input name="cargo" lay-verify="title" autocomplete="off" placeholder="请输入货名" class="layui-input" type="text" value="<{$list.cargo}>">
                                </div>
                            </div>
                        </div>
<!--                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">收货人：</label>
                                <div class="layui-input-block">
                                    <input name="consigner" lay-verify="title" autocomplete="off" placeholder="请输入收货人信息" class="layui-input" type="text" value="<{$list.consigner}>">
                                    </div>
                            </div>
                        </div>-->

                         <{if condition ="!empty($containerData)" }>
                        <div class="guix">
                            <div class="wenzi">柜号-封号：</div>
                            <div class="ggh">
                                <{volist name="containerData" id="container"}>
                                <div class="layui-form-item">
                                    <div class="guinei">
                                        <input name="container_code" placeholder="" autocomplete="off" class="layui-input" type="text" value="<{$container.container_code}>">
                                    </div>
                                    <div class="layui-form-mid">-</div>
                                    <div class="guinei">
                                        <input name="seal" placeholder="" autocomplete="off" class="layui-input" type="text" value="<{$container.seal}>">
                                    </div>
                                </div>
                                <{/volist}>
                            </div>
                        </div>
                         <{/if}>
                    </div>
                </div>

                <!-- 动态三 -->
                <div class="xxtx_dd er">
                    <div class="xx">
                        <strong>动态三</strong>
                    </div>
                    <div class="dd_nei bian">
                        <div class="layui-col-xs12">
                            <div class="layui-form-item">
                                <label class="layui-form-label">水运单：</label>
                                <div class="layui-input-block">
                                    <?php  
                                    if(!$list['sea_waybill']){
                                        echo'<span>水运单未上传</span><a class="syd" href="#">上传</a>';}
                                    else{
                                        $order_num= $list['order_num'];
                                        $url= url('admin/OrderPort/downs',['order_num'=>$list['order_num'],'type'=>'sea_waybill']);
                                        $str ='<a href="'.$url.'">下载</a>';
                                        echo '<span>水运单已上传</span>'.$str;
                                        }
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 委托信息 -->
                <div class="xxtx_dd er">
                    <div class="xx" style="margin-bottom:0px;">
                        <strong>委托信息</strong>
                        <span>提醒：收货联系人需具备与船司办单资质，否则因此造成的一切后果将由客户承担</span>
                    </div>
                    <div class="dd_nei">
                        <div class="layui-row" style="padding-bottom: 10px;">
                            <div class="layui-col-xs6 er_le">
                           
                                <div class="grid-demo" style="margin-top: 10px;">
                                    <div class="layui-col-xs3">
                                        <span>*&nbsp;</span>发货单位：</div>
                                    <div class="layui-col-xs9">
                                        <input type="text" name="r_company" value="<{$shipperArr[0]}>" class="in">
                                    </div>
                                </div>
                                <div class="grid-demo">
                                    <div class="layui-col-xs3">
                                        <span>*&nbsp;</span>装货联系人：</div>
                                    <div class="layui-col-xs9" style="height: 40px;line-height: 40px;">
                                        <input type="text" name="r_name" value="<{$shipperArr[1]}>" class="in">
                                    </div>
                                </div>
                                <div class="grid-demo">
                                    <div class="layui-col-xs3">
                                        <span>*&nbsp;</span>装货联系人电话：</div>
                                    <div class="layui-col-xs9" style="height: 40px;line-height: 40px;">
                                        <input type="text" name="r_phone" value="<{$shipperArr[2]}>" class="in">
                                    </div>
                                </div>

                            </div>

                            <div class="layui-col-xs6 er_rig">
                                <div class="grid-demo" style="margin-top: 10px;">
                                    <div class="layui-col-xs3">
                                        <span>*&nbsp;</span>收货单位：</div>
                                    <div class="layui-col-xs9" style="height: 40px;line-height: 40px;">
                                        <input type="text" name="s_company" value="<{$consignerArr[0]}>" class="in">
                                    </div>
                                </div>
                                <div class="grid-demo">
                                    <div class="layui-col-xs3">
                                        <span>*&nbsp;</span>收货联系人：</div>
                                    <div class="layui-col-xs9" style="height: 40px;line-height: 40px;">
                                        <input type="text" name="s_name" value="<{$consignerArr[1]}>" class="in">
                                    </div>
                                </div>
                                <div class="grid-demo">
                                    <div class="layui-col-xs3">
                                        <span>*&nbsp;</span>收货联系人电话：</div>
                                    <div class="layui-col-xs9" style="height: 40px;line-height: 40px;">
                                        <input type="text" name="s_phone" value="<{$consignerArr[2]}>" class="in">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- 货物 -->
                <div class="xxtx_dd">
                    <div class="xx">
                        <strong>货物</strong>
                        <span>危险品禁运说明 若实际货重超过箱型限重，产生的一切后果将由客户自己承担</span>
                    </div>
                    <div class="dd_nei">
                        <div class="layui-col-xs4 er">
                            <div class="grid-demo nei">
                                <div class="layui-col-xs3">
                                    <span>*&nbsp;</span>货名：</div>
                                <div class="layui-col-xs6" style="text-align: left">
                                    <input type="text" name="cargo" value="<{$list.cargo}>" placeholder="货名">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4 er">
                            <div class="grid-demo nei">
                                <div class="layui-col-xs3">
                                    <span>*&nbsp;</span>包装：</div>
                                <div class="layui-col-xs6">
                                    <div class="select">
                                        <select name='container_type'>
                                            <option value='1'  <?php if($list['container_type_id']==1){echo "selected='true'";} ?> >杂货集装箱</option>
                                            <option value='2'  <?php if($list['container_type_id']==2){echo "selected='true'";} ?>>散货集装箱</option>
                                            <option value='3'  <?php if($list['container_type_id']==3){echo "selected='true'";} ?>>液体货集装箱</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4 er">
                            <div class="grid-demo nei">
                                <div class="layui-col-xs3">
                                    <span>*&nbsp;</span>重量：</div>
                                <div class="layui-col-xs6">
                                    <input type="text" name="weight" value="<{$list.weight}>" placeholder="">
                                </div>
                                <div class="layui-col-xs2" style="text-align: left;">
                                    <span>吨(T)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 费用 -->
                <div class="xxtx_dd" style="margin-bottom: 0px;">
                    <div class="xx">
                        <strong>费用</strong>
                        <span>发票信息提醒：平台支持开具6%的服务费增值税专用发票，订单完成后联系客服沟通开发票</span>
                    </div>
                    <div class="dd_nei">
                        <div class="layui-col-xs4 er">
                            <div class="grid-demo nei">
                                <div class="layui-col-xs3">
                                    <span>*&nbsp;</span>柜量：</div>
                                    <span id="gl" style="display: none;"><{$list.container_sum}></span>
                                <div class="layui-col-xs6">
                                    <div class="select">
                                        <select name='container_sum'  value=""  class="guil" id='container_sum'>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="layui-col-xs4 er">
                            <div class="grid-demo" style="margin-top: 0px;">
                                <div class="layui-col-xs3">
                                    <span>*&nbsp;</span>保险金额：</div>
                                <div class="layui-col-xs6">
                                    <input id="bxje" type="text" name="cargo_cost" value="<{$list.cargo_cost}>" placeholder="">
                                </div>

                                <div class="layui-col-xs2" style="text-align: left;margin-left:8px;">
                                    <span>万</span>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4 er">
                            <div class="grid-demo nei">
                                <div class="layui-col-xs3">
                                    <span>*&nbsp;</span>结账方式：</div>
                                <div class="layui-col-xs6">
                                    <div class="select">
                                        <select class='mony_fs'>
                                            <option title="<{$discount.installment}>" <?php if($list['payment_method']=='installment'){echo"checked";}  ?>  value='installment'>到港付</option>
                                            <option title="<{$discount.month}>"  <?php if($list['payment_method']=='month'){echo"checked";}  ?> value='month'>月结付</option>
                                            <{empty name="$discount.special" }>
                                            <option title="<{$discount.cash}>" <?php if($list['payment_method']=='cash'){echo"checked";}  ?>  value='cash'>在线结付(优惠)</option>"
                                            <{else /}>
                                            <option title="<{$discount.month}>" value='cash' disabled='true'>在线结付(优惠)</option>
                                            <option title="<{$discount['special']['promotion']}>"<?php if($list['payment_method']=='special'){echo"checked";}  ?> value="<{$discount['special']['promotion_id']}>">
                                              <{$discount[ 'special'][ 'promotion_title']}>
                                            </option>
                                            <{/empty}>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 发票 -->
                    <div class="kpf">
                        <div class="layui-col-xs12 bei">
                            <div class="grid-demo">
                                <div class="layui-col-xs1 you">
                                    备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：
                                </div>
                                <div class="layui-col-xs10 inp">
                                    <input type="text" name="comment" value="<{$list.comment}>" placeholder="无" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="fp layui-col-xs12">
                            <!-- 是否开取发票 -->
                            <div class="fp1 layui-col-xs2 layui-form" onclick="kfp(this)">
                                <input type="checkbox" name="invoice_if" title="是否开取发票信息" lay-skin="primary" value="1">
                            </div>
                            <div class="layui-col-xs1">&nbsp;</div>
                            <!-- 选择发票 -->
                            <div class="layui-col-xs3">
                                <div class="ze">
                                    <div class="layui-col-xs3 zep">
                                        发票：
                                    </div>
                                    <div class="layui-col-xs6">
                                        <div class="select">
                                            <select name='tax_rate' disabled="ture" class="layui-disabled fp01">
                                                <option value='0' selected>不需要</option>
                                                <option value='1'>6%</option>
                                                <option value='2'>10%</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs3 tx">
                                <a class="trigger-default">填写发票信息</a>
                            </div>
                        </div>
                    </div>
                    <!-- 总运费 -->
                    <div class="sun">
                        <div class="fapiao layui-form-item layui-form">
                            <div class="fp_tt">
                                <input type="radio" name="invoice_id" value="2" title="发票抬头" checked="">
                            </div>
                        </div>
                        <!-- <span>总运费:
              <strong>￥
                <span id="price_sum">0.00</span>元</strong>
            </span> -->
                    </div>

                    <!-- 拖车服务 -->
                    <div class="xxtx_dd">
                        <div class="xx">
                            <strong>拖车服务</strong>
                        </div>

                        <div class="dd_nei">
                            <div class="layui-col-xs12 layui-form er">
                                <input type="checkbox" name="" title="装货服务" lay-skin="primary" lay-filter="zhuang">
                                <a id="zeng" class="layui-btn layui-btn-sm layui-btn-warm" onclick="zeng_bge()">增加</a>
                            </div>
                            <div class="layui-col-xs12 er biaoge zhuanghuo">
                                <table class="layui-table" lay-size="sm">
                                    <thead>
                                        <tr>
                                            <th>单价</th>
                                            <th>数量</th>
                                            <th>单位</th>
                                            <th>装货地址</th>
                                            <th>联系人姓名</th>
                                            <th>货主名称</th>
                                            <th>装货时间</th>
                                            <th>联系电话</th>
                                            <th>指定车队</th>
                                            <th>备注</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bge">
                                       <{volist name="$carData.r" id="carR" }>
                                        <tr>
                                            <td>
                                                <input class="r_price" type="text" name ="car_price_r[]" value="<{$carR.car_price}>">
                                            </td>
                                            <td>
                                                <input class="r_num" type="text" name ="num_r[]" value="<{$carR.num}>">
                                            </td>
                                            <td>柜</td>
                                            <td>
                                                <input type="text" name='add_r[]' value="<{$carR.add}>">
                                            </td>
                                            <td>
                                                <input type="text" name="link_man_r[]"  value="<{$carR.link_man}>">
                                            </td>
                                            <td>
                                                <input type="text" name="shipper_r[]" value="<{$carR.shipper}>">
                                            </td>
                                            <td>
                                                <input type="text" name="load_time_r[]"  value="<{$carR.load_time}>">
                                            </td>
                                            <td>
                                                <input type="text" name="link_phone_r[]" value="<{$carR.link_phone}>">
                                            </td>
                                            <td>
                                                <input type="text" name="car_r[]" value="<{$carR.car}>">
                                            </td>
                                            <td>
                                                <input type="text" name ="comment_r[]" value="<{$carR.comment}>">
                                            </td>
                                            <td class="dele">
                                                <i class="layui-icon" onclick="dele(this)">&#x1006;</i>
                                            </td>
                                        </tr>  
                                       <{/volist}>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="dd_nei">
                            <div class="layui-col-xs12 layui-form er">
                                <input type="checkbox" name="" title="送货服务" lay-skin="primary" lay-filter="song" value="">
                                <a id="zeng_song" class="layui-btn layui-btn-sm layui-btn-warm" onclick="zeng_song()">增加</a>
                            </div>
                            <div class="layui-col-xs12 er biaoge songhuo">
                                <table class="layui-table" lay-size="sm">
                                    <thead>
                                        <tr>
                                            <th>单价</th>
                                            <th>数量</th>
                                            <th>单位</th>
                                            <th>送货地址</th>
                                            <th>指定车队</th>
                                            <th>备注</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bge_song">
                                        <{volist name="$carData.s" id="carS" }>
                                        <tr>
                                            <td>
                                                <input class="s_price" type="text" name="car_price_s[]"  value="<{$carS.car_price}>">
                                            </td>
                                            <td>
                                                <input class="s_num" type="text" name="num_s[]"  value="<{$carS.num}>">
                                            </td>
                                            <td>柜</td>
                                            <td>
                                                <input type="text" name="add_s[]" value="<{$carS.add}>">
                                            </td>
                                            <td>
                                                <input type="text" name="car_s[]" value="<{$carS.car}>">
                                            </td>
                                            <td>
                                                <input type="text" name="comment_s[]" value="<{$carS.comment}>">
                                            </td>
                                            <td class="dele">
                                                <i class="layui-icon" onclick="dele(this)">&#x1006;</i>
                                            </td>
                                        </tr>
                                        <{/volist}>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- 详细费用 -->
                    <div class="xxtx_dd er">
                        <div class="xx">
                          <strong>详细费用</strong>
                        </div>
                        <div class="feiyong">
                          <div class="layui-col-xs12">
                            <span>海运费：</span>
                            <pi id="money"><{$list.seaprice}></pi>元
                              <span class="shuo">已包含：双边</span>
                          </div>
                          <div class="layui-col-xs12">
                            <span>保险费：</span>
                            <pi id="bxje1"><{$list.premium}></pi>元
                            <span class="shuo"> 平台接单后，保险服务均由承运方提供与购买</span>
                          </div>
                          <div class="layui-col-xs12">
                            <span>装货费用：</span>
                            <pi id="zhuang"><{$list.carprice_r}></pi>元
                          </div>
                          <div class="layui-col-xs12">
                            <span>送货费用：</span>
                            <pi id="song"><{$list.carprice_s}></pi>元
                          </div>
                          <div class="layui-col-xs12">
                            <span>优惠：</span>
                            <strong id="discount"></strong>元
                            <span class="shuo">开票说明：选择在线支付优惠后不开发票</span>
                          </div>
                          <div class="layui-col-xs12">
                            <span>总费用：</span>
                            <strong class="zongfei" id="price_sum">0</strong>元
                          </div>
                        </div>
                      </div>

                    <!-- 是否支付 -->
                    <div class="xxtx_dd er">
                        <div class="xx">
                            <strong>订单状态</strong>
                        </div>
                        <div class="dd_nei">
                            <div class="layui-col-xs12">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">支付状态：</label>
                                    <div class="layui-input-block">
                                        已付款/月结(未付款)
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs3">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">订单号：</label>
                                    <div class="layui-input-block">
                                        <input name="order_num" lay-verify="title" autocomplete="off" readOnly class="layui-input" type="text" value="<{$list.order_num}>">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs9">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">下单时间：</label>
                                    <div class="layui-input-block">
                                        <span><{$list.ctime}></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tjiao">
                        <a href="javascript:;" onclick="xiu_order(this)">保存</a>
                        <a class="shi" href="javascript:void(0);">完成订单</a>
                    </div>
                </div>
        </form>
        <!-- 填写发票窗口 -->
        <div id="modal-default">
            <form class="layui-form" id='invoice_form'>
                <input type="hidden" name='member_code' value="<{$Think.session.member_code}>">
                <!--需要贮存客户session_id-->
                <div class="layui-form-item">
                    <label class="layui-form-label">发票抬头</label>
                    <div class="layui-input-block">
                        <input type="text" name="invoice_title" lay-verify="invoice_title" autocomplete="off" placeholder="发票抬头" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">纳税人识别号</label>
                    <div class="layui-input-block">
                        <input type="text" name="taxpayer_id" lay-verify="title" autocomplete="off" placeholder="纳税人识别号" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">注册地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="registered_address" lay-verify="title" autocomplete="off" placeholder="注册地址" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">注册电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="registered_phone" lay-verify="title" autocomplete="off" placeholder="注册电话" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">开户银行</label>
                    <div class="layui-input-block">
                        <input type="text" name="deposit_bank" lay-verify="title" autocomplete="off" placeholder="开户银行" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">银行账户</label>
                    <div class="layui-input-block">
                        <input type="text" name="bank_account" lay-verify="title" autocomplete="off" placeholder="银行账户" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" onclick='invoice()' lay-filter="demo1">立即保存</button>
                    </div>
                </div>
            </form>
        </div>


        <script>
            var loading = true;//装货状态
            var delivery = true;//送货状态
            var url = "<{:url('admin/orderPort/Upload')}>";
            var xiu_url = "<{:url('admin/orderPort/aaa')}>";
        </script>
        <script src="__STATIC__/../index/js/lrdd.js"></script>
        <script src="__STATIC__/../index/js/place_order.js"></script>
        <script src="__STATIC__/js/port_money.js"></script>
        <script>
            $('.songhuo,.zhuanghuo,#zeng_song,#zeng').show();
            $('.in').css('border', '1px solid #e6e6e6');
            input_null();
        </script>
        
        <script type="text/javascript">
//    function download_file(http://www.tp5.com/admin.php/order_port/downs/aa/111)
//    {
//        if (typeof (download_file.iframe) == "undefined")
//        {
//            var iframe = document.createElement("iframe");
//            download_file.iframe = iframe;
//            document.body.appendChild(download_file.iframe);
//        }
//        //alert(download_file.iframe);
//        download_file.iframe.src = url;
//        download_file.iframe.style.display = "none";
//    }
</script>


    </body>

    </html>