<!-- 常用信息 -->
<{include file='./public/head' /}>
  <body>
      <link rel="stylesheet" href="__STATIC__/css/all_order.css">
      <link rel="stylesheet" type="text/css" href="__STATIC__/css/iziModal.css">
    <div class="all_order">
      <form class="" action="index.html" method="post">
        <div class="layui-row">
            <!-- 收货人 -->
          <div class="layui-col-xs6">
            <div class="grid-demo">
              <div class="layui-form-item">
                <label class="layui-form-label">姓名：</label>
                <div class="layui-input-inline">
                  <input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input">
                </div>

                <div class="layui-input-inline" style="float:right;">
                  <button class="layui-btn btn_sou" lay-submit="" lay-filter="demo1">搜索</button>
                  <a href="#" class="layui-btn trigger-default">新建</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <!-- 表格 -->
      <div class="biao">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
          <ul class="layui-tab-title">
            <li class="layui-this">收货人</li>
            <li>发货人</li>
          </ul>
          <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item layui-show">
              <table class="layui-table" id="te">
                <colgroup>
                  <col width="150">
                  <col width="200">
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th>姓名</th>
                    <th>手机号</th>
                    <th>公司名</th>
                    <th>收货地址</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>刘某</td>
                    <td>13545678945</td>
                    <td>广州三乐有限公司</td>
                    <td>贤心三岁看房间阿里咳嗽地方撒娇发了撒娇浪费</td>
                  </tr>
                </tbody>
              </table>

              <div id="demo7" style="text-align: center;"></div>
            </div>

            <div class="layui-tab-item">
              <table class="layui-table" id="te">
                <colgroup>
                  <col width="150">
                  <col width="200">
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th>姓名</th>
                    <th>手机号</th>
                    <th>公司名</th>
                    <th>装货地址</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>刘某</td>
                    <td>13545678945</td>
                    <td>广州三乐有限公司</td>
                    <td>贤心三岁看房间阿里咳嗽地方撒娇发了撒娇浪费</td>
                  </tr>
                </tbody>
              </table>

              <div id="demo7" style="text-align: center;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 模态窗口 -->
    <div id="modal-default" class="iziModal">
        <div class="layui-row">
          <form class="layui-form" action="">
            <div class="layui-form-item">
              <label class="layui-form-label">姓名：</label>
              <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入姓名" class="layui-input">
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">手机号码：</label>
              <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入手机号码" class="layui-input">
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">公司名：</label>
              <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入公司名" class="layui-input">
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">收货地址：</label>
              <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入收货地址" class="layui-input">
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">选择人物：</label>
              <div class="layui-input-block">
                <input type="radio" name="sex" value="" title="发货人" checked="">
                <input type="radio" name="sex" value="" title="收货人">
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </from>
        </div>
    </div>
    <script type="text/javascript" src="__STATIC__/js/personal/all_order.js"></script>
    <script src="__STATIC__/js/iziModal.min.js"></script>
    <script type="text/javascript">
    //模态窗口基本设置
    $("#modal-default").iziModal({
        title: "录入信息",
        iconClass: 'icon-announcement',
        width: 700,
        padding: 20
    });
    //启动模态窗
    $(document).on('click', '.trigger-default', function (event) {
        event.preventDefault();
        $('#modal-default').iziModal('open');
    });
    </script>
  </body>
</html>
