<!-- 废弃订单 -->
<{include file='./public/head' /}>

  <body>
    <link rel="stylesheet" href="__STATIC__/css/harbor_details.css">
    <div class="invalid">
      <form class="" action="index.html" method="post">
        <div class="layui-row">
          <div class="layui-col-xs6">
            <div class="grid-demo">
              <div class="layui-form-item">
                <label class="layui-form-label">订单号：</label>
                <div class="layui-input-inline">
                  <input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input">
                </div>

                <div class="layui-input-inline" style="float:right;">
                  <button class="layui-btn btn_select" lay-submit="" lay-filter="demo1">查询</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- 表格 -->
      <div class="biao">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="width:1400px;">
          <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item layui-show">
              <table class="layui-table layui-table-item" id="te">
                <thead>
                  <tr>
                    <th>订单号</th>
                    <th>运单号</th>
                    <th>提交时间</th>
                    <th>船公司</th>
                    <th>驳船</th>
                    <th>船名航次</th>
                    <th>起运港</th>
                    <th>目的港</th>
                    <th>总运费</th>
                    <th>付款状态</th>
                    <th>订舱单</th>
                    <th>补料</th>
                    <th>水运单</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="javascript:void(0);">1453810</a>
                    </td>
                    <td>TB23565864563</td>
                    <td>2018-3</td>
                    <td>中远</td>
                    <td>否</td>
                    <td>仁建20-1837</td>
                    <td>汕头</td>
                    <td>天津</td>
                    <td>4000</td>
                    <td class="fukuan">去付款</td>
                    <td>
                      <a href="javascript:void(0);">放纸箱</a>
                    </td>
                    <td>
                      <a href="javascript:void(0);" onclick="cabinet()">提交柜号</a>
                    </td>
                    <td>
                      <a href="javascript:void(0);">运单</a>
                    </td>
                    <td>
                      <a class="" lay-event="del">取消</a>
                      <a class="" lay-event="detail">查看订单</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div id="demo7" style="text-align: center;"></div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div id="cabinet">
      <form class="layui-form" action="">
        <div class="layui-form-item">
          <label class="layui-form-label">柜型:</label>
          <div class="layui-input-block">
            <input name="title" lay-verify="title" autocomplete="off" placeholder="请输柜型" class="layui-input layui-disabled" type="text" value="40GP" disabled>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">柜号:</label>
          <div class="layui-input-block">
            <input name="title" lay-verify="title" autocomplete="off" placeholder="请输入柜号" class="layui-input" type="text">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">封号:</label>
          <div class="layui-input-block">
            <input name="title" lay-verify="title" autocomplete="off" placeholder="请输入封号" class="layui-input" type="text">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">货名:</label>
          <div class="layui-input-block">
            <input name="title" lay-verify="title" autocomplete="off" placeholder="请输入货名" class="layui-input" type="text" value="黄金">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">收货人:</label>
          <div class="layui-input-block">
            <input name="title" lay-verify="title" autocomplete="off" placeholder="请输入收货人" class="layui-input" type="text" value="海运兴佳">
          </div>
        </div>
        <!-- <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div> -->
      </form>
    </div>
    <script>
      var xiangqing = "<{:url('index/Order/harbor_details')}>";
    </script>
    <script src="__STATIC__/js/personal/page.js"></script>
    <script src="__STATIC__/js/personal/cabinet_number.js"></script>
  </body>

  </html>