<!-- 个人信息 -->
<{include file='./public/head' /}>
  <body>
      <link rel="stylesheet" href="__STATIC__/css/info.css">
      <style>
        .layui-tab-content .layui-upload{
          margin: 0;
        }
      </style>
    <div class="info">
      <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <!-- 个人信息修改 -->
        <div class="layui-tab-content layui-row" style="height: 100px;">
          <div class="layui-tab-item layui-show">
            <form class="layui-form layui-col-xs5" id="info1">
              <div class="layui-col-xs10">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">
                  <select name="interest" lay-filter="aihao">
                    <option value="0">个人</option>
                    <option value="1" selected="">公司</option>
                  </select>
                </div>
              </div>

              <div class="layui-col-xs10">
                <label class="layui-form-label">姓名:</label>
                <div class="layui-input-block">
                  <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入姓名" class="layui-input in" value="123">
                </div>
              </div>

              <div class="layui-col-xs10">
                <label class="layui-form-label">身份证:</label>
                <div class="layui-input-block">
                <div class="layui-upload">
                  <button type="button" class="layui-btn layui-btn-normal" id="test1">选择图片</button>
                </div>
              </div>
              </div>

              <div class="layui-col-xs10">
                <label class="layui-form-label">联系邮箱:</label>
                <div class="layui-input-block">
                  <input type="text" name="mail" lay-verify="title" autocomplete="off" placeholder="请输入推荐人" class="layui-input in" value="123" >
                </div>
              </div>

              <div class="layui-col-xs10">
                <label class="layui-form-label">详情地址:</label>
                <div class="layui-input-block">
                  <input type="text" name="addred" lay-verify="title" autocomplete="off" placeholder="请输入推荐人" class="layui-input in" value="123" >
                </div>
              </div>

              <div class="layui-col-xs10">
                <label class="layui-form-label">审核认证:</label>
                <div class="layui-input-block" style="padding-top: 10px;">
                  <span>是/否</span>
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-block">
                  <a class="layui-btn xiu">申请审核</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    
    <script>
    layui.use(['form','upload'], function(){
      var $ = layui.jquery
      ,upload = layui.upload
      ,form = layui.form;
      
      //选完文件后不自动上传
      upload.render({
        elem: '#test1'
        ,url: '/upload/'
        ,auto: false
        //,multiple: true
        ,bindAction: '.xiu'
        ,done: function(res){
          console.log(res)
        }
      });

      $('.xiu').click(function () {
          let data = $('#info1').serialize();
          $.post(url, { data: data }, function (res) {
            if (res.status) {
              alert('已经发送申请！');
            }
         })
      })
      
    });

    
    </script>
  </body>
</html>



