<!-- 个人信息 -->
<{include file='./public/head' /}>
  <body>
      <link rel="stylesheet" href="__STATIC__/css/info.css">
      <script src="__STATIC__/js/personal/info.js"></script>
    <div class="info">
      <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <!-- 个人信息修改 -->
        <div class="layui-tab-content layui-row" style="height: 100px;">
          <div class="layui-tab-item layui-show">
            <form class="layui-form layui-col-xs5" id="info1" action="">

              <div class="layui-col-xs10">
                <label class="layui-form-label">姓名:</label>
                <div class="layui-input-block">
                  <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入姓名" class="layui-input in" value="123">
                </div>
              </div>

              <div class="layui-col-xs10">
                <label class="layui-form-label">企业名:</label>
                <div class="layui-input-block">
                  <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入企业名" class="layui-input in" value="123">
                </div>
              </div>

              <div class="layui-col-xs10">
                <label class="layui-form-label">推荐人:</label>
                <div class="layui-input-block">
                  <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入推荐人" class="layui-input in" value="123" >
                </div>
              </div>

              <!-- <div class="layui-col-xs10">
                <label class="layui-form-label">绑定手机号:</label>
                <div class="layui-input-block">
                  <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="绑定手机号" class="layui-input in" value="123" readonly='readonly'>
                </div>
              </div> -->

              <!-- <div class="layui-col-xs10 yin">
                <div class="layui-inline layui-col-xs9">
                  <label class="layui-form-label">验证码:</label>
                  <div class="layui-input-block">
                    <input type="tel" name="title" lay-verify="title" autocomplete="off" placeholder="验证码" class="layui-input" value="">
                  </div>
                </div>
                <button class="layui-btn layui-btn-normal you">获取验证码</button>
              </div> -->

              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn layui-btn-warm xiu">修改</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      $('.xiu').click(function () {
          let data = $('#info1').serialize();
          $.post(url, { data: data }, function (res) {
            if (res.status) {
              alert('修改成功！');
            }
          })
        })
    </script>
  </body>
</html>
