<!-- 个人信息 -->
<{include file='./public/head' /}>
  <body>
      <link rel="stylesheet" href="__STATIC__/css/info.css">
      <style>
        .layui-tab-content .layui-upload{
          margin: 0;
        }
        .xx{
          color: red;
          font-size: 14px;
        }
        .info{
          /* display: none; */
        }
      </style>
    <div class="info">
      <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <!-- 个人信息修改 -->
        <div class="layui-tab-content layui-row" style="height: 100px;">
          <div class="layui-tab-item layui-show">
            <form class="layui-form layui-col-xs5" id="info1">
              <div class="layui-col-xs10">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">
                  <select name="type" lay-filter="lei">
                    <option value="personal" selected="">个人</option>
                    <option value="company">公司</option>
                  </select>
                </div>
              </div>

              <div class="layui-col-xs10">
                <label class="layui-form-label mc">账户名称</label>
                <div class="layui-input-block">
                  <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入姓名" class="layui-input in" value="123">
                </div>
              </div>

              <div class="layui-col-xs10">
                <label class="layui-form-label zj">身份证</label>
                <div class="layui-input-block">
                <div class="layui-upload">
                  <button type="button" class="layui-btn layui-btn-normal" id="test1">选择图片</button>
                  <div class="xx">上传的身份证照片必须是本人将身份证正面</div>

                </div>
              </div>
              </div>

              <div class="layui-col-xs10">
                <label class="layui-form-label">联系邮箱</label>
                <div class="layui-input-block">
                  <input type="text" name="email" lay-verify="title" autocomplete="off" placeholder="请输入推荐人" class="layui-input in" value="123" >
                </div>
              </div>

              <div class="layui-col-xs10">
                <label class="layui-form-label">详情地址</label>
                <div class="layui-input-block">
                  <input type="text" name="addred" lay-verify="title" autocomplete="off" placeholder="请输入推荐人" class="layui-input in" value="123" >
                </div>
              </div>

              <div class="layui-col-xs10">
                <label class="layui-form-label">审核认证</label>
                <div class="layui-input-block" style="padding-top: 10px;">
                  <span id="rz">3</span>
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-block">
                  <a class="layui-btn xiu">申请审核</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>




    <!-- <div class="layui-upload">
      <button type="button" class="layui-btn" id="test2">多图片上传</button> 
      <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
        预览图：
        <div class="layui-upload-list" id="demo2"></div>
     </blockquote>
    </div> -->


    
    <script>
    layui.use(['form','upload'], function(){
      var $ = layui.jquery
      ,upload = layui.upload
      ,form = layui.form;

      //选完文件后不自动上传
      upload.render({
        elem: '#test1'
        ,url: '<{:url("index/personal/info_edit")}>'
        ,auto: false
        //,multiple: true
        ,data:{type:function(){
          return $('#info1').serializeArray()[0].value;  
        },name:function(){
          return $('#info1').serializeArray()[1].value;  
        },image:function(){
          return $('#info1').serializeArray()[2].value;  
        },email:function(){          
          return $('#info1').serializeArray()[3].value;
        },addred:function(){          
          return $('#info1').serializeArray()[4].value;
        }}
        ,bindAction: '.xiu'
        ,before: function(obj){//选图片之前
          
        }
        ,done: function(res, index){//请求成功
          alert(res.message);
        }
      });

      form.on('select(lei)', function(data){
        // console.log(data.value); //得到被选中的值
        if (data.value == 'personal') {
          $('.mc').html('账户名称');
          $('.zj').html('身份证');
          $('.xx').html('上传的身份证照片必须是本人将身份证正面');
        }else{
          $('.mc').html('企业全称');
          $('.zj').html('营业执照');
          $('.xx').html('再次上传会覆盖之前的附件');
        }
      });
      
      let rz = $('#rz');
      if (rz.html() == '4') {//认证通过
        rz.html('认证通过');
        rz.css('color','#00FF00');
        // $('.xiu').hide();
      }else if(rz.html() == '3'){
        rz.html('认证失败');
      }else if(rz.html() == '2'){
        rz.html('待认证');
      }else if(rz.html() == '1'){
        rz.html('未认证');
      }
  })


    
    </script>
  </body>
</html>



