  <!-- 所有订单 -->
  <{include file='./public/head' /}>
  <body>
      <link rel="stylesheet" href="__STATIC__/css/all_order.css">
      <link rel="stylesheet" type="text/css" href="__STATIC__/css/iziModal.css">
      <style media="screen">
          #modal-default td{
            height: 60px;
          }
        </style>
    <div class="all_order">
      <form class="" action="index.html" method="post">
        <div class="layui-row">
          <!-- 日期 -->
          <div class="layui-col-xs6">
            <div class="grid-demo grid-demo-bg1">
              <div class="layui-form-item">
                <label class="layui-form-label">验证日期：</label>
                <div class="layui-input-inline">
                  <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">至</div>
                <div class="layui-input-inline">
                  <input type="text" name="date" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
              </div>
            </div>
          </div>
            <!-- 收货人 -->
          <div class="layui-col-xs6">
            <div class="grid-demo">
              <div class="layui-form-item">
                <div class="layui-input-inline" style="float:right;width:auto;">
                  <button class="layui-btn btn_sou" lay-submit="" lay-filter="demo1">搜索</button>
                  <button class="layui-btn"　type="button" name="button" lay-filter="demo2">账单打印</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <!-- 表格 -->
      <div class="biao">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
          <ul class="layui-tab-title">
            <li class="layui-this">所有订单</li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item layui-show">

              <table class="layui-table layui-table-item" id="te">
                <thead>
                  <tr>
                    <th>账单编号</th>
                    <th>账单日期</th>
                    <th>账单状态</th>
                    <th>客户</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>XJZD000001</td>
                    <td>2018-7</td>
                    <td>未付款</td>
                    <td>广州市天河公安局</td>
                    <td>
                      <a href="#" class="layui-btn layui-btn-primary layui-btn-xs trigger-default" lay-event="detail">查看账单</a>
                    </td>
                  </tr>

                </tbody>
              </table>

              <div id="demo7" style="text-align: center;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modal-default" class="iziModal">
      <table class="layui-table layui-table-item" id="te">
        <thead>
          <tr>
            <th>船名航次</th>
            <th>开航日期</th>
            <th>装货日期</th>
            <th>箱量</th>
            <th>箱型</th>
            <th>柜号</th>
            <th>封号</th>
            <th>发货方</th>
            <th>装货地点</th>
            <th>送货地址</th>
            <th>发票</th>
            <th>运费</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>新温州061Ｎ</td>
            <td>2018-3-1</td>
            <td>2018-3-1</td>
            <td>12</td>
            <td>20Gp</td>
            <td>TEMU3046802</td>
            <td>ＧＲ15642314</td>
            <td>开平市美富达调味品食品有限公司</td>
            <td>开平塘口镇水边村委会</td>
            <td>河北省衡水市武强县食品城</td>
            <td>3600</td>
            <td>600</td>
            <td></td>
          </tr>
          <tr>
            <td>新温州061Ｎ</td>
            <td>2018-3-1</td>
            <td>2018-3-1</td>
            <td>12</td>
            <td>20Gp</td>
            <td>TEMU3046802</td>
            <td>ＧＲ15642314</td>
            <td>开平市美富达调味品食品有限公司</td>
            <td>开平塘口镇水边村委会</td>
            <td>河北省衡水市武强县食品城</td>
            <td>3600</td>
            <td>1300</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="xinxi">
        <div class="zong">
          <strong class="zy">总运费：<span>16100.00</span></strong>
        </div>
        <div class="yh">
          <p>注：烦请在收到此单三个工作日内与我司核对并盖章回传020-22197970，否则我司将视为认可此笔费用。另汇款后请将水单传真至我司确认，谢谢合作！</p>
          <p>工商银行,开户行：广州黄埔支行,账号6222 0836 0200 6218 504  户名：陈灿炎</p>
          <p>交通银行,开户行：广州黄埔支行,账号6222 0836 0200 6218 504  户名：陈灿炎</p>
          <p>建设银行,开户行：广州黄埔支行,账号6222 0836 0200 6218 504  户名：陈灿炎</p>
          <p>农业银行,开户行：广州黄埔支行,账号6222 0836 0200 6218 504  户名：陈灿炎</p>
          <div class="fapiao">
            <h2><strong>发票金额：<span>15699.12</span></strong></h2>
          </div>
        </div>
      </div>
      <div class="kp">
        <button class="layui-btn btn_sou" lay-submit="" lay-filter="demo1">账单无误</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="layui-btn" lay-submit="" lay-filter="demo1">开票申请</button>
      </div>
    </div>

    <script src="__STATIC__/js/personal/page.js"></script>
    <script src="__STATIC__/js/iziModal.min.js"></script>
    <script type="text/javascript">
    //模态窗口基本设置
    $("#modal-default").iziModal({
        title: "对账单",
        iconClass: 'icon-announcement',
        width: 1600,
        padding: 20
    });
    //启动模态窗
    $(document).on('click', '.trigger-default', function (event) {
        event.preventDefault();
        $('#modal-default').iziModal('open');
    });
    </script>
  </body>
</html>
