<{include file='./public/header'/}>
<body class="login-bg">
    
    <div class="login">
        <div class="message">x-admin2.0-管理登录</div>
        <div id="darkbannerwrap"></div>
        
        <form  class="layui-form" id="loginform" >
            <input name="loginname" placeholder="用户名"  type="text" lay-verify="required" class="layui-input"  value="">
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input" value="">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="button" id="loginbtn">
            <hr class="hr20" >
        </form>
    </div>

 <!-- <script>
        $(function  () {
            layui.use('form', function(){
              var form = layui.form;
              // layer.msg('玩命卖萌中', function(){
              //   //关闭后的操作
              //   });
              //监听提交
              form.on('submit(login)', function(data){
                // alert(888)
                layer.msg(JSON.stringify(data.field),function(){
                    location.href='index.html'
                });
                return false;
              });
            });
        })

        
    </script>-->
    
<script>
    $(function(){
        $("#loginbtn").on('click',function(){
          
            $.ajax({
                type:'POST',
                url:"<{:url('admin/login/check')}>",
                    
                data:$("#loginform").serialize(),
                dataType:"json",
                success:function(data){
            
                    if(data.status==1){
                        window.location.href="<{:url('index/index')}>";
                    }else{
                        alert(data.message);
                        window.location.href="<{:url('login/index')}>";
                    }
                }
            })
        })
    })
    
</script>

    
    <!-- 底部结束 -->

</body>
</html>