<footer>
<div class="foot">
    <div class="lx">
        <p>联系我们</p>
        <p>地址：广东省广州市黄埔区港弯路59号中交港湾国际大厦2005室</p>
        <p>手机：13825001413</p>
        <p>电话：020-28211730</p>
        <p>邮箱：1572154495@qq.com</p>
    </div>
    <div class="rwm">
        <div class="r1">
            <img src="__STATIC__/image/rwm/chen.jpg" alt="">
            <p>加我好友</p>
        </div>
        <div class="r2">
            <img src="__STATIC__/image/rwm/chen.jpg" alt="">
            <p>关注海浪公众号</p>
        </div>
    </div>
</div>
<div class="bp">
    <div>@2017&nbsp;&nbsp;广州市海浪科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;粤ＩＣＰ备14023066号-1</div>
</div>
</footer>