<{include file='./public/head' /}>

  <body>
    <header>
      <div id="top">
        <div class="logo">
          <a href="<{:url('index/OrderPort/orderPort')}>"><img src="__STATIC__/image/logo.jpg" alt=""></a>
        </div>
        <ul> 
          <li>
            <a href="<{:url('index/OrderPort/orderPort')}>">订舱平台</a>
          </li>
<!--      <li>
            <a href="javascript:;">公共查询</a>
          </li>
          <li>
            <a href="javascript:;">门到门</a>
          </li>
          <li>
            <a href="javascript:;">集装箱出售</a>
          </li>
          <li>
            <a href="javascript:;">新闻中心</a>
          </li>
          <li>
            <a href="javascript:;">合伙人加盟</a>
          </li>
          <li>
            <a href="javascript:;">帮助与公告</a>
          </li>-->
          <{notempty name="$Think.session.member_code"}>
          <li class="log">
            <a href="<{:url('index/Index/personal')}>">个人中心</a>
          </li>
          <{else /}>
          <li class="log" style="background-color:#2e8de5;">
            <a href="<{:url('index/login/login')}>" style="color: #fff;">企业登陆</a>
          </li>
          <li class="log">
            <a href="<{:url('index/login/register')}>">企业入驻</a>
          </li>
          <{/notempty}>
        </ul>
      </div>
    </header>
   