<{include file='./public/header' /}>

    <body>
        <style>
            .zilei{
                width: 50%;
                padding: 20px;
            }    
        </style>
        <div class="zilei">
            <form class="layui-form">
                <div class="route layui-row">
                    <!-- 账号 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">子类目</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入账号" class="layui-input" value="id = 1">
                        </div>
                    </div>

                    <!-- 按钮 -->
                    <div class="layui-form-item">
                        <div class="layui-input-block an">
                            <button class="layui-btn" lay-submit="" lay-filter="demo1">添加</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>

    </html>