<{include file='./public/header'/}>

<body>

<style>
        #navBarId .layui-nav-child dd{
          background-color: gray;
        }
</style>
<div class="layui-layout layui-layout-admin"> 
    <div class="layui-header">
        <div class="layui-logo">部门管理</div> 
        <!-- 头部区域（可配合layui已有的水平导航） --> 
        <ul class="layui-nav layui-layout-left"> 
            <li class="layui-nav-item"><a href="<{:url('admin/keeper/areaList')}>">区域划分</a></li>
            <li class="layui-nav-item"><a href="<{:url('admin/keeper/teamList')}>">部门调整</a></li>
            <li class="layui-nav-item"><a href="<{:url('admin/keeper/power')}>">权限调整</a></li> 
<!--            <li class="layui-nav-item"> <a href="javascript:;">其它功能</a>
                <dl class="layui-nav-child"> 
                    <dd><a href="#">邮件管理</a></dd> 
                    <dd><a href="#">消息管理</a></dd> 
                    <dd><a href="#">授权管理</a></dd> 
                </dl> 
            </li> -->
        </ul>
        <ul class="layui-nav layui-layout-right"> 
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:15px;float:right" href="javascript:location.replace(location.href);">
            <i class="layui-icon" style="line-height:30px">刷新</i></a>
        </ul>
    </div>

 <!-- 导航菜单栏 -->
<div id="navBarId">
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6b8;</i>
                        <cite>用户管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="<{:url('Member/memberList')}>">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>用户列表</cite>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
 <div class="layui-body"> 
     <!-- 内容主体区域 --> 
     <div style="padding: 15px;"> 
         <table class="layui-hide layui-col-md12" id="test"></table>
     </div> 
 </div>
 
 <div class="layui-body"> 
    <!-- 中心固定区域 --> 
     {__CONTENT__}
 </div> 
</div>


<script> 
    // 导航菜单的间隔像素 
    var menuCell = 5; 
    layui.use('element', function(){ 
        var element = layui.element;
        var $ = layui.jquery; 
        $.ajax({ 
            url:"<{:url('admin/keeper/teamdata')}>",
            type:"get",
            dataType:"json",
            data:{}, 
            success:function(data){ 

                data =JSON.parse(data);
                loadHtml(data,$("#nav"));
                // 遍历生成主菜单 
                // for( var i = 0; i <data.length; i++){ 
                 
                //    // 判断是否存在子菜单 
                //    if(data[i].childMenus!=null&&data[i].childMenus.length>0){ 
                //        // console.log("--> "+JSON.stringify(data[i].childMenus));
                
                //         // liStr ="<li class=\"layui-nav-item\"><a class=\"\" href=\"javascript:;\">"+data[i].title+
                //         //         "</a>\n"+ "<dl class=\"layui-nav-child\">\n"; 
                //         liStr = `<a href="javascript:;"><i class="iconfont">&#xe6b8;</i><cite>${data[i].title}</cite><i class="iconfont nav_right">&#xe697;</i></a>`;
                //         // // 遍历获取子菜单 
                //         // for( var k = 0; k <data[i].childMenus.length; k++){ 
                //         //     liStr+=getChildMenu(data[i].childMenus[k],2); 
                //         // } 
                //         // liStr ="</dl></li>"; 
                //     }else{
                //         liStr ="<li class=\"layui-nav-item\"><a class=\"\" href=\""+data[i].url+"\">"+data[i].title+'---'+data[i].user_name+"</a></li>";
                        
                //     } 
                    
                //     $("#navBarId").append(liStr);
                // }; 
            element.init();
            loadScript('__STATIC__/js/xadmin.js',function(){
                
            });
            } 
        });
   });


    function loadHtml(data,dom) {
        // console.log(data)
        var child = '';
        if (data) {
            for(var i=0;i<data.length;i++) {
            if(data[i].childMenus) {
                // 有子菜单
                child = `<li><a href="javascript:;"><cite>${data[i].title}</cite><i class="iconfont nav_right">&#xe697;</i></a><ul class="sub-menu"></ul><li>`;
                child = $(child);
                loadHtml(data[i].childMenus,child.find("ul.sub-menu"));
            }else {
                // 没有子菜单
                child = `<li><a href=""><cite>${data[i].title}--${data[i].user_name}</cite><i class="iconfont nav_right">&#xe697;</i></a><li>`;
            }
            dom.append(child)
        }
        }
    }

    function loadScript(src, callback) {
    var script = document.createElement('script'),
        head = document.getElementsByTagName('head')[0];
    script.type = 'text/javascript';
    script.charset = 'UTF-8';
    script.src = src;
    if (script.addEventListener) {
        script.addEventListener('load', function () {
        callback();
        }, false);
    } else if (script.attachEvent) {
        script.attachEvent('onreadystatechange', function () {
        var target = window.event.srcElement;
        if (target.readyState == 'loaded') {
            callback();
        }
        });
    }
    head.appendChild(script);
    }

   // 递归生成子菜单 
   function getChildMenu(subMenu,num) { 
      // console.log("num: "+num);

       num++; 
       var subStr = "";
       if(subMenu.childMenus!=null&&subMenu.childMenus.length>0){
           subStr+="<dd><ul><li class=\"layui-nav-item\" ><a style=\"margin-Left:"
                   +num*menuCell+"px\" class=\"\" href=\"javascript:;\">"
                   +subMenu.title+'-'+subMenu.user_name+"</a>" + "<dl class=\"layui-nav-child\">\n"; 
           for( var j = 0; j <subMenu.childMenus.length; j++){ 
               subStr+=getChildMenu(subMenu.childMenus[j],num); 
           } 
           subStr+="</dl></li></ul></dd>";
       }else{ 
           subStr+="<dd><a style=\"margin-Left:"+num*menuCell+"px\" href=\"<{:url('keeper/userData')}>?uid="+subMenu.uid+"\">" +subMenu.title+'-'+subMenu.user_name+"</a></dd>"; 
       } 
       return subStr;
   
    } </script>
    

    </body>

    </html>