<{include file='./public/header' /}>


  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite>
        </a>
      </span>
      <a class="layui-btn layui-btn-small an" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon">ဂ</i>
      </a>
      <a class="layui-btn layui-btn-warm an" href="javastript:viod(0);" title="增加">增加部门</a>
    </div>
    <div class="x-body layui-row">
      <!--无限极部门分类-->
      <div class="layui-col-xs2 bumen">
        <{$tree}>
      </div>

      <!--编辑子类目-->
      <div class="layui-col-xs9 zi">
        <span><{volist name="list" id ="volist"}>
            <{$volist.title}>&nbsp;
              <{/volist}>
        </span>
        <form id="add_son_team">
            <div class="layui-input-inline">
                <intpu type="hidden" name="father_id" value="<{$id}>">
                <input type="text"  name="son_title[]" class="layui-input" value="">   <input type="text"  name="son_job[]" class="layui-input" value="">
             
            </div>
        </form>
      </div>
      
    </div>
  <srcipt >
  
$("body").on('click','.addInputReturn',function () {
 
    //添加减号
    var $content = "";
    $content += '<a href="javascript:;" class="delInput" >';
    $content += '<span class="glyphicon glyphicon-minus"></span>';
    $content += '</a>';
    $(this).parent().append($content);
 
    //去除加号
    this.remove();
 
    var html = "";
    html += '<div class="form-group">';
    html += '<label class="col-md-2 control-label">硬件信息';
    html += '</label>';
    html += '<div class="col-sm-3 col-md-3 col-xs-3">';
    html += '<select class="form-control input-sm flagHrad hardName" style="color: #555" name="hardName">';
    html += '<option value="" selected>请选择硬件类型</option>';
    html += '<option value="1">网卡</option>';
    html += '<option value="2">摄像头</option>';
    html += '</select>';
    html += '</div>';
    html += '<div class="col-sm-5 col-md-5 col-xs-5">';
    html += '<input type="text" name="hardSerialNum" readonly="readonly" style="color: #555" class="form-control input-sm hardSerialNum" placeholder="请填硬件编号"/>';
    html += '</div>';
    html += '<div class="col-sm-1 col-md-1 col-xs-1 my-icon">';
    html += '<a href="javascript:;" class="addInputReturn" >';
    html += '<span class="glyphicon glyphicon-plus"></span>';
    html += '</a>';
    html += '</div>';
    html += '</div>';
 
    $("#index-div").append(html);
  })
  </srcipt>
    </body>
</html>