<{include file='./public/header' /}>

    <body>
        <link rel="stylesheet" href="__STATIC__/css/route_add.css">
        <form class="layui-form" action="">
            <div class="route layui-row">
                <!-- 禁用 -->
                <div class="layui-form-item">
                    <label class="layui-form-label">禁用：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="money" value="是" title="是">&nbsp;
                        <input type="radio" name="money" value="否" title="否" checked="">
                    </div>
                </div>
                <!-- 用户角色 -->
                <div class="layui-form-item">
                    <label class="layui-form-label">用户角色：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="kai" value="是" title="业务员">&nbsp;
                        <input type="radio" name="kai" value="否" title="普通用户" checked="">
                    </div>
                </div>
                <!-- 按钮 -->
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">确定</button>
                        <button class="layui-btn cancel">取消</button>
                    </div>
                </div>
            </div>

        </form>

        <script type="text/javascript">
            $('.cancel').click(function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });


            layui.use(['form', 'layedit', 'laydate'], function () {
                var form = layui.form
                    , layer = layui.layer
                    , layedit = layui.layedit
                    , laydate = layui.laydate;

                //日期
                laydate.render({
                    elem: '#date'
                });
                laydate.render({
                    elem: '#date1'
                });

            });
        </script>

    </body>

    </html>