<{include file='./public/header' /}>
  <link rel="stylesheet" href="__STATIC__/css/team.css">

  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite>
        </a>
      </span>
      <a class="layui-btn layui-btn-small an" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon">ဂ</i>
      </a>
      <a class="layui-btn layui-btn-warm an" href="javastript:viod(0);" title="增加">增加部门</a>
    </div>
    <div class="x-body layui-row">
      <!--无限极部门分类-->
      <div class="layui-col-xs2 bumen">
        <{$tree}>
      </div>

      <!--编辑子类目-->
      <div class="layui-col-xs9 zi">
        <span>现有部门：</span>
        <form id="eide_team">
            <div class="layui-input-inline you">
                <input name="cutoff_date" class="layui-input" value="11111111111" type="text">
              </div>
              <div class="layui-input-inline you">
                <input name="cutoff_date" class="layui-input" value="11111111111" type="text">
              </div>
              <div class="layui-input-inline you">
                <input name="cutoff_date" class="layui-input" value="11111111111" type="text">
              </div>
        </form>
        <!-- 新增部门 -->
        <div class="layui-col-xs12 xin">
          <span>新增部门：</span>
          <form id="new_team">
            
          </form>
        </div>
        <div class="tij">
            <a class="layui-btn" lay-submit="" lay-filter="demo1">提交</a>
          </div>
      </div>
    </div>


    <script>
      layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

      //给状态加样式
      for (let i = 0; i < $('.zt').length; i++) {
        //  console.log($('.zt').eq(i).html());
        if ($('.zt').eq(i).html() == '启用') {
          $('.zt').eq(i).addClass('layui-btn-normal');
        } else {
          $('.zt').eq(i).addClass('layui-btn-danger');
        }
      }
      /*用户-停用*/
      function member_stop(obj, id) {
        layer.confirm('确认要停用吗？', function (index) {
          if ($(obj).attr('title') == '启用') {

            //发异步把用户状态进行更改
            toajax(id, 'status=0')
            $(obj).attr('title', '停用')
            $(obj).find('i').html('&#xe62f;');

            $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
            layer.msg('停用!', { icon: 5, time: 1000 });

          } else {
            toajax(id, 'status=1')
            $(obj).attr('title', '启用')
            $(obj).find('i').html('&#xe601;');

            $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
            layer.msg('启用!', { icon: 5, time: 1000 });
          }

        });
      }
      function toajax(id, status) {
        $.ajax({
          type: 'post',
          url: "<{:url('admin/keeper/userStop')}>?id=" + id + '&' + status,
          dataType: "json",
          success: function (data) {
            console.log(data);
            if (data == 1) {
              alert("提交成功");
            } else {
              alert("提交失败");
            }
          }
        })
      }

    </script>
    <script src="__STATIC__/js/team.js"></script>
  </body>

  </html>