<{include file='./public/header'/}>
  
  <body>
    <div class="x-body">
        <form class="layui-form" id="editform" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">
                <span class="x-red">*</span>业务港口
                </label>
                <div class="layui-input-inline">
                    <select name="province" lay-filter="province" >
                        <option value="">请选择省</option>
                    </select>
                </div>
                <div class="layui-input-inline" id ='citydiv' style="display: none;">
                    <select name="city" lay-filter="city" >
                        <option value="">请选择市</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="display: none;">
                    <select name="area"  lay-filter="area">
                        <option value="">请选择县</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="display: none;">
                    <select name="town"  lay-filter="town">
                        <option value="">请选择镇</option>
                    </select>
                </div>
            </div>
        <!--  <button id="btn_tag" class="layui-btn layui-btn-normal"  style="display: none;"  onclick="del(this) ;return false">
               <input id ="input_tag" type="hidden"  name="name" value="id"><i id ="i_tag" class="layui-icon">&#xe640;</i> </button>-->
            <div class="layui-form-item" id ="search_port">
            </div> 
            
          
        
            <div class="layui-form-item">
                <label  class="layui-form-label">
                </label>
                <input type="button" value="确 认" class="layui-btn" id="editbtn"  onclick="toajax()"> 
            </div>
         </form>
    </div>
    <script>  var addressURL = "<{:url('admin/address/town')}>"; </script>
    <script type="text/javascript" src="/static/admin/js/address.js"></script>
</body>
</html>