<{include file='./public/header'/}>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input type="text" name="port_name" value="<{$port_name ? $port_name :''}>" placeholder="请输入港口名" autocomplete="off" class="layui-input">
            <input type="text" name="city_name" value="<{$city_name ? $city_name :''}>" placeholder="请输入城市名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach" ><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="add_ye()"><i class="layui-icon"></i>添加</button>
       <!-- <span class="x-right" style="line-height:40px">总共有<{10*$page}>条记录</span>-->
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>港口名</th>
            <th>所属城市</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        <{volist name="list" id="vo"}>  
          <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='<{$vo.id}>'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td class="tdata"><{$vo.id}></td>
            <td class="tdata"><{$vo.port_name}></td>
            <td><{$vo.city}></td>
            <td><{$vo.mtime}></td>
            <td class="td-manage">
              <a title="编辑"  onclick="edit_ye('<{$vo.id}>')" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
              </a>
              <a title="删除" onclick="member_del(this,'<{$vo.id}>')" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
            <{/volist}>
        </tbody>
      </table>
      <div class="page">
        <div>
            <{$page}>
        </div>
      </div>

    </div>
<script>
/*执行搜索车队或者港口*/
    function search(){
         $.ajax({
                type:'get',
                url:"<{:url('admin/Port/port_list')}>",     
                data: $("#searchform").serialize(),
                dataType:"json",
                async:false,
                success:function(data){
                  if(data.status==1){
                    return 1;
                  }else{
                      return 0 ;
                 }
                         
               }, error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
               console.log(XMLHttpRequest.readyState);
               console.log(textStatus);
                  },

        });
        return 1;
    }    
        
        
        
      layui.use(['laydate','layer'], function(){
        var laydate = layui.laydate;
        var layer = layui.layer;
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });

      });

      function add_ye(){
        layer.open({
          type: 2, 
          title:'添加',
          content: "<{:url('Port/port_add')}>", //添加
          area: ['750px','350px'],
        });
      }

      function edit_ye(id){
        layer.open({
          type: 2, 
          title:'修改',
          content: "<{:url('Port/port_edit')}>?id="+id, //修改
          area: ['750px','350px'],
        });
      }


      /*用户-删除*/
    function member_del(obj,did){
        layer.confirm('确认要删除吗？',function(index){
            var dataArray={id:did}
            toajax(dataArray);            
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
         });
      }

   function delAll (argument) {
        var data = tableCheck.getData();
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            var dataArray={id:data};
            let a = toajax(dataArray);
            console.log(a);
            
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }

       function toajax (dataArray){
            $.ajax({
                type:'POST',
                url:"<{:url('admin/Port/port_del')}>",    
                data:dataArray,
                dataType:"json",
                success:function(data){
                    if(data.status){
                      //当你在iframe页面关闭自身时
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭 
                      return 1;
                    }else{
                      return 0 ;
                  }
                }
            })
        };
</script>
 
  </body>

</html>
