<{include file='./public/header' /}>
    <style>
        .layui-btn+.layui-btn {
            margin: 5px;
        }
    </style>

    <body>
        <link rel="stylesheet" href="__STATIC__/css/route_add.css">
        <form class="layui-form" id="routeaddform">
            <div class="route layui-row">
                <!-- 港口航线 -->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">港口航线</label>
                        <div class="layui-input-inline" style="width: 100px;">
                            <select name="price_start" lay-filter="aihao">
                                <option value="">起点</option>
                                <option value="1">黄埔港</option>
                                <option value="2">天津港</option>
                                <option value="3">南沙港</option>
                                <option value="4">佛山港</option>
                            </select>
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <select name="price_end">
                                <option value="">终点</option>
                                <option value="1">黄埔港</option>
                                <option value="2">天津港</option>
                                <option value="3">南沙港</option>
                                <option value="4">佛山港</option>
                            </select>
                        </div>
                    </div>
                    <input type="button" class="layui-btn price" value="确定">
                </div>
                <!-- 航线详情 -->
                <div class="layui-form-item">
                    <label class="layui-form-label">航线详情</label>
                    <div class="layui-col-xs7">
                        <select name="port" lay-filter="port" lay-search>
                            <option value="">请选择港口</option>
                        </select>
                    </div>
                </div>
                <div class="layui-col-xs12 bu">
                    <button class="layui-btn layui-btn-normal" style="display: inline;"><span>起点</span><input type="hidden" name="port_name[]" value=""></button>
                    <span id="search_port"></span>
                    <button class="layui-btn layui-btn-normal" style="display: inline;"><span>终点</span><input type="hidden" name="port_name[]" value=""></button>
                </div>
                <!-- 按钮 -->
                <div class="layui-form-item">
                    <div class="layui-input-block an">
                        <button type="button" class="layui-btn" onclick="jj()">添加</button>
                        <button class="layui-btn cancel">取消</button>
                    </div>
                </div>
            </div>

        </form>

       <script src="__STATIC__/js/sealine_add.js"></script>
       <script>
           layui.use(['jquery', 'form'], function () {
    $ = layui.jquery;
    form = layui.form;
    $form = $('form');
    loadship();//选择船公司
    loadPort();//选择港口航线
});


//加载 所有的船公司名字简称和相应的id
var js_ship = '<?php echo $js_ship; ?>';
// console.log(js_ship);
js_ship = JSON.parse(js_ship);
//加载 所有的港口名字和相应的城市code
var js_port = '<?php echo $js_port; ?>';
js_port = JSON.parse(js_port);

var url = "<{:url('admin/Price/route_toadd')}>";

function loadship() {
    //             //加载 所有的船公司名字简称和相应的id
    //            var js_ship = '<?php echo $js_ship; ?>';
    //            js_ship=JSON.parse(js_ship);
    //  console.log(js_ship['1'].id );
    var ship_length = js_ship.length;
    var shipHtml = '';
    for (var i = 0; i < ship_length; i++) {
        shipHtml += '<option  value="' + js_ship[i].id + '_' + js_ship[i].ship_short_name + '">' + js_ship[i].ship_short_name + '</option>';
    }
    $form.find('select[name=ship]').append(shipHtml);
    form.render();
    form.on('select(ship)', function (data) {

    });
}

function loadPort() {
    //            //加载 所有的港口名字和相应的城市code
    //        var js_port = '<?php echo $js_port; ?>';
    //            js_port=JSON.parse(js_port);
    // console.log(js_port);
    var port_length = js_port.length;
    var portHtml = '';
    for (var i = 0; i < port_length; i++) {
        portHtml += '<option  value="' + js_port[i].id + '_' + js_port[i].port_name + '">' + js_port[i].port_name + '</option>';
    }
    $form.find('select[name=port]').append(portHtml);
    form.render();
    form.on('select(port)', function (data) {
        var port = data.value.split('_');
        var port_id = port['0'];
        var port_name = port['1'];


        var mark = document.getElementById('search_port');

        //                var childNote =mark.children;
        //                if (childNote.length>1){
        //                    childNote[0]
        //                }
        //已经存的港口就不执行
        if (!document.getElementById(port_id + '_' + port_name)) {
            selectPortShip(port_id, port_name, mark);
        }
    })
}
//根据不同的参数来创建对应port ship button块
function selectPortShip(port_id, port_name, mark) {
    var btn = document.createElement('button');
    btn.className = "layui-btn layui-btn-normal";
    btn.style = "display: inline\;";
    btn.innerHTML = port_name;
    btn.setAttribute('id', (port_id + '_' + port_name))
    btn.addEventListener("click", function () {
        del(this);
        return false;
    });
    var ipt = document.createElement('input');
    ipt.type = "hidden";
    ipt.name = 'port_name[]';
    ipt.value = port_id;
    var i_tag = document.createElement('i');
    i_tag.className = "layui-icon";
    i_tag.innerHTML = "&#xe640\;";
    btn.appendChild(ipt);
    btn.appendChild(i_tag);
    mark.appendChild(btn);
}

function del(obj) {
    obj.setAttribute('style', 'display: none;');
    // 删除button的子节点
    var childs = obj.childNodes;
    for (var i = childs.length - 1; i >= 0; i--) {
        obj.removeChild(childs[i]);
    }
    //删除本身button
    obj.parentNode.removeChild(obj);
}

       </script>
    </body>

    </html>