<{include file='./public/header' /}>
    <link rel="stylesheet" href="__STATIC__/../index/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/css/control.css">

    <body>
        <style>
           .layui-form-item .gkou{
                float:right;
                width: 100px;
            } 
            .layui-form-checkbox[lay-skin="primary"]{
                padding-left:0;
            }
            .layui-form-checkbox[lay-skin="primary"]{
                width: 25%;
            }
            .layui-form-checkbox[lay-skin="primary"] span{
                display: inline-block;
                width: 75%;
            }  
        </style>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">演示</a>
                <a>
                    <cite>权限分配</cite>
                </a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-right: 20px;float:right" href="javascript:location.replace(location.href);"
                title="刷新">
                <i class="layui-icon" style="line-height:30px">ဂ</i>
            </a>
        </div>
        <!-- 搜索内容 -->
        <form class="layui-form" id="cont">
            
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <input type="text" name="order_num" placeholder="姓名" autocomplete="off" class="layui-input">
                    </div>
                </div>
        
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="order_num" placeholder="账号" autocomplete="off" class="layui-input">
                    </div>
                </div>
        
        
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <a class="layui-btn cha">搜索</a>
                    </div>
                </div>
            </div>
        </form>

        <!-- 添加账号 -->
        <form class="layui-form" id="admin_user">
        <input type="hidden" name="id" value="" class="user_id">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="user_name" lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                    </div>
                </div>
            
                <div class="layui-inline">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="user_code" lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input user">
                    </div>
                </div>
            
                <div class="layui-inline">
                    <label class="layui-form-label">手机</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" lay-verify="required|phone" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                    </div>
                </div>
            
                <div class="layui-inline">
                    <label class="layui-form-label">昵称</label>
                    <div class="layui-input-block">
                        <input type="text" name="loginname" lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input">
                    </div>
                </div>
            
                <div class="layui-inline pwd">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="text" name="password"  placeholder="请输入密码" class="layui-input">
                    </div>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">部门</label>
                <div class="layui-input-block">
                    <select name="department_id" lay-filter="required_add">
                        <option value="1">业务部</option>
                        <option value="2">客服部</option>
                        <option value="3">财务部</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">职位</label>
                <div class="layui-input-block team">

                </div>
            </div>
            
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">权限</label>
                <div class="layui-input-block auth">

                </div>
            </div>


              <!-- 港口航线 -->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">管理港口</label>
                <div class="layui-input-inline">
                    <select class="province" lay-filter="province">
                        <option value="">请选择省</option>
                    </select>
                </div>
                <div class="layui-input-inline yin" id='citydiv' style="display: none;">
                    <select class="city" lay-filter="city">
                        <option value="">请选择市</option>
                    </select>
                </div>

                
                <div class="layui-input-inline yin" style="display: none;">
                    <select class="port" lay-filter="port">
                        <option value="">请选择起点/终点港口</option>
                    </select>
                </div>

                <div class="layui-input-inline gkou">
                    <a class="layui-btn layui-btn-normal">选择港口</a>
                </div>

                <div class="layui-form-item">
                        <div class="layui-input-block" id="search_port"></div>
                </div>
            </div>
        </div>
        </div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</a>
                    <button type="reset" class="layui-btn layui-btn-primary chong">重置</button>
                </div>
            </div>
        </form>

        <!-- 管理权限 -->
        <div class="layui-form" id="jurisdiction">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">权限</label>
                        <div class="layui-input-inline">
                            <input type="text"  autocomplete="off" class="layui-input add_jurisdiction">
                        </div>
                    </div>
    
                    <div class="layui-inline">
                        <a class="layui-btn add_qx">添加权限</a>
                    </div>
                </div>

                <ul class="quanxian">
                    <li class="layui-badge layui-bg-blue" title="1">是否<i class="layui-icon layui-icon-close"></i></li>
                    <li class="layui-badge layui-bg-blue" title="2">刘嘉玲<i class="layui-icon layui-icon-close"></i></li>
                    <li class="layui-badge layui-bg-blue" title="3">撒地方方式<i class="layui-icon layui-icon-close"></i></li>
                    <li class="layui-badge layui-bg-blue" title="4">阿斯蒂芬士大夫<i class="layui-icon layui-icon-close"></i></li>
                    <li class="layui-badge layui-bg-blue" title="5">阿德代理费阿道夫<i class="layui-icon layui-icon-close"></i></li>
                </ul>

                <form>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">权限名</label>
                            <div class="layui-input-inline">
                                <input type="hidden" name="id"  class="layui-input quan_id">
                                <input type="text" name="name"  class="layui-input quan_name">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn" lay-submit="" lay-filter="edit_quan">修改权限</a>
                        </div>
                    </div>
                </form>
        </div>

        <!-- 管理职位 -->
        <form class="layui-form" id="occupation">
            
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">职位</label>
                    <div class="layui-input-inline">
                        <input type="text"  autocomplete="off" class="layui-input add_occupation">
                    </div>
                </div>

                <div class="layui-inline">
                    <a class="layui-btn add_zw">添加职位</a>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">部门</label>
                <div class="layui-input-block">
                    <select name="bumen" lay-filter="required">
                        <option value="1">财务部</option>
                        <option value="2">业务部</option>
                        <option value="3">客服部</option>
                    </select>
                </div>
            </div>
            <ul class="zhiwei">
                <li class="layui-badge layui-bg-blue">是否<i class="layui-icon layui-icon-close"></i></li>
                <li class="layui-badge layui-bg-blue">刘嘉玲<i class="layui-icon layui-icon-close"></i></li>
                <li class="layui-badge layui-bg-blue">撒地方方式<i class="layui-icon layui-icon-close"></i></li>
                <li class="layui-badge layui-bg-blue">阿斯蒂芬士大夫<i class="layui-icon layui-icon-close"></i></li>
                <li class="layui-badge layui-bg-blue">阿德代理费阿道夫<i class="layui-icon layui-icon-close"></i></li>
            </ul>
        </form>

        <table id="demo" lay-filter="test"></table>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add_user">创建账号</button>
                <!-- <button class="layui-btn layui-btn-sm" lay-event="eidt_jurisdiction">管理职位</button>
                <button class="layui-btn layui-btn-sm" lay-event="eidt_occupation">管理权限</button> -->
                <!-- <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button> -->
            </div>
        </script>

        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">分配权限</a>
            <!-- <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">禁用</a> -->
        </script>
        <script src="__STATIC__/../index/layui/layui.js"></script>
        <script type="text/javascript" src="/static/admin/js/port.js?v=1"></script>
        
        <script>
            layui.use(['jquery', 'form','table','layer'], function () {
                var table = layui.table,
                layer = layui.layer,
                $ = layui.jquery,
                form = layui.form,
                $form = $('form');
                //部门的ID
                var bumen_id = '1';
                var bumen = [];//部门数据
                var city_boot = false;//是否可以选择港口
                var add_edit = false;
                //第一个实例
                table.render({
                    elem: '#demo'
                    , toolbar: '#toolbarDemo' //显示表单元素
                    , title: '权限分配'  //标题
                    , size: 'lg' //表格大小
                    ,id: 'testReload' //表格ID
                    // , height: 300
                     , url: "<{:url('admin/Jurisdiction/userData')}>" //数据接口
             
                    , cols: [[ //表头
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left' }
                        , { field: 'user_name', title: '姓名' }
                        , { field: 'user_code', title: '账号' }
                        , { field: 'department', title: '部门', sort: true, }
                        , { field: 'power', title: '权限' }
                        , { field: 'title', title: '职位' }
                       ,{ field: 'ship', title: '港口',templet:function(data,value){
                           let name = '';
                           if(data.city_code[0]){
                            for (let i = 0; i < data.city_code.length; i++) {
                                name += data.city_name[i] + ',';
                            }
                           }else{
                            for (let i = 0; i < data.port_code.length; i++) {
                                name += data.port_name[i] +','
                            }
                           }
                           return `${name}`
                        }}
                        , { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                    ]]
                    , page: true //开启分页
                });

                
                //搜索
                $('.cha').click(function(){
                    let arrt = $('#cont').serializeArray();
                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            user_name: arrt[0].value,
                            user_code: arrt[1].value
                        }
                    });
                });


                //头工具栏事件
                table.on('toolbar(test)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case 'add_user'://创建账号
                            add_edit = true;
                            $('.user').attr('readonly',false);
                            $('#admin_user .user_id').remove();
                            layer.open({
                                type: 1, 
                                title: '创建账号',
                                content: $('#admin_user'),
                                area: ['1000px','550px'],
                                offset: 't',
                                success: function (layero, index) {
                                    $('.chong').click();
                                    teamList($('#admin_user .team'),1,0,bumen);
                                    authGroup($('#admin_user .auth'));
                                }
                            });
                            loadProvince();
                            break;
                        case 'eidt_jurisdiction'://管理权限
                            layer.open({
                                type: 1, 
                                title: '管理权限',
                                content: $('#jurisdiction'),
                                area: '600px',
                                offset: 't',
                            });
                            break;
                        case 'eidt_occupation'://管理职位
                            layer.open({
                                type: 1, 
                                title: '管理职位',
                                content: $('#occupation'),
                                area: ['700px','450px'],
                                offset: 't',
                                success: function (layero, index) {
                                    // teamList($('#admin_user .team'));
                                    // authGroup($('#admin_user .auth'));
                                }
                            });
                            break;
                        case 'getCheckData':
                            var data = checkStatus.data;
                            layer.alert(JSON.stringify(data));
                            break;
                        case 'getCheckLength':
                            var data = checkStatus.data;
                            layer.msg('选中了：' + data.length + ' 个');
                            break;
                        case 'isAll':
                            layer.msg(checkStatus.isAll ? '全选' : '未全选');
                            break;
                    };
                });

                //监听行工具事件
                table.on('tool(test)', function (obj) {
                    var data = obj.data;
                    //console.log(obj)
                    if (obj.event === 'del') {
                        layer.confirm('真的删除行么', function (index) {
                            obj.del();
                            layer.close(index);
                        });
                    } else if (obj.event === 'edit') {
                        add_edit = false;
                        $('.user').attr('readonly',true);
                        $.get("<{:url('admin/jurisdiction/userData')}>",{uid:obj.data.id},function(res){
                            layer.open({
                                type: 1, 
                                title: '分配权限',
                                content: $('#admin_user'),
                                area: ['1000px','550px'],
                                offset: 't',
                                success: function (layero, index) {
                                    loadProvince();
                                    let data = res.data;
                                    $('.chong').click();
                                    $('#admin_user').append(`<input type="hidden" name="id" class="user_id" value="${data.id}"> `)
                                    $('#admin_user input[name="user_name"]').val(data.user_name);//姓名
                                    $('#admin_user input[name="user_code"]').val(data.user_code);//账号
                                    $('#admin_user select[name="department_id"]').val(data.department_id);//部门
                                    $('#admin_user input[name="phone"]').val(data.phone);//电话
                                    $('#admin_user input[name="email"]').val(data.email);//邮箱
                                    $('#admin_user input[name="loginname"]').val(data.loginname);//昵称
                                    $('#admin_user input[name="password"]').val(data.password);//密码
                                    teamList($('#admin_user .team'),data.department_id,data.job_id,bumen);
                                    authGroup($('#admin_user .auth'),data.power_id);
                                    form.render();
                                    var mark = document.getElementById('search_port');
                                    if (data.city_code[0]) {
                                        sh();   
                                        for (let i = 0; i < data.city_code.length; i++) {
                                            if (data.city_code[i]) {
                                                selectPortShip(data.city_code[i], data.city_name[i], mark, 'city_code[]');
                                            }
                                        }
                                    }else{
                                        hi();
                                        for (let i = 0; i < data.port_code.length; i++) {
                                            if (data.port_code[i]) {
                                                selectPortShip(data.port_code[i], data.port_name[i], mark, 'port_code[]');
                                            }
                                        }
                                    }
                                    

                                }
                            });
                            
                        });                            
                    }else if(obj.event === 'eidt_jurisdiction'){
                        
                    }else if(obj.event === 'eidt_occupation'){
                        
                    }
                });
                
                var list = [];
                $.get("<{:url('admin/jurisdiction/teamList')}>",function(res){
                    bumen = res;
                })
                //部门列表
                function teamList(it,sum,job_id,res){
                    it.html('');
                        for (let i in res) {
                            if (res[i].id == sum) {
                                team(res[i].childMenus);
                            }
                        }
                        for (let i in list) {
                            if (list[i].id == job_id) {
                                it.append(`<input type="radio" name="title" value="${list[i].id}" title="${list[i].title}" checked="">`);
                            }else{
                                it.append(`<input type="radio" name="title" value="${list[i].id}" title="${list[i].title}">`);
                            }
                        }
                        list = [];
                        form.render();
                    
                }
                
                function team(data){
                    let obj = {};
                    for (let i in data) {
                        obj = {id:data[i].id,title:data[i].title};
                        list.push(obj);
                        let data1 = data[i].childMenus;
                        for (let j in data1) {
                            obj = {id:data1[i].id,title:data1[i].title};
                            list.push(obj);
                        }
                    }
                }

                //权限列表
                function authGroup(it,shu){

                    it.html('');
                    $.get("<{:url('admin/jurisdiction/authGroup')}>",function(res){
                        if (shu) {
                            for (let i in res) {
                                for (let j = 0; j < shu.length; j++) {
                                    if (res[i].id == shu[j]) {
                                        it.append(`<input type="checkbox" name='power[]' value="${res[i].id}" lay-skin="primary" title="${res[i].title}" checked>`);
                                    } else {
                                        it.append(`<input type="checkbox" name='power[]' value="${res[i].id}" lay-skin="primary" title="${res[i].title}">`);
                                    }
                                }
                            }
                        }else{
                            for (let i in res) {
                                it.append(`<input type="checkbox" name='power[]' value="${res[i].id}" lay-skin="primary" title="${res[i].title}">`);
                            }
                        }

                        
                        form.render();
                    })
                }

                $('.chong').click(function(){
                    $('#search_port').html('');
                    $('.yin').hide();
                })


                //添加账号/修改信息
                form.on('submit(demo1)', function (data) {
                    if (add_edit) {//判断是添加还是修改
                        $.post("<{:url('admin/jurisdiction/userAdd')}>", data.field, function (res) {
                            if (res.status) {
                                layer.msg('添加成功', { icon: 1, time: 1000 }, function () {
                                    window.location.reload();
                                })
                            } else {
                                layer.msg('添加失败', { icon: 2, time: 1000 });
                            }
                        });
                    } else {
                        $.post("<{:url('admin/jurisdiction/userEdit')}>", data.field, function (res) {
                            if (res.status) {
                                layer.msg('修改成功', { icon: 1, time: 1000 }, function () {
                                    window.location.reload();
                                })
                            } else {
                                layer.msg('修改失败', { icon: 2, time: 1000 });
                            }
                        });
                    }
                    return true;
                });
                
                
                //监听部门
                form.on('select(required)', function(data) {
                    bumen_id = data.value;
                    console.log(bumen_id)
                });

                //监听add部门
                form.on('select(required_add)', function(data) {
                    teamList($('#admin_user .team'),data.value,0,bumen);
                });

                //添加权限
                $('.add_qx').click(function () {
                    let name = $('.add_jurisdiction').val();
                    $.post("<{:url('admin/jurisdiction/aaa')}>", { name: name }, function (res) {
                        if (res.status) {
                            layer.msg('添加成功', { icon: 1, time: 1000 }, function () {
                                $('.quanxian').append(`<li class="layui-badge layui-bg-blue">${name}<i class="layui-icon layui-icon-close"></i></li>`);
                            })
                        } else {
                            layer.msg('删除失败', { icon: 2, time: 1000 });
                        }
                    })

                });

                //删除权限
                $('.quanxian').on('click', 'li i', function () {
                    let that = $(this);
                    $.get("<{:url('admin/jurisdiction/aaa')}>", {id:1}, function (res) {
                        if (res.status) {
                            layer.confirm('是否删除', { icon: 3, title: '提示' }, function () {
                                layer.msg('删除成功', { icon: 1, time: 1000 }, function () {
                                    that.parent('li').remove();
                                })
                            });
                        } else {
                            layer.msg('删除失败', { icon: 2, time: 1000 });
                        }
                    })
                });

                //选中修改权限
                $('.quanxian').on('click','li',function(){
                    $(this).addClass('se').siblings().removeClass('se');
                    $('.quan_name').val($(this).text())
                    $('.quan_id').val($(this).attr('title'));
                });

                // 修改权限
                form.on('submit(edit_quan)', function (data) {
                    $.post("<{:url('admin/jurisdiction/aaa')}>", data.field, function (res) {
                        if (res.status) {
                            layer.msg('修改成功', { icon: 1, time: 1000 }, function () {
                                $('.quanxian li').each(function () {
                                    if ($(this).is('.se')) {
                                        $(this).text(data.field.name);
                                    }
                                })
                            })
                        } else {
                            layer.msg('修改失败', { icon: 2, time: 1000 });
                        }
                    })                    
                    return true;
                });

                //添加职位
                $('.add_zw').click(function(){
                    let name = $('.add_occupation').val();
                    console.log(bumen_id)
                    $.post("<{:url('admin/jurisdiction/aaa')}>", { name: name, id: bumen_id }, function (res) {
                        if (res.status) {
                            layer.msg('添加成功', { icon: 1, time: 1000 }, function () {
                                $('.zhiwei').append(`<li class="layui-badge layui-bg-blue">${name}<i class="layui-icon layui-icon-close"></i></li>`);
                            })
                        } else {
                            layer.msg('添加失败', { icon: 2, time: 1000 });
                        }

                    })
                    
                });
                
                //删除职位
                $('.zhiwei').on('click', 'li i', function () {
                    let that = $(this);
                    console.log(bumen_id)
                    $.get("<{:url('admin/jurisdiction/aaa')}>", { id: bumen_id }, function (res) {
                        if (res.status) {
                            layer.confirm('是否删除', { icon: 3, title: '提示' }, function () {
                                layer.msg('删除成功', { icon: 1, time: 1000 }, function () {
                                    that.parent('li').remove();
                                })
                            });
                        } else {
                            layer.msg('删除失败', { icon: 2, time: 1000 });
                        }
                    });
                });







        var areaData = JS_PORT;
        //加载省数据
        function loadProvince() {
            var proHtml = '';
            for (var i = 0; i < areaData.length; i++) {
                proHtml += '<option title="'+ i +'"  style="width: 40px" value="' + areaData[i].provinceCode + '">' + areaData[i].provinceName + '</option>';
            }
            
            // 初始化省数据
            $form.find('.province').append(proHtml);
            form.render();
            form.on('select(province)', function(data) {
                $form.find('select[name=port]').html('<option value="">请选择县/区</option>').parent().hide();
                var value = data.value,
                index = $(data.elem).find("option:selected").attr('title');
                if (value) {
                    loadCity(areaData[index].mallCityList);
                } else {
                    $form.find('.city').parent().hide();
                }
            });
        }
        
    //加载市数据
        function loadCity(citys) {
            var cityHtml = '';
            for (var i = 0; i < citys.length; i++) {
                cityHtml += '<option title="'+ i +'" style="width: 40px" value="' + citys[i].cityCode + '">' + citys[i].cityName + '</option>';
            }
            $form.find('.city').html(cityHtml).parent().show();
            form.render();
            form.on('select(city)', function(data) {
                var value = data.value,
                mark = document.getElementById('search_port'),
                index = $(data.elem).find("option:selected").attr('title'),
                name = $(data.elem).find("option:selected").text();
                if (!city_boot) {
                    if(! document.getElementById(value)  ){
                        selectPortShip(value,name,mark,'city_code[]');
                    } 
                }
                //将城市Id 传给港口loadPort()
                loadPort(citys[index].mallPortList);
            });
        }
    
        //加载对应城市的港口，
        function loadPort(ports){            
            var areaHtml = '';
            for(var i=0;i<ports.length;i++){
                areaHtml += '<option  value="' + ports[i].portCode +'">' + ports[i].portName + '</option>';  
            }
            if(city_boot){
                $form.find('.port').html(areaHtml).parent().show();
            }else{
                $form.find('.port').html(areaHtml);
                $('.gkou').show();
            }
            
            form.render();
            form.on('select(port)', function(data) {
                var mark = document.getElementById('search_port'),
                name = $(data.elem).find("option:selected").text();
                 //已经存的港口就不执行
                if(! document.getElementById(data.value)  ){
                    selectPortShip(data.value,name,mark,'port_code[]');
                } 
            }) 
        }

        $('.gkou').click(function(){
            if ($(this).find('a').html() == '选择港口') {
                $(this).find('a').html('选择城市');
                $form.find('.port').parent().show();
                $('#search_port').html('');
                city_boot = true;
            }else{
                $(this).find('a').html('选择港口');
                $form.find('.port').parent().hide();
                $('#search_port').html('');
                city_boot = false;
            }
            
        })
        
        //显示港口
        function hi(){
            $('.gkou').hide();
            city_boot = true;
        }

        //显示港口
        function sh(){
            $('.gkou').show();
            $form.find('.port').parent().hide();
            city_boot = false;
        }

        function  selectPortShip(port_id,port_name,mark,code){                      
            var btn =document.createElement('button');
                btn.className="layui-btn layui-btn-normal";
                btn.style="display: inline\;" ;
                btn.innerHTML=port_name;
                btn.setAttribute('id',(port_id))
                btn.addEventListener("click",function() {
                        del(this);
                        return false;
                });
            var ipt= document.createElement('input');
                ipt.type="hidden";
                ipt.name= code;
                ipt.value=port_id;
            var  i_tag=document.createElement('i');
                 i_tag.className="layui-icon";
                 i_tag.innerHTML="&#xe640\;";
            btn.appendChild(ipt);   
            btn.appendChild(i_tag);
            mark.appendChild(btn);
           
         }
         
        function del(obj){
            obj.setAttribute('style','display: none;');
           // 删除button的子节点
            var childs = obj.childNodes; 
                for(var i = childs.length - 1; i >= 0; i--) { 
                    obj.removeChild(childs[i]); 
                }
                //删除本身button
                obj.parentNode.removeChild(obj);
         }

            });
        </script>
    </body>

    </html>
