<{include file='./public/header' /}>

    <body>
        <link rel="stylesheet" href="__STATIC__/css/order_list.css">
        <script src="__STATIC__/lib/layui/layui.all.js"></script>
        <!-- 待报柜号 -->
        <div class="layui-tab-item layui-show">
            <xblock>
                <button class="layui-btn layui-btn-danger" onclick="delAll()">
                    <i class="layui-icon"></i>批量删除</button>
                <span class="x-right" style="line-height:40px">总共有
                    <{$count_book}>条记录</span>
            </xblock>
            <!-- 内容 -->

            <div class="order_list layui-row">
                <{volist name="list_book" id="vo" }>
                    <div class="nei layui-col-md12">
                        <div class="top">
                            <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='1'>
                                <i class="layui-icon">&#xe605;</i>
                                <span>创建时间:
                                    <{$vo.mtime|date="y-m-d" ,###}>
                                </span>
                            </div>
                            <span class="top_ma">
                                <span>业务员:
                                    <{$vo.sales_name}>
                                </span>
                                <span>船期:
                                    <{$vo.shipping_date|date="y-m-d" ,###}>
                                </span>
                                <span>海上时效:
                                    <{$vo.sea_limitation}>
                                </span>
                                <span>截单时间:
                                    <{$vo.cutoff_date|date="y-m-d" ,###}>
                                </span>
                            </span>
                        </div>
                        <div class="cen">
                            <div class="cen_le layui-col-md12">
                                <div class="layui-col-md3">
                                    <p>订单号:
                                        <inpu type='text' name="order_num" id='order_num' value='<{$vo.order_num}>'>
                                            <{$vo.order_num}>
                                    </p>
                                    <p>船公司/船名/航次:
                                        <{$vo.ship_short_name}>
                                            <{$vo.boat_name}>/
                                                <{$vo.boat_code}>
                                    </p>
                                </div>
                                <div class="layui-col-md3">
                                    <p>收货人:
                                        <{$vo.company}>
                                    </p>
                                    <p>货名:
                                        <{$vo.cargo}>
                                    </p>
                                </div>
                                <div class="layui-col-md3">
                                    <p>航线:
                                        <{$vo.s_port_name}>-
                                            <{$vo.e_port_name}>
                                    </p>
                                    <p>箱型*箱量:
                                        <{$vo.type}>*
                                            <{$vo.container_sum}>
                                    </p>
                                </div>
                                <div class="layui-col-md2">
                                    <p class="se">状态：待报柜</p>
                                    <p class="se">天数:
                                        <?php $timediff =time()-$vo['mtime']; $days = intval($timediff/86400); echo $days;?>天</p>
                                </div>
                            </div>
                        </div>
                        <div class="fo">
                            <a title="查看" onclick="x_admin_show('查看','<{:url('Price/route_edit')}>',700,500)" href="javascript:;">查看订单</a>
                            <a title="修改" onclick="x_admin_show('修改','<{:url('Price/route_edit')}>',700,500)" href="javascript:;">修改订单</a>
                            <a title="修改" onclick="x_admin_show('修改','<{:url('Price/route_edit')}>',700,500)" href="javascript:;">拆分订单</a>
                            <a title="删除" onclick="" href="javascript:;">删除订单</a>
                        </div>
                    </div>
                    <div id="yd" class="layui-form">
                        <ul class="ydh">
                            <li>
                                <input class="quan" type="checkbox"  lay-filter="filter" name="" lay-skin="primary" title="">
                                <a href="javascript:;">ZHY1817NSKRZ035</a>
                                <dl>
                                    <dd><input type="checkbox" name="" lay-skin="primary" title="1AAA1817NSKRZ035"></dd>
                                    <dd><input type="checkbox" name="" lay-skin="primary" title="2AAA1817NSKRZ035"></dd>
                                    <dd><input type="checkbox" name="" lay-skin="primary" title="3AAA1817NSKRZ035"></dd>
                                </dl>
                            </li>
                            <li>
                                <input type="checkbox" name="" lay-skin="primary" title="">
                                <a href="javascript:;">SDT1817NSKRZ035</a>
                                <dl>
                                    <dd>
                                        <input type="checkbox" name="" lay-skin="primary" title="fassd2545456465">
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                        <div><button class="yes layui-btn layui-btn-warm  layui-btn-xs">确认</button></div>
                    </div>
                    <{/volist}>

            </div>

            <div class="page">
                <div>
                    <{$page_book}>
                </div>
            </div>
        </div>

        <script> 
            layui.use('form', function () {
                var form = layui.form;
                form.render('checkbox');
            });
        </script>

         <script src="__STATIC__/js/order_list.js"></script>
         <script>
            function toajax(data) {
                console.log(data);
                var jsonData =JSON.stringify(data)
                var loading = layer.load(1);
                post_adduser = true;
                $.ajax({
                    type: 'POST',
                    url: "<{:url('admin/Order/toBaogui')}>",
                    data: jsonData,
                    dataType:"JSON",
                    contentType: "application/json",
                    success: function (status) {
                        if (status > 0) {
                            post_adduser = false;
                            layer.close(loading);
                            layer.msg("添加成功", { icon: 6, time: 1000 }, function () {
                                // 获得frame索引
                                parent.location.reload();
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                            });
                        } else {
                            post_adduser = false;
                            layer.close(loading);
                            layer.msg("添加失败", { icon: 5 });
                        }
                    },
                    error: function () {
                        post_adduser = false; //AJAX失败也需要将标志标记为可提交状态
                        layer.close(loading);
                        layer.msg("添加失败", { icon: 5 });
                    }
                });
                return false;//只此一句
            }    
             
         </script>

    </body>

    </html>