<{include file='./public/header' /}>
<body>    
<link rel="stylesheet" href="__STATIC__/css/order_list.css">
<!-- 待报柜号 -->
<div class="layui-tab-item">
    <xblock>
      <button class="layui-btn layui-btn-danger" onclick="delAll()">
        <i class="layui-icon"></i>批量删除</button>
      <button class="layui-btn" onclick="x_admin_show('添加用户','<{:url(" ")}>',600,400)">
        <i class="layui-icon"></i>添加</button>
      <span class="x-right" style="line-height:40px">总共有
        <{}>条记录</span>
    </xblock>
    <div class="order_list layui-row">
      <div class="nei layui-col-md12">
        <div class="top">
          <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='1'>
            <i class="layui-icon">&#xe605;</i>
            <span>创建时间：2018-03-08</span>
          </div>
          <span class="top_ma">
            <span>业务员：小明</span>
            <span>船期：2018-03-05</span>
            <span>海上时效：3天</span>
            <span>离港时间：2018-05-10</span>
          </span>
        </div>
        <div class="cen">
          <div class="cen_le layui-col-md12">
            <div class="layui-col-md3">
              <p>运单号：178NJIYD045</p>
              <p>船名/航次：场景18/1782N</p>
            </div>
            <div class="layui-col-md3">
              <p>收货人：广州三乐科技有限公司</p>
              <p>货名：钢筋</p>
            </div>
            <div class="layui-col-md3">
              <p>航线：揭阳-青岛</p>
              <p>箱型*箱量：20GP*1</p>
            </div>
            <div class="layui-col-md2">
              <p class="se">状态：待报柜号</p>
              <p class="se">天数：7天</p>
            </div>
            <div class="layui-col-md1">
              <p class="a_niu">
                <a href="">确认</a>
              </p>
              <p class="a_niu">
                <a class="qu" href="">取消</a>
              </p>
            </div>
          </div>
        </div>
        <div class="fo">
          <a title="查看" onclick="x_admin_show('查看','<{:url('Price/route_edit')}>',700,500)" href="javascript:;">查看订单</a>
          <a title="修改" onclick="x_admin_show('修改','<{:url('Price/route_edit')}>',700,500)" href="javascript:;">修改订单</a>
          <a title="删除" onclick="" href="javascript:;">删除订单</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
