<{include file='./public/header' /}>
<body>    
<link rel="stylesheet" href="__STATIC__/css/order_list.css">
<!-- 待派车 -->
<div class="layui-tab-item layui-show">
<xblock>
    <button class="layui-btn layui-btn-danger" onclick="delAll()">
    <i class="layui-icon"></i>批量删除</button>
    <span class="x-right" style="line-height:40px">总共有
    <{$count}>条记录</span>
</xblock>
<!-- 内容 -->
<div class="order_list layui-row">
    <{volist name="list_book" id="vo" }>  
    <div class="nei layui-col-md12">
        <div class="top">
            <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='1'>
                <i class="layui-icon">&#xe605;</i>
                <span>创建时间: <{$vo.mtime}></span>
            </div>
            <span class="top_ma">
                <span>业务员: <{$vo.sales_name}></span>
                <span>船期: <{$vo.shipping_date|date="y-m-d",###}></span>
                <span>海上时效: <{$vo.sea_limitation}></span>
                <span>截单时间: <{$vo.cutoff_date|date="y-m-d",###}></span>
            </span>
        </div>
        <div class="cen">
            <div class="cen_le layui-col-md12">
            <div class="layui-col-md3">
                <p>订单号:<{$vo.order_num}></p>
                <p>船公司/船名/航次: <{$vo.ship_short_name}> <{$vo.boat_name}>/<{$vo.boat_code}></p>
            </div>
            <div class="layui-col-md3">
                <p>收货人: <{$vo.company}></p>
                <p>货名: <{$vo.cargo}></p>
            </div>
            <div class="layui-col-md3">
                <p>航线: <{$vo.s_port_name}>-<{$vo.e_port_name}></p>
                <p>箱型*箱量: <{$vo.type}>*<{$vo.container_sum}></p>
            </div>
            <div class="layui-col-md2">
                <p class="se">状态：待派车</p>
                <p class="se">天数: <?php $timediff =time()-$vo['mtime']; $days = intval($timediff/86400); echo $days;?>天</p>
            </div>
            <div class="layui-col-md1">
                <p class="a_niu">
                    <a title="录入派车信息" onclick="x_admin_show('<{$vo.order_num}>录入派车信息','<{:url('Order/sendCarInfo')}>?order_num=<{$vo.order_num}>&container_sum=<{$vo.container_sum}>&container_code=<{$vo.container_code}>',800,600)" href="javascript:;">确认</a>
                </p>
                <p class="a_niu">
                    <a class="qu" href="">取消</a>
                </p>
            </div>
          </div>
        </div>
        <div class="fo">
            <a title="查看" onclick="x_admin_show('查看','<{:url('Price/route_edit')}>',700,500)" href="javascript:;">查看订单</a>
            <a title="修改" onclick="x_admin_show('修改','<{:url('Price/route_edit')}>',700,500)" href="javascript:;">修改订单</a>
            <a title="删除" onclick="" href="javascript:;">删除订单</a>
        </div>
    </div>
    <{/volist}>

</div>
<div class="text-center" id="pages"></div>
</div>
   <script>
            layui.use('laypage', function () {
          var laypage = layui.laypage;
       //   var $data = $("#search_price input");
//          var start_add = $data[0].value;
//          var end_add = $data[1].value;
//          var load_time = $data[2].value;
          //执行一个laypage实例        
          laypage.render({
            elem: 'pages',
            limit:"<{$limit}>",
            limits: [5, 10, 15],
            count:"<{$count}>",
            layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
            curr:"<{$page}>",
            theme: '#c00',
            jump: function (obj, first) {
              //obj包含了当前分页的所有参数，比如：
              //console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
              //console.log(obj.limit); //得到每页显示的条数
              //首次不执行
              if (!first) {
                //do something
                window.location.href = "<{$page_url}>?page=" + obj.curr + '&limit=' + obj.limit;
              }
            }
          });
        })     
             
    </script>
</body>
</html>