<{include file='./public/header' /}>

<body>
    <link rel="stylesheet" href="__STATIC__/css/order_list.css">
    <script src="__STATIC__/lib/layui/layui.all.js"></script>
    <!-- 待报柜号 -->
    <div class="layui-tab-item layui-show">
        <xblock>
            <button class="layui-btn layui-btn-danger" onclick="delAll()">
                <i class="layui-icon"></i>批量删除</button>
            <span class="x-right" style="line-height:40px">总共有
                <{$count}>条记录</span>
        </xblock>
        <!-- 内容 -->

    <div class="order_list layui-row">
    <{volist name="list_book" id="vo" }>
    <div class="nei layui-col-md12">
    <div class="top">
        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='1'>
            <i class="layui-icon">&#xe605;</i>
            <span>创建时间:
                <{$vo.ctime}>
            </span>
        </div>
        <span class="top_ma">
            <span>业务员:
                <{$vo.user_name}>
            </span>
            <span>船期:
                <{$vo.shipping_date}>
            </span>
            <span>海上时效:
                <{$vo.sea_limitation}>
            </span>
            <span>截单时间:
                <{$vo.cutoff_date}>
            </span>
        </span>
    </div>
    <div class="cen">
    <div class="cen_le layui-col-md12">
    <div class="layui-col-md3">
    <p>订单号:
        <inpu type='text' name="order_num" id='order_num' value='<{$vo.order_num}>'>
        <{$vo.order_num}>
    </p>
    <p>船公司/船名/航次:
    <{$vo.ship_short_name}>
    <{$vo.boat_name}>/
    <{$vo.boat_code}>
    </p>
    </div>
    <div class="layui-col-md3">
        <p>收货人:
            <{$vo.company}>
        </p>
        <p>货名:
            <{$vo.cargo}>
        </p>
    </div>
    <div class="layui-col-md3">
        <p>航线:
            <{$vo.s_port_name}>-
                <{$vo.e_port_name}>
        </p>
        <p>箱型*箱量:
            <{$vo.container_size}>*
                <{$vo.container_sum}>
        </p>
    </div>
    <div class="layui-col-md2">
        <p class="se">状态：<{$status}></p>
        <p class="se">天数:<{$vo.differ_day}>天</p>
    </div>
<div class="layui-col-md1">
<p class="a_niu">
    <a title="提交" onclick="order_pass(this,'<{$vo.order_num}>')" href="javascript:;">提交</a>
</p>
<p class="a_niu">
    <a class="qu" href="">取消</a>
</p>
</div>
            </div>
        </div>
        <div class="fo">
            <a title="查看" onclick="x_admin_show('查看','<{:url('admin/OrderProcess/OrderDetail')}>',1000,500)" href="javascript:;">查看订单</a>
            <a title="修改" onclick="x_admin_show('修改','<{:url('admin/OrderProcess/orderModify')}>',1000,500)" href="javascript:;">修改订单</a>
            <a title="修改" onclick="x_admin_show('修改','<{:url('admin/OrderProcess/orderSplit')}>',700,300)" href="javascript:;">拆分订单</a>
            <a title="删除" onclick="" href="javascript:;">删除订单</a>
        </div>
    </div>

            <{/volist}>

        </div>

        <div class="text-center" id="pages"></div>
    </div>

    <script> 
        layui.use('form', function () {
            var form = layui.form;
            form.render('checkbox');
        });
    </script>

    <script>
        
              /*用户-删除*/
    function order_pass(obj,id){
        layer.confirm('确认<{$status}>了么？',function(index){
            //发异步删除数据
            toajax({'order_num':id});
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }
    function toajax(data) {
        $.ajax({
            type: 'GET',
            url: "<{$ajaxurl}>",
            data: data,
            datacontainer_size:"JSON",
           // contentType: "application/json; charset=utf-8",
            success: function (data) {
            }
            });
        }    
        
        
    layui.use('laypage', function () {
      var laypage = layui.laypage;
      //执行一个laypage实例        
      laypage.render({
        elem: 'pages',
        limit:"<{$limit}>",
        limits: [5, 10, 15],
        count:"<{$count}>",
        layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
        curr:"<{$page}>",
        theme: '#c00',
        jump: function (obj, first) {
          //obj包含了当前分页的所有参数，比如：
          //console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
          //console.log(obj.limit); //得到每页显示的条数
          //首次不执行
          if (!first) {
            //do something
            window.location.href = "<{$page_url}>?page=" + obj.curr + '&limit=' + obj.limit;
          }
        }
      });
    })     


</script>
</body>
</html>