$lan:#2e8de5;
$cheng:#ff9f19;
$hui:#aaa;
button{
  cursor: pointer;
}
.se{
  background-color: $lan;
  color:#fff;
}
.xxtx{
  width: 80%;
  margin: 0 auto;
  // 订单信息
  .xxtx_dd{
    border: 1px solid #808080;
    padding:0 10px;
    .xx{
      padding:10px 0;
      border-bottom:1px solid #808080;
      margin-bottom:20px;
    }
    .dd{
      height: 250px;
      .tu{
        height: 100%;
      }
      .dd_nei{
        height: 80%;
        //路线
        .dd_yu{
          padding:0px 23px;
        }
        .bian{
          border-left: 1px solid #808080;
        }
        .dd_lu{
          font-size: 16px;
          height: 35px;
          line-height: 35px;
          padding:5px 0;
          margin-bottom:50px;
          border-bottom:1px solid #808080;
          span:nth-child(1){
            color:#808080;
            float: left;
          }
          span:nth-child(2){
            float: right;
          }
          i{
            color:#808080;
          }
          .a{
            strong{
              margin-right: 20px;
            }
          }
          .b{
            strong{
              margin-left: 20px;
            }
          }
          .c{
            text-align: center;
            i{
              color:$lan;
            }
          }
        }
        //下单日期
        .yj{
          border-bottom:1px solid #808080;
          >div{
            margin:10px 0;
            height: 30px;
            span:nth-child(1){
              color:#808080;
              float: left;
            }
            span:nth-child(2){
              float: right;
            }
          }
        }
      }
      // 航次
      .dd_ming{
        height: 20%;
        padding:5px 30px;
        span{
          color:$lan;
        }
        >div:nth-child(2){
          text-align: center;
        }
        >div:nth-child(3){
          text-align: right;
        }
      }
    }
  }

  //委托信息
  .er{
    margin-top:50px;
    overflow: hidden;
    .er_anniu{
      float: right;
      margin-top:-5px;
      button{
        width: 100px;
        height:30px;
        border:0;
      }
    }
    .grid-demo{
      height: 35px;
      margin:25px 0;
      >.layui-col-xs3,.layui-col-xs4{
        text-align: right;
        height: 35px;
        line-height: 35px;
        span{
          color:red;
        }
      }
      input,.select{
        width:80%;
        height: 30px;
        padding-left: 13px;
      }
      .select{
        border-radius: 0;
        select{
          padding:3px;
        }
        &:before{
          top:9px;
          right: 1.5em;
        }
      }
      d{
        border:1px solid #808080;
        display: inline-block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin-right: 9px;
      }
    }
  }

  //航线介绍
  .hx{
    margin-bottom: 20px;
    height: 100px;
    overflow: auto;
  }

  .tjiao{
    width: 30%;
    margin:50px auto;
    button{
      height: 30px;
      width: 100px;
      color:#fff;
      background-color: $cheng;
      border: 0;
      &:nth-child(2){
        float: right;
      }
    }
  }
}
