$lan:#2e8de5;
$cheng:#ff9f19;
$hui:#8c8c8c;
$bian:1px solid #ccc;
$hei:#4c4c4c;
//提交柜号模态窗
#cabinet{
    display: none;
    padding:10px 50px 0 0;
    
    .guix{
        .ggh{
          width: 540px;
          overflow: hidden;
        }
        .wenzi{
          margin-left: 30px;
          line-height: 35px;
          width:80px;
          float: left;
        }
        .layui-form-item{
          clear:none;
          width: 240px;
          float: left;
          margin-right: 60px;
          &:nth-child(2n){
            margin-right:0;
          }
          .guinei{
            width: 107px;
            float: left;
          }
          .layui-form-mid{
            margin: 0 10px;
          }
        }
      }

}
#state_goods{
  display: none;
  text-align: center;
  padding: 10px 0;
}
.demo-class .layui-layer-title{
    background-color: $lan;
}
#te{
    td{
        a{
            padding: 5px;
            color: #fff;
            background-color: red;
        }
    }
    .caozuo{
      a{
        background-color:transparent;
        color: #000;
        font-size: 16px;
      }
    }
}


//省市区联动
#address{
  display: none;
  position: absolute;
  top: 42px;
  left: 200px;
  width: 428px;
  height: 175px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
  ul{
    list-style: none;
    height: 30px;
    line-height: 30px;
    border-bottom: 2px solid $lan;
    li{
      float: left;
      height: 30px;
      width: 100px;
      text-align: center;
      cursor: pointer;
    }
    .lanse{
      background: $lan;
    }
  }
  #dizhi{
    a{
      display: inline-block;
      height: 25px;
      text-align: center;
      line-height: 25px;
      margin:0 5px;
      cursor: pointer;
      &:hover{
        color:red;
      }
    }
  }
}
.yinc{
  display: none;
}