<{include file='./public/header'/}>
  
  <body>
    <div class="x-body">
       
        <form  id="editform" method="post">
            <input type="hidden"  name="id" class="layui-input" value="<{$member.id}>">
          <div class="layui-form-item">
              <label  class="layui-form-label">
                  <span class="x-red">*</span>姓　名
              </label>
              <div class="layui-input-inline">
                  <input type="text"  name="username" class="layui-input" value="<{$member.username}>">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>将会成为您唯一的登入名
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label">
                  <span class="x-red">*</span>手机号
              </label>
              <div class="layui-input-inline">
                  <input type="text"  name="phone" class="layui-input" value="<{$member.phone}>">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_eamil" class="layui-form-label">
                  <span class="x-red">*</span>邮&nbsp;&nbsp;&nbsp;箱
              </label>
              <div class="layui-input-inline">
                  <input type="text"  name="email" lay-verify="email" autocomplete="off" class="layui-input" value="<{$member.email}>">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  6到16个字符
              </div>
          </div>
       
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <input type="button" value="确 认" class="layui-btn" id="editbtn"  onclick="toajax()"> 
          </div>
      </form>
    </div>
  <script>
  
      
       function toajax (){   
                $.ajax({
                    type:'POST',
                    url:"<{:url('admin/member/mupdate')}>",    
                    data:$("#editform").serialize(),
                    dataType:"json",
                      success:function(data){
                        if(data.status==1){
                             alert(data.message,{icon:1,time:1000});
                        }else{
                            alert(data.message,{icon:1,time:1000});
                            }
                        }
                     })
                 }
      
      
     
</script>
  </body>

</html>