<{include file='./public/header'/}>
  <body>
    <div class="x-body">
        <form class="layui-form" id="editform">
            <input type="hidden" name="id" value="<{$member.id}>" >
        <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  <span class="x-red">*</span>密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="pwd1" name="password" required="" lay-verify="pass"
                  autocomplete="off" class="layui-input" value="">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  6到16个字符
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>确认密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="pwd2" name="password" required="" lay-verify="repass"
                  autocomplete="off" class="layui-input"  value=""><span id="tishi"></span>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
            <input type="button" value="提　交" class="layui-btn" id="editbtn"  onclick="validate()"> 
          </div>
      </form>
    </div>
    <script>
   
      
      
        //自定义验证规则
       function validate(){
                  var pwd1 = document.getElementById("pwd1").value;
                  var pwd2 = document.getElementById("pwd2").value;
                   
    		//<!-- 对比两次输入的密码 -->
                  if(pwd1 !== pwd2) {
                      document.getElementById("tishi").innerHTML="<font color='red'>两次密码不相同请重新输入</font>";                
                  }
                  else {
                    document.getElementById("tishi").innerHTML="";
                       toajax();
                  }
              }
      function toajax (){   
            $.ajax({
                type:'POST',
                url:"<{:url('admin/member/mupdate')}>",    
                data:$("#editform").serialize(),
                dataType:"json",
                  success:function(data){
                    if(data.status==1){
                        alert(data.message,{icon:1,time:1000});
                     window.parent.location.reload();  
                     parent.layer.closeAll('iframe');  
                       
                    }else{
                        alert(data.message,{icon:1,time:1000});
                     
                  }
                }
            })
        }
       
            
        </script>
  
  </body>

</html>