<{include file='./public/header'/}>
<style>
  a{
    color: blue;
    cursor: pointer;
  }
  #shen{
    display: none;
    padding: 10px 30px;
  }
  #shen ul li{
    margin: 6px 0;
  }
</style>
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input type="radio"  name="type" value="company"  title="公司" <?php if(!isset($type)){echo 'checked';}elseif($type=='company'){echo 'checked';}?> >
                   <input type="radio"  name="type" value="person"  title="个人"  <?php if(isset($type)&&($type=='person')){echo 'checked';}?> >
            <input type="text" name="account" value="<{$account?$account:'';}>" placeholder="请输入账号名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>帐号</th>
            <th>用户名</th>
            <th>手机号</th>
            <th>公司名</th>
            <th>推荐人</th>
            <th>最新登录时间</th>
            <th>创建时间</th>
            <th>审核认证</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody >
            <{volist name="list" id ="vo"}>
          <tr>
            <td style='display: none' id ='<{$vo.id}>' ><{$vo.id}></td>
            <td>
            <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='1'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td><{$vo.member_code}></td>
            <td><{$vo.name}></td>
            <td><{$vo.phone}></td>
            <td><{$vo.company}></td>
            <td><{$vo.sales_name}></td>
            <td><{$vo.logintime}></td>
            <td><{$vo.create_time}></td>
            <td class="sh">审核中</td>
            <td class="td-status">
                <span class="layui-btn layui-btn-normal layui-btn-mini" title="<{$vo.status}>">已启用</span></td>
            <td class="td-manage">
              <a title="禁用" onclick="stop(<{$vo.id}>)" href="javascript:;">
                <i class="layui-icon">&#xe60b;</i>
              </a>
            </td>
          </tr>
          <{/volist}>
        </tbody>
      </table>
      <div class="page">
        <div>
           
        </div>
      </div>

    </div>

    <!-- 审核 -->
    <div id="shen">
        <ul>
          <li>类型：个人</li>
          <li>账户名称：123</li>
          <li>身份证：<a href="#">查看</a></li>
          <li>邮箱：123</li>
          <li>详情地址：123</li>
        </ul>
    </div>

    <script>
    layui.use(['form','layer'], function(){
        var $ = layui.jquery,
        layer = layui.layer,
        form = layui.form;
        if ($('.sh').html() == '审核中') {
          $('.sh').css({'color':'blue','cursor': 'pointer'});
        }
        $('.sh').click(function(){
          if ($(this).html() == '审核中') {
            layer.open({
              type:1
              ,title: '用户信息'
              ,content: $('#shen')
              ,area:'220px'
              ,btn:['确定','驳回']
              ,btnAlign: 'c'
              ,yes:function(index){
                $.get(url,{data:yes},function(res){//确定
                  layui.close(index);
                  alert(res.message);
                })
              },btn2:function(index){//驳回
                $.get(url,{data:no},function(res){//确定
                  layui.close(index);
                  alert(res.message);
                })
              }
            });  
          }
        })
      });
    function stop(id){
        $.ajax({
                type:'GET',
                url:"<{:url('admin/member/memberStop')}>?id="+id,    
                success:function(data){
                    if(data==true){
                      $('#'+id).parent("tr").hide();
                    }else{
                        alert('失败') ;
                  }
                }
            })
    }
    
      /*用户-删除*/
    function member_del(obj,did){
        layer.confirm('确认要删除吗？',function(index){
            //转成数组形式
            var dataA=new Array()
            dataA[0]=did ;
            var dataArray={id:dataA}
            toajax(dataArray);
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
         });
      }

    function delAll (argument) {
        var data = tableCheck.getData();
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            var dataArray={id:data};
            toajax(dataArray);
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }

    function toajax (dataArray){
            $.ajax({
                type:'POST',
                url:"<{:url('admin/member/toDel')}>",    
                data:dataArray,
                dataType:"json",
                success:function(data){
                    if(data.status==1){
                      return 1;
                    }else{
                        return 0 ;
                  }
                }
            })
        }
    </script>
 
  </body>

</html>