<{include file='./public/header'/}>
<body>
  <style>
    .td_inp{
      position: relative;
    }
    .td_inp input{
      width: 98%;
      height: 98%;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      border: 0;
      cursor: Default;
    }
    .td_inp .in{
      cursor:auto;
      border: 1px solid #00FFFF;
    }
  </style>
    <div class="x-nav">
        <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a><cite>导航元素</cite></a>
        </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="开始日" name="start" id="start">
          <input class="layui-input" placeholder="截止日" name="end" id="end">
          <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
<!--        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','./member-add.html',600,400)"><i class="layui-icon"></i>添加</button>-->
        <span class="x-right" style="line-height:40px">共有数据：<{$count}> 条</span>
      </xblock> 
    <table class="layui-table" id="demo" lay-filter="demo">
      <thead>
          <tr>
              <th rowspan="2">ID</th>
              <th rowspan="2">客户帐号</th>
              <th rowspan="2">客户姓名</th>     
              <th rowspan="2">柜型</th>    
              <th style="text-align: center;" colspan="<{$ship_nameArr|count}>" rowspan="1">船公司 </th>
          </tr>
          <tr>
              <{foreach name="ship_nameArr" item="vo" key="k"}>
                  <th name="<{$vo}>" rowspan="1"><{$k}></th>
              <{/foreach}>
          </tr>
      </thead>
    <tbody>
     <{volist name='lists' id='vo'}>
        <tr>
          <td class="id" rowspan="2"><{$vo.id}></td>
          <td class="name" rowspan="2"><{$vo.member_code}></td>
          <td rowspan="2"><{$vo.name}></td>
          <td rowspan="1" class="gui">20GP</td>
          <{foreach name="$vo.20GP" item="V2" }>
          <td  rowspan="1" class="td_inp"><input type="text" class="" readonly  unselectable='on' value="<{$V2}>"></td>
          <{/foreach}>
        </tr>
        <tr>
            <td rowspan="1" class="gui">40HQ</td>
            <{foreach name="$vo.40HQ" item="V1" }>
            <td  rowspan="1" class="td_inp"><input type="text" class="" readonly unselectable='on' value="<{$V1}>"></td>
            <{/foreach}>
        </tr>
        <{/volist}>
    </tbody>
</table>
              
          
<!--<script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script>-->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
var ship_edit_url ="<{:url('member/pushMoneyEdit')}>";
layui.use(['table','laydate','layedit'], function(){
  var table = layui.table,
  $ = layui.jquery,
  layedit = layui.layedit,
  laydate = layui.laydate;
  
  //日期
  laydate.render({
    elem: '#start'
  });
  laydate.render({
    elem: '#end'
  });

  var ship;//当前点击下标
  
  $('.td_inp input').dblclick(function(){//双击事件  
    $(this).addClass('in').removeAttr('readonly');
    ship = $(this).parents('td').index();//当前点击下标
  });

  $('.td_inp input').blur(function(){//光标离开事件
    inpu($(this));
  })

  $(".td_inp input").keyup(function(e){//监听键盘按键
      if (e.which == 13) {//确认键
        inpu($(this));
      }
  });

  function inpu(zj){//当光标离开时
    zj.removeClass('in').attr('readonly',true);
    let id;//用户ID
    let gui = zj.parents('td').siblings('.gui').html();//柜型
    let valu = zj.val();//输入内容
    let ship_id;//船公司ID
    if (gui == '20GP') {
      id = zj.parent('td').siblings('.name').html();
      ship_id = $('#demo thead tr').eq(1).children('th').eq(ship-4).attr('name')
    }else{
      id = zj.parents('tr').prev().children('.id').html();
      ship_id = $('#demo thead tr').eq(1).children('th').eq(ship-1).attr('name')
    }

    //用户ID：柜型   船公司id：输入内容
     $.get(ship_edit_url,{member_code:id,ship_id:ship_id,container_size:gui,price:valu});
  }
});
</script>

</body>
</html>