<{include file='./public/header'/}>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a><cite>导航元素</cite></a>
        </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="开始日" name="start" id="start">
          <input class="layui-input" placeholder="截止日" name="end" id="end">
          <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','./member-add.html',600,400)"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：<{$count}> 条</span>
      </xblock>
    <!-- <table class="layui-table" lay-data="{url:'<{:url('admin/member/pushMoneyList')}>', id:'test3'}" lay-filter="test3" >
    <thead>
    <tr>
        <th lay-data="{field:'id', width:20}" rowspan="2">ID</th>
        <th lay-data="{field:'member_code', width:80}" rowspan="2">客户帐号</th>
        <th lay-data="{field:'name', width:80}" rowspan="2">客户姓名</th>
        <th lay-data="{align:'center', width:80}" rowspan="1">40HQ</th>
        <{foreach name="ship_nameArr" item="vo" key="k"}>
        <th lay-data="{field:'40HQ_<{$k}>', width:80}" rowspan="1"> <{$vo}> </th>
        <{/foreach}>
    </tr>
    <tr>
        <th lay-data="{align:'center', width:80}" rowspan="1">20GP</th>
        <{foreach name="ship_nameArr" item="vo" key="k"}>
            <th lay-data="{field:'20GP_<{$k}>', width:80}" rowspan="1"><{$vo}></th>
        <{/foreach}>
    </tr>
  </thead>
</table> -->

 
<table class="layui-table" id="demo" lay-filter="demo">
    <thead>
        <tr>
            <th rowspan="2">ID</th>
            <th rowspan="2">客户帐号</th>
            <th rowspan="2">客户姓名</th>     
            <th rowspan="2">柜型</th>    
            <th style="text-align: center;" colspan="<{$ship_nameArr|count}>" rowspan="1">船公司 </th>
        </tr>
        <tr>
            <{foreach name="ship_nameArr" item="vo"}>
                <th rowspan="1"><{$vo}></th>
            <{/foreach}>
        </tr>
    </thead>
    <tbody>
     <{volist name='lists' id='vo'}>
        <tr>
          <td lay-data="edit:text"  rowspan="2"><{$vo.id}></td>
          <td rowspan="2"><{$vo.member_code}></td>
          <td rowspan="2"><{$vo.name}></td>
          <th rowspan="1">40HQ</th>
          <{foreach name="$vo.40HQ" item="V1" }>
          <td  rowspan="1"><{$V1}></td>
          <{/foreach}>
        </tr>
        <tr>
          <th rowspan="1">20GP</th>
          <{foreach name="$vo.20GP" item="V2" }>
          <td  rowspan="1"><{$V2}></td>
          <{/foreach}>
        </tr>
        <{/volist}>
    </tbody>
</table>
              
          
<!--<script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script>-->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['table','laydate','layedit'], function(){
  var table = layui.table,
  $ = layui.jquery,
  layedit = layui.layedit,
  laydate = layui.laydate;
  
  //日期
  laydate.render({
    elem: '#start'
  });
  laydate.render({
    elem: '#end'
  });

});
</script>

</body>
</html>