<{include file='./public/header' /}>

    <body>
        <style>
            div,
            .layui-form-label {
                font-size: 16px;
            }

            .cf {
                padding: 10px 20px;
            }

            .ddh span,.ydh {
                font-size: 20px;
                color: blue;
            }

            .ddh span:nth-child(2) {
                float: right;
            }
        </style>
        <div class="cf">
            <div class="ddh">
                <span>订单号：<r class="ydh"><{$list.order_num}></r></span>
                <span>运单号：<r class="ydh"><{$list.track_num}></r></span>
            </div>

            <form class="layui-form">
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">柜号：</label>
                    <div class="layui-input-block" lay-filter='filter'>
                        <{volist name ="$list.container_code" id="vo" }>
                        <input type="checkbox" name='container_code' lay-filter='filter' lay-skin="primary" title="<{$vo}>" value="<{$vo}>">
                        <{/volist}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">运单号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="new_track_num" lay-verify="title" autocomplete="off" placeholder="请输入运单号" class="layui-input yundan">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <a class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</a>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            layui.use('form', function () {
                var form = layui.form;
                form.on('submit(demo1)', function (data) {//点击提交
                    let list = [{container:[]},{container_code:[]}];//表单所有数据
                    list.push({order_num:$('.ydh').eq(0).html()});//订单号
                    list.push({track_num:$('.ydh').eq(1).html()});//运单号
                    list.push({new_track_num:$('.yundan').val()});//新运单号
                    let check = $('input[name="che"]');//获取所有复选框
                    check.each(function(){
                        if($(this).prop('checked')){//判断是否选中
                            list[0].container.push($(this).val());//选中
                        }else{
                            list[1].container_code.push($(this).val());//未选中
                        }
                    });
                    toajax(list);
                });
            });

        function toajax (list){
                console.log(list);
                $.ajax({
                    type:'POST',
                    url:"<{:url('admin/OrderProcess/toSplit')}>",    
                    data: "[{11:222}]",
                    dataType:"json",
                    //contentType: "application/json",
                    success:function(status){
                        if(status>0){
              
                            layer.msg("添加成功", { icon: 6, time: 1000 }, function () {
                            // 获得frame索引
                            parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                        }else{
                            post_adduser = false;
                            layer.msg("添加失败", { icon: 5 });
                            }
                            }
                       
                });
       
            }         
         

  
        </script>
    </body>

    </html>