<{include file='./public/header' /}>

    <body>
        <link rel="stylesheet" href="__STATIC__/css/orderprocess_list.css">
        <div id="orderprocess">
            <!-- 订单详情 -->
            <div class="orderprocess_top">
                <div class="zuo">下单详情:</div>
                <div class="you">收款状态：未收款</div>
            </div>
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <div class="layui-col-xs4">
                        <span>账户：为哦地方</span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>下单时间：2018/5/30</span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>船务公司:中远海船务</span>
                    </div>
                </div>

                <div class="layui-col-xs12">
                    <div class="layui-col-xs4">
                        <span>船名：天宝河1882</span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>启运港：黄埔</span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>目的港：天津</span>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-col-xs4">
                        <span>40HQ海运费：6666</span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>船期：2018-9-8号</span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>截单时间2018-9-5</span>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-col-xs4">
                        <span>装货费用：1550</span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>送货费用：1550</span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>应收款：5000 </span>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-col-xs4">
                        <span>利润：200</span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>业务员：小王</span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>业务提成：100</span>
                    </div>
                </div>
            </div>

            <!-- 分割线 -->
            <div class="fenge"></div>
            <!-- 注意事项 -->
            <div class="orderprocess_top">
                <div class="zuo">注意事项:</div>
            </div>
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <div class="layui-col-xs6">
                        <span>收款方式：己方</span>
                    </div>
                    <div class="layui-col-xs6">
                        <span>收款方：兴佳物流</span>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-col-xs6">
                        <span>签回单：否</span>
                    </div>
                    <div class="layui-col-xs6">
                        <span>等通知送货：是</span>
                    </div>
                </div>
            </div>

            <!-- 分割线 -->
            <div class="fenge"></div>
            <!-- 货物 -->
            <div class="orderprocess_top">
                <div class="zuo">货物:</div>
            </div>
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <div class="layui-col-xs6">
                        <span>货名：酱油</span>
                    </div>
                    <div class="layui-col-xs6">
                        <span>包装：纸箱</span>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-col-xs6">
                        <span>重量：18T</span>
                    </div>
                    <div class="layui-col-xs6">
                        <span>装货时间：2018-9-4</span>
                    </div>
                </div>
            </div>

            <!-- 分割线 -->
            <div class="fenge"></div>
            <!-- 联系方式 -->
            <div class="orderprocess_top">
                <div class="zuo">联系方式:</div>
            </div>
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <div class="layui-col-xs6">
                        <div>
                            <span>装货联系人：小王 </span>
                        </div>
                        <div>
                            <span>装货手机号码：13597564534 </span>
                        </div>
                        <div>
                            <span>装货地址：广州天河区长信路口长福路 </span>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div>
                            <span>发货联系人：小王 </span>
                        </div>
                        <div>
                            <span>发货手机号码：13597564534</span>
                        </div>
                        <div>
                            <span>发货地址：广州天河区长信路口长福路 </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 分割线 -->
            <div class="fenge"></div>
            <!-- 联系方式 -->
            <div class="orderprocess_top">
                <div class="zuo">订单流程:</div>
                <div class="you">订单号：TDGS3648645613</div>
            </div>
            <ul class="dbgh">
                <!-- 已订舱 -->
                <li class="db_zt">
                    <div class="db_top">已订舱</div>
                    <ul class="dingdan">
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12">
                                    <span>运单号：
                                        <input type="text" value="AGW1236685544" name="title" class="bian" readonly>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- 已派车 -->
                <li class="db_zt">
                    <div class="db_top">已派车</div>
                    <ul class="dingdan">
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12">
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>车队名字：海浪物流有限公司 </span>
                                        </div>
                                        <div>
                                            <span>司机：小明 </span>
                                        </div>
                                        <div>
                                            <span>手机号：13597564534 </span>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>车牌：粤Y365424 </span>
                                        </div>
                                        <div>
                                            <span>身份证：12345678901234567</span>
                                        </div>
                                        <div>
                                            <span>柜号：TES133165135 </span>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>收货人：小王</span>
                                        </div>
                                        <div>
                                            <span>装货时间~实际：2018-5/27~2018/5/20</span>
                                        </div>
                                        <div>
                                            <span>封条号：TES133165135</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12">
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>车队名字：海浪物流有限公司 </span>
                                        </div>
                                        <div>
                                            <span>司机：小明 </span>
                                        </div>
                                        <div>
                                            <span>手机号：13597564534 </span>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>车牌：粤Y365424 </span>
                                        </div>
                                        <div>
                                            <span>身份证：12345678901234567</span>
                                        </div>
                                        <div>
                                            <span>柜号：TES133165135 </span>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>收货人：小王</span>
                                        </div>
                                        <div>
                                            <span>装货时间~实际：2018-5/27~2018/5/20</span>
                                        </div>
                                        <div>
                                            <span>封条号：TES133165135</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- 已装货 -->
                <li class="db_zt">
                    <div class="db_top">已装货</div>
                    <ul class="dingdan">
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12">
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>车队名字：海浪物流有限公司 </span>
                                        </div>
                                        <div>
                                            <span>司机：小明 </span>
                                        </div>
                                        <div>
                                            <span>手机号：13597564534 </span>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>车牌：粤Y365424 </span>
                                        </div>
                                        <div>
                                            <span>身份证：12345678901234567</span>
                                        </div>
                                        <div>
                                            <span>柜号：TES133165135 </span>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>收货人：小王</span>
                                        </div>
                                        <div>
                                            <span>装货时间~实际：2018-5/27~2018/5/20</span>
                                        </div>
                                        <div>
                                            <span>封条号：TES133165135</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12">
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>车队名字：海浪物流有限公司 </span>
                                        </div>
                                        <div>
                                            <span>司机：小明 </span>
                                        </div>
                                        <div>
                                            <span>手机号：13597564534 </span>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>车牌：粤Y365424 </span>
                                        </div>
                                        <div>
                                            <span>身份证：12345678901234567</span>
                                        </div>
                                        <div>
                                            <span>柜号：TES133165135 </span>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>收货人：小王</span>
                                        </div>
                                        <div>
                                            <span>装货时间~实际：2018-5/27~2018/5/20</span>
                                        </div>
                                        <div>
                                            <span>封条号：TES133165135</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- 已报柜号 -->
                <li class="db_zt">
                    <div class="db_top">已报柜号</div>
                    <ul class="dingdan">
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12">
                                    <div class="layui-col-xs4">
                                        <span>报柜号：ATK2665555555</span>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <span>报柜时间：2018/9/20 21：18：09</span>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <span>提交人：小明</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- 已配船 / 已到港 / 已卸船-->
                <li class="db_zt">
                    <div class="db_top">已配船 / 已到港 / 已卸船</div>
                    <ul class="dingdan">
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12">
                                    <span>集装箱编码：</span>
                                    <div class="bian1">24202101</div>
                                    <div class="bian1">24202101</div>
                                    <div class="bian1">24202101</div>
                                </div>
                                <div class="layui-col-xs12">
                                    <span>订单编号：A906363225694589</span>
                                </div>
                                <div class="layui-col-xs12">
                                    <table class="layui-table" lay-even lay-skin="nob">
                                        <thead>
                                            <tr>
                                                <th>船名</th>
                                                <th>航线/航次</th>
                                                <th>装货港</th>
                                                <th>实际装货时间</th>
                                                <th>离港时间</th>
                                                <th>卸货港</th>
                                                <th>到港时间</th>
                                                <th>卸船时间</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>贤心1</td>
                                                <td>天津/黄埔</td>
                                                <td>天津港</td>
                                                <td>2018/11/12</td>
                                                <td>2018/12/12</td>
                                                <td>黄埔港</td>
                                                <td>2018/12/16</td>
                                                <td>2018/12/24</td>
                                            </tr>
                                            <tr>
                                                <td>贤心1</td>
                                                <td>天津/黄埔</td>
                                                <td>天津港</td>
                                                <td>2018/11/12</td>
                                                <td>2018/12/12</td>
                                                <td>黄埔港</td>
                                                <td>2018/12/16</td>
                                                <td>2018/12/24</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- 已收款 -->
                <li class="db_zt">
                    <div class="db_top">已收款</div>
                    <ul class="dingdan">
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12 zhong">
                                    <div class="layui-col-xs6">
                                        <span>收款方式：已收款 </span>

                                    </div>
                                    <div class="layui-col-xs6">
                                        <span>收款时间：2018年9月10日10:34:06 </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- 已送货 -->
                <li class="db_zt">
                    <div class="db_top">已送货</div>
                    <ul class="dingdan">
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12 zhong">
                                    <div class="layui-col-xs4">
                                        <span>货物状态：已送货 </span>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <span>送货时间：2018年9月10日10:34:06 </span>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <span>收货人：小王 </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <script src="__STATIC__/js/orderprocess.js"></script>
    </body>

    </html>