<{include file='./public/header' /}>

    <body>
        <link rel="stylesheet" href="__STATIC__/css/orderprocess_list.css">
        <div id="orderprocess">
            <!-- 订单详情 -->
            <div class="orderprocess_top">
                <div class="zuo">下单详情:</div>
                <div class="you">收款状态：<?php  if($father['state']<800){echo"未收款";}else{echo"已收款";} ?> </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <div class="layui-col-xs4">
                        <span>账户：<{$father.member_name}></span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>下单时间：<{$father.ctime}></span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>船务公司:<{$father.ship_short_name}></span>
                    </div>
                </div>

                <div class="layui-col-xs12">
                    <div class="layui-col-xs4">
                        <span>船名：<{$father.boat_name}><{$father.boat_code}></span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>启运港:<{$father.s_port_name}></span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>目的港:<{$father.e_port_name}></span>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-col-xs4">
                        <span><{$father.container_size}>海运费: <{$father.seaprice}></span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>船期：<{$father.shipping_date}></span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>截单时间<{$father.cutoff_date}></span>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-col-xs4">
                        <span>装货费用：<{$father.carprice_r}></span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>送货费用：<{$father.carprice_s}></span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>应收款：<{$father.quoted_price}> </span>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-col-xs4">
                        <span>利润：<{$father.profit}></span>
                    </div>
                    <div class="layui-col-xs4">
                        <span>业务员：<{$father.sales}></span>
                    </div>

                </div>
            </div>

            <!-- 分割线 -->
            <div class="fenge"></div>
            <!-- 注意事项 -->
            <div class="orderprocess_top">
                <div class="zuo">注意事项:</div>
            </div>
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <div class="layui-col-xs6">
                        <span>收款方式：<{$father.payer}></span>
                    </div>
                    <div class="layui-col-xs6">
                        <span>收款方：兴佳物流</span>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-col-xs6">
                        <span>签回单：<{$father.sign_receipt}></span>
                    </div>
                    <div class="layui-col-xs6">
                        <span>等通知送货：<{$father.message_send}></span>
                    </div>
                </div>
            </div>

            <!-- 分割线 -->
            <div class="fenge"></div>
            <!-- 货物 -->
            <div class="orderprocess_top">
                <div class="zuo">货物:</div>
            </div>
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <div class="layui-col-xs6">
                        <span>货名：<{$father.cargo}></span>
                    </div>
                    <div class="layui-col-xs6">
                        <span>包装：<{$father.container_type}></span>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-col-xs6">
                        <span>重量：<{$father.weight}>T</span>
                    </div>

                </div>
            </div>

            <!-- 分割线 -->
            <div class="fenge"></div>
            <!-- 联系方式 -->
            <div class="orderprocess_top">
                <div class="zuo">发货收货信息:</div>
            </div>
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <div class="layui-col-xs6">
                        <div>
                            <span>发货联系人：<{$father.r_name}> </span>
                        </div>
                        <div>
                            <span>发货手机号码：<{$father.r_phone}> </span>
                        </div>
                        <div>
                            <span>发货地址：<{$father.r_address}> </span>
                        </div>
                    </div>
                    <div class="layui-col-xs6">
                        <div>
                            <span>收货联系人：<{$father.s_name}> </span>
                        </div>
                        <div>
                            <span>收货手机号码：<{$father.s_phone}></span>
                        </div>
                        <div>
                            <span>收货地址：<{$father.s_address}> </span>
                        </div>
                    </div>
                </div>
            </div>
           
            <!-- 分割线 -->
            <div class="fenge"></div>
            <!-- 联系方式 -->
            <div class="orderprocess_top">
                <div class="zuo">订单流程:</div>
                <div class="you">订单号：<{$father.order_num}></div>
            </div>
            <ul class="dbgh">
                <!-- 已订舱 -->
                   <{if condition="(isset($statusArr['200']))"}>
                <li class="db_zt">
                    <div class="db_top">已订舱</div>
                    <ul class="dingdan">
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12">
                                    <span>运单号：
                                        <input type="text" value="<{$track_num}>" name="track_num" class="bian" readonly>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <{/if}>
                <!-- 已派车 -->
                 <{if condition="(isset($statusArr['300']))"}>
                <li class="db_zt">
                   <?php  if($father['state']<400){echo'<div class="db_top">已派车</div> '; }else{
                   echo'<div class="db_top">已派车 >>> 已装货</div> ';  } ?> 
                    <ul class="dingdan">
                        <{volist name="car" id ="carlist"}>
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12">
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>车队名字：<{$carlist.car_name}> </span>
                                        </div>
                                        <div>
                                            <span>司机：<{$carlist.driver_name}> </span>
                                        </div>
                                        <div>
                                            <span>手机号：<{$carlist.mobile}> </span>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>车牌：<{$carlist.truck_code}> </span>
                                        </div>
                                        <div>
                                            <span>身份证：<{$carlist.identity}></span>
                                        </div>
                                        <div>
                                            <span>柜号：<{$carlist.container_code}> </span>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <div>
                                            <span>装柜对接人：<{$carlist.consignee}></span>
                                        </div>
                                        <div>
                                            <span>装柜时间&nbsp;&nbsp;实际时间：<{$carlist.load_time}>&nbsp;&nbsp;<{$carlist.loading_time}></span>
                                        </div>
                                        <div>
                                            <span>封条号：<{$carlist.seal_id}></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <{/volist}>
                    </ul>
                </li>
                <{/if}>
                <!-- 已报柜号 -->
                <{if condition="(isset($statusArr['505']))"}>
                <li class="db_zt">
                    <div class="db_top">已报柜号</div>
                    <ul class="dingdan">
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12">
                                    <div class="layui-col-xs4">
                                        <span>报柜号：<?php foreach($container_code as $value){echo $value ;} ?></span>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <span>报柜时间：<{$statusArr['505']}></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <{/if}>
                
                <{if condition="(isset($statusArr['506']))"}>
                <!-- 已配船 / 已到港 / 已卸船-->
                <li class="db_zt">
                    <div class="db_top">已配船 / 已到港 / 已卸船</div>
                    <ul class="dingdan">
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12">
                                    <span>集装箱编码：</span>
                                    <?php foreach($container_code as $value){echo '<div class="bian1">'.$value.'</div>' ;} ?>
                                </div>
                                <div class="layui-col-xs12">
                                    <span>订单编号：<{$father.order_num}></span>
                                </div>
                                <div class="layui-col-xs12">
                                    <table class="layui-table" lay-even lay-skin="nob">
                                        <thead>
                                            <tr>
                                                <th>船名</th>
                                                <th>航线/航次</th>
                                                <th>装货港</th>
                                                <th>实际装货时间</th>
                                                <th>离港时间</th>
                                                <th>卸货港</th>
                                                <th>到港时间</th>
                                                <th>卸船时间</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <{volist  name ="ship" id ="listship"}>
                                            <tr>
                                                <td><{$listship.ship_name}></td>
                                                <td><{$listship.ship_route}> / <{$listship.voyage_num}></td>
                                                <td><{$listship.loadPortName}></td>
                                                <td><{$listship.shipment_time}></td>
                                                <td><{$listship.dispatch_time}></td>
                                                <td><{$listship.departurePortName}></td>
                                                <td><{$listship.arrival_time}></td>
                                                <td><{$listship.discharge_time}></td>
                                            </tr>
                                            <{/volist}>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <{/if}>
                <!-- 已收款 -->
             <{if condition="(isset($statusArr['505']))"}>
                <li class="db_zt">
                    <div class="db_top">已收款</div>
                    <ul class="dingdan">
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12 zhong">
                                    <div class="layui-col-xs6">
                                        <span>收款方式：
                                                <{switch name="$father.payment_method"}>
                                                <{case value="monthly"}>月结<{/case}>
                                                <{case value="pledge"}>压柜<{/case}>
                                                <{case value="cash"}>现款<{/case}>
                                                <{default /}>default
                                                <{/switch}>
                                        </span>
                                    </div>
                                    <div class="layui-col-xs6">
                                        <span>收款时间：<{$statusArr['900']}> </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            <{/if}>
              <{if condition="(isset($statusArr['999']))"}>
                <!-- 已送货 -->
                <li class="db_zt">
                    <div class="db_top">已送货</div>
                    <ul class="dingdan">
                        <li class="dd_xq">
                            <div class="layui-row">
                                <div class="layui-col-xs12 zhong">
                                    <div class="layui-col-xs4">
                                        <span>货物状态：已送货 </span>
                                    </div>
                                    <div class="layui-col-xs4">
                                        <span>送货时间：<{$statusArr[999]}> </span>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <{/if}>
            </ul>
        </div>
        <script src="__STATIC__/js/orderprocess.js"></script>
    </body>

    </html>