<link rel="stylesheet" href="__STATIC__/../index/layui/css/layui.css">
<style>
    .laytable-cell-checkbox, .laytable-cell-numbers, .laytable-cell-space{
        padding: 8px;
    }
    .layui-datatable-switch {margin-top: 0px;width: 56px;}
    .x-nav{
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .fuk1,#shenqi{
        display: none;
        padding: 10px;
    }
    .time{
      display: none;
      padding: 20px 30px 10px;
    }
</style>
<div class="layui-form time">
  <input type="text" class="layui-input" id="sj" placeholder="yyyy-MM-dd">
</div>

<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-right: 20px;float:right" href="javascript:location.replace(location.href);"
      title="刷新">
      <i class="layui-icon" style="line-height:30px">ဂ</i>
    </a>
</div>

  <div class="layui-form" id="cont">
    <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label"></label>
          <div class="layui-input-inline">
            <input type="text" name="member" placeholder="用户名" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
              <input type="text" name="order_num" placeholder="订单号"  autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">`
            <div class="layui-input-inline">
              <input type="text" name="date_start" id="date" lay-verify="date" placeholder="起始日期" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <div class="layui-input-inline">
              <input type="text" name="date_end" id="date1" lay-verify="date" placeholder="结束日期" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <div class="layui-input-inline">
                <button class="layui-btn cha">搜索</button>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-inline">
        <input type="radio" lay-filter="container_buckle" name="container_buckle" value="apply" title="审核中" checked="">
        <input type="radio" lay-filter="container_buckle" name="container_buckle" value="lock" title="扣货">
        <input type="radio" lay-filter="container_buckle" name="container_buckle" value="unlock" title="已放货">
        <input type="radio" lay-filter="container_buckle" name="container_buckle" value="all" title="全部">
        </div>

        <div style="margin-right: 130px; display: inline-block;"></div>
        <div class="layui-inline">
            <input type="radio" lay-filter="money_status" name="money_status" value="all" title="所有订单" >
            <input type="radio" lay-filter="money_status" name="money_status" value="do" title="已付款">
            <input type="radio" lay-filter="money_status" name="money_status" value="nodo" title="未付款" checked='checked'>
        </div>
    </div>
    
    <table class="layui-hide" id="test1" lay-filter="test1"></table>
  </div>



    <!-- 付款窗口 -->
    <div class="fuk1">
        <form class="layui-form">
          <div class="layui-form-item">
            <label class="layui-form-label">付款状态</label>
            <div class="layui-input-block">
              <input name="money" value="nodo" title="未付款" checked="" type="radio">
              <input name="money" value="do" title="已付款" type="radio">
            </div>
          </div>
        </form>
      </div>
  
      <!-- 是否申请发货 -->
      <div id="shenqi">
        <div class="order_num1" style="margin: 10px 0"></div>
          <div class="layui-col-sx12">
            <input type="text" name="title" lay-verify="title" placeholder="请输入说明" class="layui-input">
          </div>
      </div>
<script type="text/html" id="toolbarDemo1">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData" >选择对账日期</button>
  </div>
</script>               

<!-- <script src="__STATIC__/js/jquery-3.2.1.min.js"></script>  -->
<script src="__STATIC__/../index/layui/layui.js"></script>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    var money_status_changeURL ='<{:url("admin/financial/orderport_money")}>'
    var appley_cargo_url ='<{:url("admin/financial/orderport_judgment")}>'
layui.use(['jquery', 'layer','table','laydate','form'], function(){ 
  var layer = layui.layer
  ,table = layui.table
  ,form = layui.form
  ,$ = layui.jquery
  ,laydate = layui.laydate;
  
  var d = new Date()//当前时间
  d.setMonth(d.getMonth()-3);//减去三个月
  //日期
  laydate.render({
    elem: '#date',
    format:'yyyy-MM-dd HH:mm:ss',
    value:d
  });
  laydate.render({
    elem: '#date1',
    format:'yyyy-MM-dd HH:mm:ss',
    value: new Date()
  });
  laydate.render({
    elem: '#sj'
  });
  var container_buckle = 'apply';//货物状态
  var money_status = 'all';//付款状态
  form.on('radio(container_buckle)', function(data){
    container_buckle = data.value;
    $('.cha').click();
  });
  form.on('radio(money_status)', function(data){
    money_status = data.value;
    $('.cha').click();
  });
  
  var biao = table.render({
    elem: '#test1'
    ,url: "<{:url('admin/financial/OrderPortdata')}>"
    ,toolbar: '#toolbarDemo1'
    ,title: '用户数据表'
    ,width:'99%'
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field:'id', title:'ID', unresize: true,width:60}
      ,{field:'name', title:'账号' ,width:150}
      ,{field:'bill_num', title:'对账单号' ,width:150}
      ,{field:'check_date', title:'对账日期',sort: true ,width:200}
      ,{field:'order_num', title:'订单号', width:200,templet:function(res){
        return '<a style="color:blue;" href="<{:url("admin/OrderProcess/order_details")}>?order_num='+res.order_num+'"  target="_blank">'+res.order_num+'</a>';
      }}
      ,{field:'container_size', title:'柜型' ,width:100}
      ,{field:'container_sum', title:'箱量' ,width:100}
      ,{field:'quoted_price', title:'总价(元)',width:100}
      ,{field:'ctime', title:'账单生成时间', sort: true,width:200}
      ,{field:'container_buckle', title:'货物状态',width:100,templet:function(res){
        return '<div class="goods" style="color: blue;">'+ res.container_buckle +'</div>'
      }}
      ,{field:'money_status', title:'付款状态',width:100,templet:function(res){
        return '<div class="fukuan" style="color: blue;">'+ res.money_status +'</div>'
      }}
      ,{field:'status', title:'账单状态',width:100}
      ,{field:'extra_info', title:'附加备注',width:200}
      ,{field:'comment', title:'客户备注',width:200}
    ]]
    ,page: true
    , done: function(res, curr, count){//数据调用之后
    //如果是异步请求数据方式，res即为你接口返回的信息。
    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
    // console.log(res);
    //得到当前页码
    // console.log(curr); 
    
    //得到数据总量
    // console.log(count);
    pand($);
  }
  });

//搜索
$('.cha').click(function(){
  let member = $("input[name='member']").val();//用户名
  let order_num = $("input[name='order_num']").val();;//订单号
  let date_start = $("input[name='date_start']").val();;//起始日期
  let date_end = $("input[name='date_end']").val();;//结束日期
  biao.reload({
    where:{
      member:member,
      order_num:order_num,
      date_start:date_start,
      date_end:date_end,
      container_buckle:container_buckle,
      money_status:money_status
    },
    page:{curr:1}
  })
});

  // 选中的数据
  table.on('toolbar(test1)', function(obj){
    var checkStatus = table.checkStatus('test1');
    switch(obj.event){
      case 'getCheckData':
      var list=[];
      for (let i in checkStatus.data) {
        list.push(checkStatus.data[i].order_num);
      }
      if (list.length) {
        layer.open({
        type: 1, 
        title: '选择时间',
        content: $('.time'),
        shadeClose :true,
        btn:['提交'],
        success: function(layero, index){
          $('.time input').focus();
        },
        yes:function(index, layero){
        let time = $('.time input').val();  
          $.post('<{:url("admin/financial/check_date")}>',{data:list,time:time},function(res){
            if (res.status) {
              layui.layer.msg('对账日期以生成', {icon: 1,time: 1000},function(){
                layer.close(index);
                location.reload();
              });
            }else{
              layui.layer.msg('提交失败', {icon: 2,time: 1000});
            }
          });
        }
        }); 
      }else{
        layer.msg('请选择订单', {icon: 2,time: 1000});
      }
      break;
    }
  });
});


function pand($){
    let huo = $('.goods').html();        
        $('.goods').click(function(){
          let order_num = $(this).parents('td').siblings('td[data-field="order_num"]').find('div').find('a').html();
          $('.order_num1').html('订单号：'+order_num); 
          if($(this).html() == '申请放货'){
            layer.open({
              type:1
              ,title: '货物状态'
              ,shadeClose :true
              ,btn:['同意','驳回']
              ,area:['300px']
              ,content: $('#shenqi')
              ,yes:function (index, layero) {
                let bo = $('#shenqi input').val();
                  $.post(appley_cargo_url,{'order_num':order_num,'comment':bo,'type':'pass'},function(data){
                      if(data.status){
                        layui.layer.msg('申请成功', {icon: 1,time: 1000},function(){
                          layer.close(index);
                          location.reload();
                        });
                          // layer.close(index);
                          // alert('申请成功');
                          // location.reload();
                      }else{
                        layui.layer.msg('申请失败', {icon: 2,time: 1000});
                          // alert('申请失败');
                      }
                  });
              },btn2:function (index) {
                    let bo = $('#shenqi input').val();
                  $.post(appley_cargo_url,{'order_num':order_num,'comment':bo,'type':'fail'},function(data){
                      if(data.status){
                        layui.layer.msg('驳回成功', {icon: 1,time: 1000},function(){
                          layer.close(index);
                          location.reload();
                        });
                      }else{
                          layui.layer.msg('驳回失败', {icon: 2,time: 1000});
                      }
                  });
                return false;
              }
          }); 
          }
        })
        //单击付款状态
        $('.fukuan').click(function () {
          let thi = $(this);
         if($(this).html() == '未付款'){
          let order_num = $(this).parents('td').siblings('td[data-field="order_num"]').find('div').find('a').html();   
          let money = $('input:radio[name="money"]:checked').val();
          layer.open({
            type: 1,
            title: '是否付款',
            area: '400px',
            offset: 'auto',
            shadeClose: 'true',
            content: '<div style="padding:10px;">请确认是否收到货款</div>',
            btn: ['YES','NO'],
            yes: function (index, layero) {
             $.post(money_status_changeURL,{'order_num':order_num},function(data){
                  if(data.status){
                    thi.html('已付款');
                    layui.layer.msg('提交成功', {icon: 1,time: 1000},function(){
                      layer.close(index);
                    });
                    // alert('提交成功');
                  }else{
                    //  alert('提交失败');
                     layui.layer.msg('提交失败', {icon: 2,time: 1000});
                  }
             })       
            }
          });
          }
        });  
}
</script>
