<link rel="stylesheet" href="__STATIC__/../index/layui/css/layui.css">
<style>
    .laytable-cell-checkbox, .laytable-cell-numbers, .laytable-cell-space{
        padding: 8px;
    }
    .layui-datatable-switch {margin-top: 0px;width: 56px;}
    .x-nav{
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .fuk1,#shenqi{
        display: none;
        padding: 10px;
      }
</style>
<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-right: 20px;float:right" href="javascript:location.replace(location.href);"
      title="刷新">
      <i class="layui-icon" style="line-height:30px">ဂ</i>
    </a>
</div>

<form class="layui-form" id="cont" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label"></label>
          <div class="layui-input-inline">
            <input type="tel" name="member" placeholder="用户名" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
              <input type="text" name="order_num" placeholder="订单号"  autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <div class="layui-input-inline">
              <input type="text" name="date_start" id="date" lay-verify="date" placeholder="起始日期" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <div class="layui-input-inline">
              <input type="text" name="date_end" id="date1" lay-verify="date" placeholder="结束日期" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <div class="layui-input-inline">
                <button class="layui-btn cha">搜索</button>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-inline">
        <input type="radio" lay-filter="container_buckle" name="container_buckle" value="apply" title="审核中" checked="">
        <input type="radio" lay-filter="container_buckle" name="container_buckle" value="lock" title="扣货">
        <input type="radio" lay-filter="container_buckle" name="container_buckle" value="unlock" title="已放货">
        </div>

        <div style="margin-right: 130px; display: inline-block;"></div>
        <div class="layui-inline">
            <input type="radio" lay-filter="money_status" name="money_status" value="all" title="所有订单" checked="">
            <input type="radio" lay-filter="money_status" name="money_status" value="1" title="已付款">
            <input type="radio" lay-filter="money_status" name="money_status" value="0" title="未付款">
        </div>
    </div>
</form>

<table class="layui-hide" id="test1" lay-filter="test1"></table>

    <!-- 付款窗口 -->
    <div class="fuk1">
        <form class="layui-form">
          <div class="layui-form-item">
            <label class="layui-form-label">付款状态</label>
            <div class="layui-input-block">
              <input name="sex" value="0" title="未付款" checked="" type="radio">
              <input name="sex" value="1" title="已付款" type="radio">
            </div>
          </div>
        </form>
      </div>
  
      <!-- 是否申请发货 -->
      <div id="shenqi">
          <div style="color: red;margin: 5px 0;">申请放货不需要填写只有驳回需要</div>        
          <div class="layui-col-sx12">
            <input type="text" name="title" lay-verify="title" placeholder="驳回理由" class="layui-input">
          </div>
      </div> 
<script type="text/html" id="toolbarDemo1">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
  </div>
</script>               

<script src="__STATIC__/js/jquery-3.2.1.min.js"></script> 
<script src="__STATIC__/../index/layui/layui.js"></script>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['jquery', 'layer','table','laydate','form'], function(){ 
  var layer = layui.layer
  ,table = layui.table
  ,form = layui.form
  ,laydate = layui.laydate;
  
  //日期
  laydate.render({
    elem: '#date'
  });
  laydate.render({
    elem: '#date1'
  });

  form.on('radio()', function(data){
    $('.cha').click();
  });
  
  var biao = table.render({
    elem: '#test1'
    ,url: "<{:url('admin/financial/OrderPortCenter')}>?type=done"
    ,toolbar: '#toolbarDemo1'
    ,title: '用户数据表'
    ,width:'99%'
    // ,method:'post'
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field:'id', title:'ID', unresize: true,width:60}
      ,{field:'bill_num', title:'账号' ,width:150}
      ,{field:'bill_num', title:'对账单号' ,width:150}
      ,{field:'ctime', title:'对账日期',sort: true ,width:250}
      ,{field:'order_num', title:'订单号', width:200}
      ,{field:'container_size', title:'柜型' ,width:100}
      ,{field:'container_sum', title:'箱量' ,width:100}
      ,{field:'quoted_price', title:'总价(元)',width:100}
      ,{field:'ctime', title:'账单生成时间', sort: true,width:200}
      ,{field:'container_buckle', title:'货物状态',width:100,templet:function(res){
        return '<div class="goods">'+ res.container_buckle +'</div>'
      }}
      ,{field:'money_status', title:'付款状态',width:100,templet:function(res){
        return '<div class="fukuan">'+ res.money_status +'</div>'
      }}
      ,{field:'status', title:'账单状态',width:100}
      ,{field:'comment', title:'备注',width:200}
      ,{field:'comment', title:'客户备注',width:200}
    ]]
    ,page: true
    , done: function(res, curr, count){//数据调用之后
    //如果是异步请求数据方式，res即为你接口返回的信息。
    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
    // console.log(res);
    //得到当前页码
    // console.log(curr); 
    
    //得到数据总量
    // console.log(count);
    pand();

  }
  });

//搜索
$('.cha').click(function(){
  let data_josn = $('#cont').serialize();  
  biao.reload({
    where:{data:data_josn},
    page:{curr:1},
    height:300
  })
});

  //选中的数据
  $('button').click(function(){
    var checkStatus = table.checkStatus('test1');
  })

});


function pand(){
    let huo = $('.goods').html();
    // if(huo == 'lock'){
    //       $('.goods').html('扣货');
    //   }else if(huo == 'unlock'){
    //       $('.goods').html('放货');
    //   }else if(huo == 'apply'){
    //       $('.goods').html('申请放货');
    //   }
        
        $('.goods').click(function(){
          let order_num = $(this).siblings('.ddh').html();
          let bo = $('#shenqi input').val();
          if($(this).html() == '申请放货'){
            layer.open({
              type:1
              ,title: '货物状态'
              ,shadeClose :true
              ,btn:['申请放货','驳回']
              ,content: $('#shenqi')
              ,yes:function (index, layero) {
                  $.get(appley_cargo_url,{'order_num':order_num,'comment':bo,'type':'pass'},function(data){
                      if(data.status){
                          layer.close(index);
                          alert('申请成功');
                          location.reload();
                      }else{
                          alert('申请失败');
                      }
                  });
              },btn2:function (index) {
                  $.get(appley_cargo_url,{'order_num':order_num,'comment':bo,'type':'fail'},function(data){
                      if(data.status){
                          layer.close(index);
                          alert('驳回成功');
                          location.reload();
                      }else{
                          alert('驳回失败');
                      }
                  });
                return false;
              }
          }); 
          }
        })
        //单击付款状态
        $('.fukuan').click(function () {
          layer.open({
            type: 1,
            title: '是否付款',
            area: '400px',
            offset: 'auto',
            shadeClose: 'true',
            content: $('.fuk1'),
            btn: ['确认'],
            yes: function (index, layero) {
              layer.close(index);
              //ajax填写信息
              // $.ajax        
            }
          })
        });
}
</script>
