button {
  cursor: pointer; }

.se {
  background-color: #2e8de5;
  color: #fff; }

.xxtx {
  width: 80%;
  margin: 0 auto; }
  .xxtx .xxtx_dd {
    border: 1px solid #808080;
    padding: 0 10px; }
    .xxtx .xxtx_dd .xx {
      padding: 10px 0;
      border-bottom: 1px solid #808080;
      margin-bottom: 20px; }
    .xxtx .xxtx_dd .dd {
      height: 250px; }
      .xxtx .xxtx_dd .dd .tu {
        height: 100%; }
      .xxtx .xxtx_dd .dd .dd_nei {
        height: 80%; }
        .xxtx .xxtx_dd .dd .dd_nei .dd_yu {
          padding: 0px 23px; }
        .xxtx .xxtx_dd .dd .dd_nei .bian {
          border-left: 1px solid #808080; }
        .xxtx .xxtx_dd .dd .dd_nei .dd_lu {
          font-size: 16px;
          height: 35px;
          line-height: 35px;
          padding: 5px 0;
          margin-bottom: 50px;
          border-bottom: 1px solid #808080; }
          .xxtx .xxtx_dd .dd .dd_nei .dd_lu span:nth-child(1) {
            color: #808080;
            float: left; }
          .xxtx .xxtx_dd .dd .dd_nei .dd_lu span:nth-child(2) {
            float: right; }
          .xxtx .xxtx_dd .dd .dd_nei .dd_lu i {
            color: #808080; }
          .xxtx .xxtx_dd .dd .dd_nei .dd_lu .a strong {
            margin-right: 20px; }
          .xxtx .xxtx_dd .dd .dd_nei .dd_lu .b strong {
            margin-left: 20px; }
          .xxtx .xxtx_dd .dd .dd_nei .dd_lu .c {
            text-align: center; }
            .xxtx .xxtx_dd .dd .dd_nei .dd_lu .c i {
              color: #2e8de5; }
        .xxtx .xxtx_dd .dd .dd_nei .yj {
          border-bottom: 1px solid #808080; }
          .xxtx .xxtx_dd .dd .dd_nei .yj > div {
            margin: 10px 0;
            height: 30px; }
            .xxtx .xxtx_dd .dd .dd_nei .yj > div span:nth-child(1) {
              color: #808080;
              float: left; }
            .xxtx .xxtx_dd .dd .dd_nei .yj > div span:nth-child(2) {
              float: right; }
      .xxtx .xxtx_dd .dd .dd_ming {
        height: 20%;
        padding: 5px 30px; }
        .xxtx .xxtx_dd .dd .dd_ming span {
          color: #2e8de5; }
        .xxtx .xxtx_dd .dd .dd_ming > div:nth-child(2) {
          text-align: center; }
        .xxtx .xxtx_dd .dd .dd_ming > div:nth-child(3) {
          text-align: right; }
  .xxtx .er {
    margin-top: 50px;
    overflow: hidden; }
    .xxtx .er .er_anniu {
      float: right;
      margin-top: -5px; }
      .xxtx .er .er_anniu button {
        width: 100px;
        height: 30px;
        border: 0; }
    .xxtx .er .grid-demo {
      height: 35px;
      margin: 25px 0; }
      .xxtx .er .grid-demo > .layui-col-xs3, .xxtx .er .grid-demo .layui-col-xs4 {
        text-align: right;
        height: 35px;
        line-height: 35px; }
        .xxtx .er .grid-demo > .layui-col-xs3 span, .xxtx .er .grid-demo .layui-col-xs4 span {
          color: red; }
      .xxtx .er .grid-demo input, .xxtx .er .grid-demo .select {
        width: 80%;
        height: 30px;
        padding-left: 13px; }
      .xxtx .er .grid-demo .select {
        border-radius: 0; }
        .xxtx .er .grid-demo .select select {
          padding: 3px; }
        .xxtx .er .grid-demo .select:before {
          top: 9px;
          right: 1.5em; }
      .xxtx .er .grid-demo d {
        border: 1px solid #808080;
        display: inline-block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin-right: 9px; }
  .xxtx .hx {
    margin-bottom: 20px;
    height: 100px;
    overflow: auto; }
  .xxtx .tjiao {
    width: 30%;
    margin: 50px auto; }
    .xxtx .tjiao button {
      height: 30px;
      width: 100px;
      color: #fff;
      background-color: #ff9f19;
      border: 0; }
      .xxtx .tjiao button:nth-child(2) {
        float: right; }

/*# sourceMappingURL=lrdd.css.map */
