.head_hy{
  width: 80%;
  margin: 0 auto;
  .gnhy{
    width: 50%;
    border: 1px solid #000;
    height:500px;
    .gnhy_top{
      text-align: center;
      color:#fff;
      background: #0491e8;
      height:40px;
      line-height: 40px;
      font-size: 16px;
      font-family: "Microsoft YaHei", "微软雅黑";
    }
    .gnhy_nei{
      padding:20px;
      input{
        height:40px;
        padding-left: 13px;
        margin:15px 0;
      }
      .a{
        padding-right:10px;
      }
      .b{
        padding-left: 10px;
      }
    }
  }
}
