<{include file='./public/header' /}>
<body>
    <!--<link rel="stylesheet" href="__STATIC__/css/route_add.css">-->
     <form class="layui-form" id="routeaddform">
    <div class="route layui-row">
        <!-- 航务公司 -->
        <div class="layui-form-item">
            <label class="layui-form-label">船务公司</label>
            <div class="layui-input-inline">
                <select name="ship" lay-filter="ship" lay-search>
                    <option value="" >请选择船公司</option>
                </select>  
            </div>
        </div>
        <!-- 港口航线 -->
        <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">港口</label>
                <div class="layui-input-inline">
                    <select name="province" lay-filter="province" >
                        <option value="">请选择省</option>
                    </select>
                </div>
                <div class="layui-input-inline" id ='citydiv' style="display: none;">
                    <select name="city" lay-filter="city" >
                        <option value="">请选择市</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="display: none;">
                    <select name="area"  lay-filter="area">
                        <option value="">请选择起点/终点港口</option>
                    </select>
                </div>
              <div class="layui-form-item" id ="search_port">
              </div>
            </div>
          </div>
        <!--港口杂费 -->
        <div class="layui-form-item">
            <label class="layui-form-label">起运港口杂费</label>
            <div class="layui-input-inline">
                <input type="text" name="start_40HQ_fee" lay-verify="title" autocomplete="off" placeholder="40HQ起运港杂费" class="layui-input"/>
            </div>
            <div class="layui-input-inline">
                <input type="text" name="start_20GP_fee" lay-verify="title" autocomplete="off" placeholder="20GP起运港杂费" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">目的港口杂费</label>
            <div class="layui-input-inline">
                <input type="text" name="end_40HQ_fee" lay-verify="title" autocomplete="off" placeholder="40HQ目的港杂费" class="layui-input"/>
            </div>
            <div class="layui-input-inline">
                <input type="text" name="end_20GP_fee" lay-verify="title" autocomplete="off" placeholder="20GP目的港杂费" class="layui-input"/>
            </div>
        </div>        

        <!-- 按钮 -->
        <div class="layui-form-item">
            <div class="layui-input-block an">
                <button  type ="button" class="layui-btn" onclick="toajax()">添加</button>
                <button class="layui-btn cancel">取消</button>
            </div>
        </div>
      </div>
    </form>
    <!--port_js  加载城市港口对应数据  ship_port 加载船公司下属的港口  ship_boat 船公司下属的船舶-->
<script type="text/javascript" src="/static/admin/js/port.js"></script>
<script type="text/javascript" src="/static/admin/js/ship_port.js"></script>
<script type="text/javascript" src="/static/admin/js/ship_boat.js"></script>
<script type="text/javascript">
        //取消关闭模态框
        $('.cancel').click(function () {
          var index = parent.layer.getFrameIndex(window.name);
          parent.layer.close(index);
        });


        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
            //日期
            laydate.render({
              elem: '#date'
            });
            laydate.render({
              elem: '#date1'
            });
          });
   
        
        
        //初始数据
        var areaData = JS_PORT;
        var $form;
        var form;
        var $;
        layui.use(['jquery', 'form'], function() {
            $ = layui.jquery;
            form = layui.form;
            $form = $('form');
            loadProvince();  //选择港口
            loadship();//原有船公司的港口和城市
        });     
        
        //加载 所有的船公司名字简称和相应boat的id
        var js_ship_boat = JS_BOAT;
       
       
        var url="<{:url('admin/Price/route_toadd')}>";
        //加载船公司
        function loadship(){
//             //加载 所有的船公司名字简称和相应的id
            var ship_length =js_ship_boat.length;
            var shipHtml = '';
            for(var i=0;i<ship_length;i++){
                shipHtml += '<option  value="' + js_ship_boat[i].ship_id +'">' + js_ship_boat[i].ship_name + '</option>';  
            } 
            $form.find('select[name=ship]').append(shipHtml);
            form.render();
        }


        
    //加载省数据
        function loadProvince() {
            var proHtml = '';
            for (var i = 0; i < areaData.length; i++) {
                console.log(areaData);
                proHtml += '<option  style="width: 40px"  value="' + areaData[i].provinceCode + '_' + areaData[i].mallCityList.length + '_' + i + '">' + areaData[i].provinceName + '</option>';
            }
            //初始化省数据
            $form.find('select[name=province]').append(proHtml);
            form.render();
               form.on('select(province)', function(data) {
                $form.find('select[name=area]').html('<option value="">请选择县/区</option>').parent().hide();
                var value = data.value;
                var d = value.split('_');
                var code = d[0];
                var count = d[1];
                var index = d[2];
                if (count > 0) {
                    loadCity(areaData[index].mallCityList);
                } else {
                    $form.find('select[name=city]').parent().hide();
                }
            });
        }
        
    //加载市数据
        function loadCity(citys) {
            var cityHtml = '';
            for (var i = 0; i < citys.length; i++) {
                cityHtml += '<option  style="width: 40px" value="' + citys[i].cityCode + '_' + citys[i].mallPortList.length + '_' + i + '">' + citys[i].cityName + '</option>';
            }
            $form.find('select[name=city]').html(cityHtml).parent().show();
            form.render();
            form.on('select(city)', function(data) {
                var value = data.value;
                var d = value.split('_');
                var code = d[0];
                var count = d[1];
                var index = d[2];
                if (count > 0) {
                    //将城市Id 传给港口loadPort()
                    loadPort(citys[index].mallPortList);
                } else {
                    $form.find('select[name=area]').parent().hide();
                }
            });
        }
     
        //加载对应城市的港口，
        function loadPort(ports){
            //console.log(ports);
            var areaHtml = '';
            for(var i=0;i<ports.length;i++){
                areaHtml += '<option  value="' + ports[i].portCode +'_'+ ports[i].portName + '">' + ports[i].portName + '</option>';  
            }
            $form.find('select[name=area]').html(areaHtml).parent().show();
            form.render();
            form.on('select(area)', function(data) {
                 var port =data.value.split('_');
                 var port_id =port['0'];
                 var port_name=port['1'];
                var mark = document.getElementById('search_port');
                 //已经存的港口就不执行
                if(! document.getElementById(port_id+'_'+port_name)  ){
                    selectPortShip(port_id,port_name,mark);
                } 
            } ) 
        
        }
        
        
        function  selectPortShip(port_id,port_name,mark){
            var btn =document.createElement('button');
                btn.className="layui-btn layui-btn-normal";
                btn.style="display: inline\;" ;
                btn.innerHTML=port_name;
                btn.setAttribute('id',(port_id+'_'+port_name))
                btn.addEventListener("click",function() {
                        del(this);
                        return false;
                });
            var ipt= document.createElement('input');
                ipt.type="hidden";
                ipt.name='port_code[]';
                ipt.value=port_id;
            var  i_tag=document.createElement('i');
                 i_tag.className="layui-icon";
                 i_tag.innerHTML="&#xe640\;";
            btn.appendChild(ipt);   
            btn.appendChild(i_tag);
            $(mark).html(btn);
         }
         
        function del(obj){
            obj.setAttribute('style','display: none;');
           // 删除button的子节点
            var childs = obj.childNodes; 
                for(var i = childs.length - 1; i >= 0; i--) { 
                    obj.removeChild(childs[i]); 
                }
                //删除本身button
                obj.parentNode.removeChild(obj);
         }

         
         
        function toajax (){
                var loading = layer.load(1);
                post_adduser = true;    
                $.ajax({
                    type:'POST',
                    url:"<{:url('incidentalToAdd')}>",
                    data:$("#routeaddform").serialize(),
                    dataType:"json",
                    success:function(status){
                        if(status>0){
                            post_adduser = false;
                            layer.close(loading);
                            layer.msg("添加成功", { icon: 6, time: 1000 }, function () {
                            // 获得frame索引
                            parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                        }else{
                            post_adduser = false;
                            layer.close(loading);
                            layer.msg("添加失败", { icon: 5 });
                            }
                            },
                        error: function () {
                                post_adduser = false; //AJAX失败也需要将标志标记为可提交状态
                                layer.close(loading);
                                layer.msg("添加失败", { icon: 5 });
                            }
                });
                return false;//只此一句
            }          
      
</script>
  </body>
  </html>