<{include file='./public/header' /}>
  <body>
    <style>
      .zi span{
        font-size: 14px;
        display: inline-block;
        padding: 5px;
      }
      .tij {
        text-align: right;
      }
    </style>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite>
        </a>
      </span>
      <a class="layui-btn layui-btn-small an" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon">ဂ</i>
      </a>
      <a class="layui-btn layui-btn-warm an" title="增加">增加部门</a>
    </div>
    <div class="x-body layui-row">
      <!--无限极部门分类-->
      <div class="layui-col-xs2 bumen">
        <{$tree}>
      </div>

      <!--编辑子类目-->
      <div class="layui-col-xs9 zi">
        <span>现有部门：</span>
          <{volist name='list' id ='item'}> 
          <span><{$item.title}></span>
          <{/volist}>

           <!-- 新增部门 -->
        <div class="layui-col-xs12 xin">
          <span>新增部门：</span>
          <form id="new_team" class="layui-form">

          </form>
        </div>
        <div class="tij">
          <a class="layui-btn" lay-submit="" lay-filter="demo1">提交</a>
        </div>
      </div>


     

    <script>
      layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

      //给状态加样式
      for (let i = 0; i < $('.zt').length; i++) { 
        if ($('.zt').eq(i).html() == '启用') {
          $('.zt').eq(i).addClass('layui-btn-normal');
        } else {
          $('.zt').eq(i).addClass('layui-btn-danger');
        }
      }


      function toajax(id, status) {
        $.ajax({
          type: 'post',
          url: "<{:url('admin/keeper/userStop')}>?id=" + id + '&' + status,
          dataType: "json",
          success: function (data) {
            console.log(data);
            if (data == 1) {
              // alert("提交成功");
              layui.layer.msg('提交成功', {icon: 1,time: 1000});
            } else {
              
              // alert("提交失败");
              layui.layer.msg('提交失败', {icon: 2,time: 1000});
            }
          }
        })
      }


      $('.xin,.tij').hide();
      var boot = false;
      $('.an').click(function () {
        $('#new_team').append('<div class="layui-input-inline" style="margin:10px;">' +
          '<input name="cutoff_date" class="layui-input" value="" type="text">' +
          '</div>');
        $('.you').children('input').addClass('xian').attr('readonly', true);
        $('.xin,.tij').show();
        boot = true;
      });

      $('.tij a').click(function () {
        let list = $('#new_team').serialize();
        $.post(url,{data:list},function(res){
          
        })
        
      });

    </script>
  </body>

  </html>