<{include file='./public/header' /}>

  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite>
        </a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);"
        title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i>
      </a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input type="text" name="username" placeholder="账号名" autocomplete="off" class="layui-input">
          <button class="layui-btn" lay-submit="" lay-filter="sreach">
            <i class="layui-icon">&#xe615;</i>
          </button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()">
          <i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','<{:url("admin/Member/mAdd")}>',600,400)">
          <i class="layui-icon"></i>添加</button>
        <!-- <span class="x-right" style="line-height:40px">总共有<{10*$page}>条记录</span>-->
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>账号</th>
            <th>姓名</th>
            <th>部门</th>
            <th>负责区域</th>
            <th>用户状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
            
        <{volist name="list" id ="vo"}>
          <tr>
            <td class="tdata"><{$vo.id}></td>
            <td><{$vo.user_code}></td>
            <td><{$vo.user_name}></td>
            <td><{$vo.title}></td>
            <td>
            <?php if(array_key_exists('area_list',$vo)){
                foreach($vo['area_list'] as $code=>$area){
                     echo"<input type='text' name=".$code." value=".$area."  class ='layui-btn layui-btn-mini' >";
                }
               } ?>
            </td>
            <td class="td-status">
                <?php echo $vo['status']==1? '<span class="layui-btn layui-btn-mini zt">启用</span></td>' : 
                   '<span class="layui-btn layui-btn-mini zt layui-btn-disabled">停用</span></td>'
                ?>
            <td class="td-manage">
              <a onclick="member_stop(this,'<{$vo.id}>')" href="javascript:;"  title="启用">
                <i class="layui-icon">&#xe601;</i>
              </a>
              <a title="编辑"  onclick="x_admin_show('编辑','<{:url('admin/keeper/userEdit')}>?uid=<{$vo.id}>',600,400)" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
              </a>
            </td>
          </tr>
         <{/volist}>
        </tbody>
      </table>
      <div class="page">
        <div>

        </div>
      </div>

    </div>
    <script>
      layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

      //给状态加样式
      for (let i = 0; i <  $('.zt').length; i++) {
      //  console.log($('.zt').eq(i).html());
        if( $('.zt').eq(i).html() == '启用'){
          $('.zt').eq(i).addClass('layui-btn-normal');
        }else{
          $('.zt').eq(i).addClass('layui-btn-danger');
        }
      }
               /*用户-停用*/
        function member_stop(obj,id){
            layer.confirm('确认要停用吗？',function(index){
                if($(obj).attr('title')=='启用'){
                    
                  //发异步把用户状态进行更改
                    toajax(id,'status=0')
                  $(obj).attr('title','停用')
                  $(obj).find('i').html('&#xe62f;');

                  $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                  layer.msg('停用!',{icon: 5,time:1000});

                }else{
                    toajax(id,'status=1')
                  $(obj).attr('title','启用')
                  $(obj).find('i').html('&#xe601;');

                  $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                  layer.msg('启用!',{icon: 5,time:1000});
                }

            } );
        }   
      function  toajax(id,status){
        $.ajax({
        type: 'post',
        url: "<{:url('admin/keeper/userStop')}>?id="+id+'&'+status,
        dataType: "json",
        success: function (data) {
            console.log(data);
                if (data == 1) {
                // alert("提交成功");
                layui.layer.msg('提交成功', {icon: 1,time: 1000});
                } else {
                  // alert("提交失败");
                  layui.layer.msg('提交失败', {icon: 2,time: 1000});
                }
            }
        })
    }
      
    </script>

  </body>

  </html>