<!-- 海运运价 -->
<{include file='./public/head' /}>
    <body>
        <link rel="stylesheet" href="__STATIC__/css/hyyj.css">
        <div class="mo_cen">
            <div class="xian"></div>
            <div class="mo_nei layui-row">
                <div class="layui-col-xs4 la">
                    <!-- 进过地址加y类样式 -->
                    <div class="guan">广州
                        <br/>3018-03-14
                        <div class="nn">
                            <div class="yuan y"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs4 la">
                    <!-- 航船经过加chuan类样式 -->
                    <div class="guan chuan">
                        <div class="nn">
                            <div class="yuan">船</div>
                        </div>中转地
                        <br/>3018-03-14 </div>
                </div>

                <div class="layui-col-xs4 la">
                    <div class="guan">天津
                        <br/>3018-03-14
                        <div class="nn">
                            <div class="yuan"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>