button {
  cursor: pointer; }

.banner {
  width: 100%;
  height: 500px;
  background-image: url(../image/banner.jpg);
  background-size: 100% 100%;
  margin-bottom: 80px; }

.se {
  width: 80px;
  height: 30px;
  background-color: #2e8de5;
  color: #fff;
  border-radius: 15px;
  cursor: pointer; }

.xxtx {
  width: 80%;
  margin: 0 auto; }
  .xxtx .lc {
    width: 100%;
    height: 50px; }
    .xxtx .lc ul {
      width: 100%;
      padding-left: 10%; }
      .xxtx .lc ul li {
        float: left;
        width: 15%;
        height: 15px;
        line-height: 15px;
        background-color: #2e8de5;
        padding: 5px 0;
        color: #fff;
        margin-left: 5px;
        text-align: center;
        font-size: 12px; }
        .xxtx .lc ul li span {
          display: inline-block;
          width: 15px;
          height: 15px;
          line-height: 15px;
          color: #2e8de5;
          background-color: #fff;
          border-radius: 50%; }
      .xxtx .lc ul li:nth-child(3) {
        width: 20%;
        height: 20px;
        line-height: 20px;
        margin-top: -2.5px;
        font-size: 18px; }
        .xxtx .lc ul li:nth-child(3) span {
          width: 20px;
          height: 20px;
          line-height: 20px; }
      .xxtx .lc ul li:nth-child(5), .xxtx .lc ul li:nth-child(7) {
        background: #aaa; }
        .xxtx .lc ul li:nth-child(5) span, .xxtx .lc ul li:nth-child(7) span {
          color: #aaa; }
      .xxtx .lc ul .jt {
        width: 5%;
        background: #fff;
        color: #000;
        font-size: 18px;
        font-weight: 500; }
  .xxtx .xxtx_dd {
    border: 1px solid #808080;
    padding: 0px 10px 10px;
    overflow: hidden;
    margin: 30px 0; }
    .xxtx .xxtx_dd .xx {
      padding: 10px 0;
      border-bottom: 1px solid #808080;
      margin-bottom: 20px; }
    .xxtx .xxtx_dd .dd {
      height: 100px;
      text-align: center;
      border-right: 1px solid #808080; }
      .xxtx .xxtx_dd .dd .zhong {
        margin-top: 20px; }
        .xxtx .xxtx_dd .dd .zhong span {
          color: #999; }
        .xxtx .xxtx_dd .dd .zhong p {
          color: red; }
          .xxtx .xxtx_dd .dd .zhong p strong {
            font-size: 22px; }
        .xxtx .xxtx_dd .dd .zhong .chec {
          margin: 5px 0; }
      .xxtx .xxtx_dd .dd .you {
        float: right;
        margin-right: 45px; }
      .xxtx .xxtx_dd .dd:last-child {
        border-right: 0px; }
  .xxtx .er {
    overflow: hidden;
    border-right: 1px solid #808080;
    padding: 10px; }
    .xxtx .er .zhong {
      text-align: center;
      margin: 10px; }
      .xxtx .er .zhong .chec {
        margin: 5px; }
    .xxtx .er:last-child {
      border-right: 0px; }
    .xxtx .er .er_anniu {
      float: right;
      margin-top: -5px; }
      .xxtx .er .er_anniu button {
        width: 100px;
        height: 30px;
        border: 0; }
    .xxtx .er .grid-demo {
      height: 35px;
      margin-top: 20px; }
      .xxtx .er .grid-demo > .layui-col-xs3, .xxtx .er .grid-demo .layui-col-xs2, .xxtx .er .grid-demo .layui-col-xs4, .xxtx .er .grid-demo .layui-col-xs6 {
        text-align: right;
        height: 35px;
        line-height: 35px; }
        .xxtx .er .grid-demo > .layui-col-xs3 span, .xxtx .er .grid-demo .layui-col-xs2 span, .xxtx .er .grid-demo .layui-col-xs4 span, .xxtx .er .grid-demo .layui-col-xs6 span {
          color: red; }
      .xxtx .er .grid-demo input, .xxtx .er .grid-demo .select {
        width: 80%;
        height: 30px;
        padding-left: 13px; }
      .xxtx .er .grid-demo .select {
        border-radius: 0; }
        .xxtx .er .grid-demo .select select {
          padding: 3px; }
        .xxtx .er .grid-demo .select:before {
          top: 0px;
          right: 1.5em; }
      .xxtx .er .grid-demo d {
        border: 1px solid #808080;
        display: inline-block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin-right: 9px; }
    .xxtx .er .ds {
      height: 35px;
      margin-top: 20px; }
      .xxtx .er .ds > .layui-col-xs4, .xxtx .er .ds .layui-col-xs8 {
        text-align: right;
        height: 35px;
        line-height: 35px; }
        .xxtx .er .ds > .layui-col-xs4 span, .xxtx .er .ds .layui-col-xs8 span {
          color: red; }
      .xxtx .er .ds input, .xxtx .er .ds .select {
        width: 80%;
        height: 30px;
        padding-left: 13px; }
      .xxtx .er .ds .select {
        border-radius: 0; }
        .xxtx .er .ds .select select {
          padding: 3px; }
        .xxtx .er .ds .select:before {
          top: 0px;
          right: 1.5em; }
      .xxtx .er .ds d {
        border: 1px solid #808080;
        display: inline-block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin-right: 9px; }
    .xxtx .er .nei {
      margin-top: 0; }
  .xxtx .hx {
    margin-bottom: 20px;
    height: 100px;
    overflow: auto; }
  .xxtx .tjiao {
    width: 30%;
    margin: 50px auto; }
    .xxtx .tjiao a {
      display: inline-block;
      height: 35px;
      width: 100px;
      line-height: 35px;
      text-align: center;
      color: #fff;
      background-color: #ff9f19;
      border: 0;
      cursor: pointer; }
      .xxtx .tjiao a:nth-child(2) {
        float: right; }

.kpf {
  padding: 15px 10px;
  border: 1px solid #808080;
  border-top: 0px;
  border-bottom: 0px;
  overflow: hidden; }
  .kpf .bei .you {
    height: 20px;
    line-height: 20px;
    text-align: right; }
  .kpf .bei .inp input {
    height: 20px;
    line-height: 20px;
    border: 0px;
    border-bottom: 1px solid #000; }
  .kpf .fp {
    height: 30px;
    line-height: 30px;
    margin: 10px 0 5px; }
    .kpf .fp .fp1 {
      text-align: right; }
    .kpf .fp .ze {
      height: 30px; }
      .kpf .fp .ze .zep {
        height: 30px;
        line-height: 35px; }
      .kpf .fp .ze .select:before {
        top: 2px; }
    .kpf .fp .tx {
      display: none; }
      .kpf .fp .tx a {
        cursor: pointer;
        color: #2e8de5; }

.sun {
  overflow: hidden;
  border: 1px solid #808080;
  border-top: 0px;
  height: 35px;
  line-height: 35px;
  text-align: right;
  padding-bottom: 10px; }
  .sun strong {
    font-size: 20px;
    color: red;
    margin-right: 40px; }

#modal-default {
  top: 40%; }
  #modal-default .iziModal-header {
    background-color: #b6b6b6 !important; }
    #modal-default .iziModal-header h2 {
      text-align: left;
      color: #000; }
  #modal-default .iziModal-content {
    text-align: center; }
    #modal-default .iziModal-content .qr {
      margin: 30px 0; }
    #modal-default .iziModal-content .en a {
      display: inline-block;
      height: 35px;
      width: 100px;
      line-height: 35px;
      text-align: center;
      color: #fff;
      background-color: #2e8de5;
      border-radius: 10px; }

#wt1, #wt2, #modal-default {
  padding: 10px;
  display: none; }

#wt1 .biao .xin li {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer; }
  #wt1 .biao .xin li:hover .nei {
    border: 1px solid #ff9f19;
    background: #f5f5f5; }
  #wt1 .biao .xin li .nei {
    border: 1px solid #808080;
    padding: 10px;
    overflow: hidden; }
    #wt1 .biao .xin li .nei .tiao {
      height: 25px;
      line-height: 25px;
      margin: 10px 0; }
    #wt1 .biao .xin li .nei .le {
      float: left;
      width: 80px;
      text-align: right; }
    #wt1 .biao .xin li .nei .rig {
      width: 330px;
      float: left; }
      #wt1 .biao .xin li .nei .rig .wu {
        height: 50px; }

.demo-class .layui-layer-title {
  background-color: #2e8de5;
  color: #fff; }

/*# sourceMappingURL=lrdd.css.map */
