<{include file='./public/header'/}>
  
  <body>
    <div class="x-body">
        <form class="layui-form" id="caraddform">
            
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>姓名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="car_name" name="name" class="layui-input" value="">
                </div>
                 <label class="layui-form-label">
                    <span class="x-red">*</span>职务
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="car_name" name="position" class="layui-input" value="">
                </div>
            </div>
          
             <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>电话
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="address" name="tel" class="layui-input" value="">
                </div>
                <label class="layui-form-label">
                    <span class="x-red">*</span>手机
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="address" name="phone" class="layui-input" value="">
                </div>
            </div>
             <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>QQ
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="address" name="qq" class="layui-input" value="">
                </div>
                <label class="layui-form-label">
                    <span class="x-red">*</span>传真
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="address" name="fax" class="layui-input" value="">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                <span class="x-red">*</span>车队名字
                </label>
                <div class="layui-input-inline">
                    <select name="car" lay-filter="car" lay-search >
                        <option value="">输入车队名字</option>
                    </select>
                </div>
            </div>
        <!--  <button id="btn_tag" class="layui-btn layui-btn-normal"  style="display: none;"  onclick="del(this) ;return false">
               <input id ="input_tag" type="hidden"  name="name" value="id"><i id ="i_tag" class="layui-icon">&#xe640;</i> </button>-->
            <div class="layui-form-item" id ="search_port">
            </div>
            
            <div class="layui-form-item">
                <label  class="layui-form-label">
                </label>
                <input type="button" value="确 认" class="layui-btn" id="editbtn"  onclick="toajax()"> 
            </div>
        </form>
    </div>
 <script type="text/javascript" src="/static/admin/js/area.js"></script>
 <script>
     // 所有的车队list
       var  port_list ='<?php echo json_encode($list); ?>' 
            port_list = JSON.parse(port_list); 
            console.log(port_list);
        //ajax url生成
       var url="<{:url('admin/CarMan/to_add')}>";
 
  //初始数据
        var areaData = port_list;
        var $form;
        var form;
        var $;
        layui.use(['jquery', 'form'], function() {
            $ = layui.jquery;
            form = layui.form;
            $form = $('form');
            loadCarlist();  //选择港口
        }); 
        
    
    //加载省数据
        function loadCarlist() {
            var proHtml = '';
            for (var i = 0; i < areaData.length; i++) {
                proHtml += '<option value="' + areaData[i].id + '_'  + areaData[i].car_name + '">' + areaData[i].car_name + '</option>';
            }
            //初始化省数据
            $form.find('select[name=car]').append(proHtml);
            form.render();
//            form.on('select(province)', function(data) {
//                $form.find('select[name=area]').html('<option value="">请选择县/区</option>').parent().hide();
//                var value = data.value;
//                var d = value.split('_');a
//                var code = d[0];
//                var count = d[1];
//                var index = d[2];
//                if (count > 0) {
//                    loadCity(areaData[index].mallCityList);
//                } else {
//                    $form.find('select[name=city]').parent().hide();
//                }
//            });
        }
   
        
        function toajax (){
            var loading = layer.load(1);
            post_adduser = true;    
                $.ajax({
                    type:'POST',
                    url:url,    
                    data: $("#caraddform").serialize(),
                    dataType:"json",
                    success:function(status){
                        if(status>0){
                            post_adduser = false;
                            layer.close(loading);
                            layer.msg("添加成功", { icon: 6, time: 1000 }, function () {
                            // 获得frame索引
                            parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                        }else{
                            post_adduser = false;
                            layer.close(loading);
                            layer.msg("添加失败", { icon: 5 });
                            }
                            },
                        error: function () {
                                post_adduser = false; //AJAX失败也需要将标志标记为可提交状态
                                layer.close(loading);
                                layer.msg("添加失败", { icon: 5 });
                            }
                });
                return false;//只此一句
            }         
         
        
     
 </script>


</body>
</html>

